Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

asciiart: add Spanish translation (#15260)
  pages.es/linux/asciiart.md
Owners: @kant, @tricantivu, @ikks

asciiart: add Spanish translation (#15260)
  pages.es/linux/asciiart.md
Owners: @kant, @tricantivu, @ikks

ascii: add Spanish translation (#15258)
  pages.es/linux/ascii.md
Owners: @kant, @tricantivu, @ikks

ascii: add Spanish translation (#15258)
  pages.es/linux/ascii.md
Owners: @kant, @tricantivu, @ikks

lsfd: add page (#15284)
  pages/linux/lsfd.md
Owners: @cyqsimon

lsfd: add page (#15284)
  pages/linux/lsfd.md
Owners: @cyqsimon

set: add parameter reset (#15236)
  pages/common/set.md
Owners: none

set: add parameter reset (#15236)
  pages/common/set.md
Owners: none

v: add page (#15235)
  pages/common/v.md
Owners: none

v: add page (#15235)
  pages/common/v.md
Owners: none

unzip: add Spanish translation (#15226)
  pages.es/common/unzip.md
Owners: @kant, @tricantivu, @ikks

unzip: add Spanish translation (#15226)
  pages.es/common/unzip.md
Owners: @kant, @tricantivu, @ikks

lynx: add Spanish translation (#15219)
  pages.es/common/lynx.md
Owners: @kant, @tricantivu, @ikks

lynx: add Spanish translation (#15219)
  pages.es/common/lynx.md
Owners: @kant, @tricantivu, @ikks

emacs: add Spanish translation (#15220)
  pages.es/common/emacs.md
Owners: @kant, @tricantivu, @ikks

emacs: add Spanish translation (#15220)
  pages.es/common/emacs.md
Owners: @kant, @tricantivu, @ikks

emacsclient: add Spanish translation (#15221)
  pages.es/common/emacsclient.md
Owners: @kant, @tricantivu, @ikks

emacsclient: add Spanish translation (#15221)
  pages.es/common/emacsclient.md
Owners: @kant, @tricantivu, @ikks

tac: add Spanish translation (#15222)
  pages.es/linux/tac.md
Owners: @kant, @tricantivu, @ikks

tac: add Spanish translation (#15222)
  pages.es/linux/tac.md
Owners: @kant, @tricantivu, @ikks

cat: add Spanish translation (#15224)
  pages.es/linux/cat.md
Owners: @kant, @tricantivu, @ikks

cat: add Spanish translation (#15224)
  pages.es/linux/cat.md
Owners: @kant, @tricantivu, @ikks

zip: add Spanish translation (#15225)
  pages.es/linux/zip.md
Owners: @kant, @tricantivu, @ikks

zip: add Spanish translation (#15225)
  pages.es/linux/zip.md
Owners: @kant, @tricantivu, @ikks

{: add page (#15234)
  pages/common/{.md
Owners: none

{: add page (#15234)
  pages/common/{.md
Owners: none

Update pages/common/until.md
  pages/common/until.md
Owners: none

Clarify description
  pages/common/suspend.md
Owners: none

pacman-q: add alias page; pacman-query: update page (#15180)
  pages/linux/pacman-q.md
  pages/linux/pacman-query.md
Owners: @cyqsimon

pacman-q: add alias page; pacman-query: update page (#15180)
  pages/linux/pacman-q.md
  pages/linux/pacman-query.md
Owners: @cyqsimon

Update pages.ja/common/diff.md
  pages.ja/common/diff.md
Owners: none

bclm, autoraise: add page; gallery-dl: edit page (#15161)
  pages/common/gallery-dl.md
  pages/osx/autoraise.md
  pages/osx/bclm.md
Owners: none

bclm, autoraise: add page; gallery-dl: edit page (#15161)
  pages/common/gallery-dl.md
  pages/osx/autoraise.md
  pages/osx/bclm.md
Owners: none

let: move to `common` (#15239)
  pages/common/let.md
Owners: none

let: move to `common` (#15239)
  pages/common/let.md
Owners: none

Updated description for accuracy
  pages/common/speedtest-rs.md
Owners: none

Update compgen.md
  pages/common/compgen.md
Owners: none

speedtest: clarify tool distinction and improve usage examples
  pages/common/speedtest.md
Owners: none

updated description
  pages/common/speedtest.md
Owners: none

pacman-files: add Spanish translation
  pages.es/linux/pacman-files.md
Owners: @kant, @tricantivu, @ikks
