Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

ls: update documentation link (#15168)
  pages.ar/common/ls.md
  pages.ca/common/ls.md
  pages.de/common/ls.md
  pages.es/common/ls.md
  pages.fa/common/ls.md
  pages.fr/common/ls.md
  pages.hi/common/ls.md
  pages.id/common/ls.md
  pages.it/common/ls.md
  pages.ja/common/ls.md
  pages.ko/common/ls.md
  pages.ne/common/ls.md
  pages.nl/common/ls.md
  pages.pl/common/ls.md
  pages.pt_BR/common/ls.md
  pages.ru/common/ls.md
  pages.ta/common/ls.md
  pages.th/common/ls.md
  pages.zh/common/ls.md
  pages.zh_TW/common/ls.md
  pages/common/ls.md
Owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @blueskyson, @einverne

ls: update documentation link (#15168)
  pages.ar/common/ls.md
  pages.ca/common/ls.md
  pages.de/common/ls.md
  pages.es/common/ls.md
  pages.fa/common/ls.md
  pages.fr/common/ls.md
  pages.hi/common/ls.md
  pages.id/common/ls.md
  pages.it/common/ls.md
  pages.ja/common/ls.md
  pages.ko/common/ls.md
  pages.ne/common/ls.md
  pages.nl/common/ls.md
  pages.pl/common/ls.md
  pages.pt_BR/common/ls.md
  pages.ru/common/ls.md
  pages.ta/common/ls.md
  pages.th/common/ls.md
  pages.zh/common/ls.md
  pages.zh_TW/common/ls.md
  pages/common/ls.md
Owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @blueskyson, @einverne

Update pages.es/linux/pdfxup.md
  pages.es/linux/pdfxup.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/pdftoppm.md
  pages.es/linux/pdftoppm.md
Owners: @kant, @tricantivu, @ikks

pdftoppm: add Spanish translation (#15173)
  pages.es/linux/pdftoppm.md
Owners: @kant, @tricantivu, @ikks

pdftoppm: add Spanish translation (#15173)
  pages.es/linux/pdftoppm.md
Owners: @kant, @tricantivu, @ikks

pdftohtml: add Spanish translation (#15172)
  pages.es/linux/pdftohtml.md
Owners: @kant, @tricantivu, @ikks

pdftohtml: add Spanish translation (#15172)
  pages.es/linux/pdftohtml.md
Owners: @kant, @tricantivu, @ikks

pdfdetach: add Spanish translation (#15171)
  pages.es/linux/pdfdetach.md
Owners: @kant, @tricantivu, @ikks

pdfdetach: add Spanish translation (#15171)
  pages.es/linux/pdfdetach.md
Owners: @kant, @tricantivu, @ikks

pdfcrop: add Spanish translation (#15170)
  pages.es/linux/pdfcrop.md
Owners: @kant, @tricantivu, @ikks

pdfcrop: add Spanish translation (#15170)
  pages.es/linux/pdfcrop.md
Owners: @kant, @tricantivu, @ikks

pdfattach: add Spanish translation (#15169)
  pages.es/linux/pdfattach.md
Owners: @kant, @tricantivu, @ikks

pdfattach: add Spanish translation (#15169)
  pages.es/linux/pdfattach.md
Owners: @kant, @tricantivu, @ikks

gh-skyline: add Spanish translation (#15167)
  pages.es/common/gh-skyline.md
Owners: @kant, @tricantivu, @ikks

gh-skyline: add Spanish translation (#15167)
  pages.es/common/gh-skyline.md
Owners: @kant, @tricantivu, @ikks

Update pages/osx/darwin-rebuild.md
  pages/osx/darwin-rebuild.md
Owners: none

Update pages/osx/darwin-rebuild.md
  pages/osx/darwin-rebuild.md
Owners: none

cidr: add page (#15176)
  pages/common/cidr.md
Owners: none

cidr: add page (#15176)
  pages/common/cidr.md
Owners: none

grub2-mkpasswd-pbkdf2: add page (#15027)
  pages/linux/grub2-mkpasswd-pbkdf2.md
Owners: @cyqsimon

grub2-mkpasswd-pbkdf2: add page (#15027)
  pages/linux/grub2-mkpasswd-pbkdf2.md
Owners: @cyqsimon

feat: add pacman-d/chore: updated pacman-database to shortform
  pages/linux/pacman-d.md
  pages/linux/pacman-database.md
Owners: @cyqsimon

feat: options also in short form
  pages/linux/pacman-database.md
Owners: @cyqsimon

feat: pacman-deptest
  pages/linux/pacman-de.md
  pages/linux/pacman-deptest.md
Owners: @cyqsimon

feat: pacman-upgrade
  pages/linux/pacman-u.md
  pages/linux/pacman-upgrade.md
Owners: @cyqsimon

fix: removed extra -
  pages/linux/pacman-deptest.md
Owners: @cyqsimon

feat: pacman query
  pages/linux/pacman-q.md
  pages/linux/pacman-query.md
Owners: @cyqsimon

chore: help goes over 8
  pages/linux/pacman-query.md
Owners: @cyqsimon

pgbench: add Spanish translation
  pages.es/common/pgbench.md
Owners: @kant, @tricantivu, @ikks

fix: remove ws
  pages/linux/pacman-query.md
Owners: @cyqsimon

pg_ctl: add Spanish translation
  pages.es/common/pg_ctl.md
Owners: @kant, @tricantivu, @ikks

pg_dump: add Spanish translation
  pages.es/common/pg_dump.md
Owners: @kant, @tricantivu, @ikks

pg_dumpall: add Spanish translation
  pages.es/common/pg_dumpall.md
Owners: @kant, @tricantivu, @ikks

pg_isready: add Spanish translation
  pages.es/common/pg_isready.md
Owners: @kant, @tricantivu, @ikks

pg_restore: add Spanish translation
  pages.es/common/pg_restore.md
Owners: @kant, @tricantivu, @ikks

pgrep: add Spanish translation
  pages.es/common/pgrep.md
Owners: @kant, @tricantivu, @ikks

patch: add Spanish translation
  pages.es/common/patch.md
Owners: @kant, @tricantivu, @ikks

pdfxup: add Spanish translation (#15174)
  pages.es/linux/pdfxup.md
Owners: @kant, @tricantivu, @ikks

pdfxup: add Spanish translation (#15174)
  pages.es/linux/pdfxup.md
Owners: @kant, @tricantivu, @ikks
