Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @marchersimon, @navarroaxel, @mebeim, @yutyo, @acuteenvy, @waldyrious, @kbdharun, @blueskyson, @einverne

Update pages/windows/net.md
  pages/windows/net.md
Owners: none

Update pages/windows/net.md
  pages/windows/net.md
Owners: none

Update pages/windows/net.md
  pages/windows/net.md
Owners: none

Update pages/windows/net.md
  pages/windows/net.md
Owners: none

Update pages/windows/net.md
  pages/windows/net.md
Owners: none

Update pages/windows/net.md
  pages/windows/net.md
Owners: none

qm-suspend: add page (#10469)
  pages/linux/qm-suspend.md
Owners: none

qm-suspend: add page (#10469)
  pages/linux/qm-suspend.md
Owners: none

ninja: add job limit example
  pages.zh/common/ninja.md
  pages/common/ninja.md
Owners: @blueskyson, @einverne

Apply suggestions from code review
  pages.zh/common/ninja.md
  pages/common/ninja.md
Owners: @blueskyson, @einverne

Improve wording
  pages/common/yard.md
Owners: none

yard: add page (#10486)
  pages/common/yard.md
Owners: none

yard: add page (#10486)
  pages/common/yard.md
Owners: none

net: add page (#10487)
  pages/windows/net.md
Owners: none

net: add page (#10487)
  pages/windows/net.md
Owners: none

farge: add page (#10482)
  pages/linux/farge.md
Owners: none

farge: add page (#10482)
  pages/linux/farge.md
Owners: none

improve wording
  pages.de/common/bird.md
Owners: @pixelcmtd, @marchersimon

Improve translation
  pages.de/common/babeld.md
  pages.de/common/birdc.md
  pages.de/common/fastd.md
  pages.de/common/pystun3.md
  pages.de/common/stun.md
Owners: @pixelcmtd, @marchersimon

Improve formatting
  pages.de/common/babeld.md
  pages.de/common/fastd.md
Owners: @pixelcmtd, @marchersimon

Improve formatting
  pages.de/common/bird.md
Owners: @pixelcmtd, @marchersimon

birdc, fastd: remove double colon; babeld, bird, birdc, fastd, pystun3, stun: add German translation (#10351)
  pages.de/common/babeld.md
  pages.de/common/bird.md
  pages.de/common/birdc.md
  pages.de/common/fastd.md
  pages.de/common/pystun3.md
  pages.de/common/stun.md
  pages/common/birdc.md
  pages/common/fastd.md
Owners: @pixelcmtd, @marchersimon

birdc, fastd: remove double colon; babeld, bird, birdc, fastd, pystun3, stun: add German translation (#10351)
  pages.de/common/babeld.md
  pages.de/common/bird.md
  pages.de/common/birdc.md
  pages.de/common/fastd.md
  pages.de/common/pystun3.md
  pages.de/common/stun.md
  pages/common/birdc.md
  pages/common/fastd.md
Owners: @pixelcmtd, @marchersimon

locate: wrap glob with quotes
  pages/linux/locate.md
Owners: none

Update pages/linux/systemd-firstboot.md
  pages/linux/systemd-firstboot.md
Owners: none

Update pages/linux/systemd-firstboot.md
  pages/linux/systemd-firstboot.md
Owners: none

update page qm-resize
  pages/linux/qm-resize.md
Owners: none

Update pages/windows/netsh-interface-portproxy.md
  pages/windows/netsh-interface-portproxy.md
Owners: none

Update pages/windows/netsh-interface-portproxy.md
  pages/windows/netsh-interface-portproxy.md
Owners: none

netsh-interface-portproxy: add page (#10485)
  pages/windows/netsh-interface-portproxy.md
Owners: none

netsh-interface-portproxy: add page (#10485)
  pages/windows/netsh-interface-portproxy.md
Owners: none

traceroute: update page (#10491)
  pages/common/traceroute.md
Owners: none

traceroute: update page (#10491)
  pages/common/traceroute.md
Owners: none

v4l2-ctl: update page (#10464)
  pages/linux/v4l2-ctl.md
Owners: none

v4l2-ctl: update page (#10464)
  pages/linux/v4l2-ctl.md
Owners: none

mtr: update page (#10490)
  pages/common/mtr.md
Owners: none

mtr: update page (#10490)
  pages/common/mtr.md
Owners: none

Update pages/linux/systemd-firstboot.md
  pages/linux/systemd-firstboot.md
Owners: none

Update as per suggestion
  pages/linux/qm-disk-resize.md
Owners: none

typst: add page
  pages/common/typst.md
Owners: none

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @marchersimon
/pages.es/ @navarroaxel
/pages.it/ @mebeim @yutyo
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/contributing-guides/*.de.md @pixelcmtd @marchersimon
/contributing-guides/*.es.md @navarroaxel
/contributing-guides/*.it.md @mebeim @yutyo
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
