Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @marchersimon, @navarroaxel, @mebeim, @yutyo, @acuteenvy, @waldyrious, @kbdharun, @blueskyson, @einverne

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @marchersimon
/pages.es/ @navarroaxel
/pages.it/ @mebeim @yutyo
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/contributing-guides/*.de.md @pixelcmtd @marchersimon
/contributing-guides/*.es.md @navarroaxel
/contributing-guides/*.it.md @mebeim @yutyo
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

fix: put beginning verbs in infinitive
  pages.pt_BR/linux/btrfs-restore.md
  pages.pt_BR/linux/btrfs-scrub.md
  pages.pt_BR/linux/btrfs-version.md
  pages.pt_BR/linux/mkfs.btrfs.md
Owners: @waldyrious

7z, 7za, 7zr, aapt: add pt_PT translations
  pages.pt_PT/common/7z.md
  pages.pt_PT/common/7za.md
  pages.pt_PT/common/7zr.md
  pages.pt_PT/common/aapt.md
Owners: @waldyrious

7z, 7za, 7zr, aapt: add pt_PT translations fix build errors
  pages.pt_PT/common/7za.md
  pages.pt_PT/common/7zr.md
  pages.pt_PT/common/aapt.md
Owners: @waldyrious

git-config: add German translation (#10292)
  pages.de/common/git-config.md
Owners: @pixelcmtd, @marchersimon

git-config: add German translation (#10292)
  pages.de/common/git-config.md
Owners: @pixelcmtd, @marchersimon

anki: apply suggestions from code review
  pages.de/common/anki.md
Owners: @pixelcmtd, @marchersimon

Add ps OSX page
  pages/osx/ps.md
Owners: none

ac: Dutch translations
  pages.nl/common/ac.md
Owners: none

ack: Dutch translations
  pages.nl/common/ack.md
Owners: none

acme.sh-dns: Dutch translations
  pages.nl/common/acme.sh-dns.md
Owners: none

acme.sh: Dutch translations
  pages.nl/common/acme.sh.md
Owners: none

curl: add ipv6 example (EN)
  pages/common/curl.md
Owners: none

curl: add ipv6 example (FR)
  pages.fr/common/curl.md
Owners: none

s/command ?line/command-line/g
  pages/common/clifm.md
  pages/common/cs-complete-dep.md
  pages/common/ern.md
  pages/common/gh-secret-set.md
  pages/common/gnatprep.md
  pages/common/gsutil.md
  pages/common/lli.md
  pages/common/neomutt.md
  pages/common/railway.md
  pages/common/tailscale-up.md
  pages/common/tcc.md
  pages/common/tcsh.md
  pages/common/tts.md
  pages/common/u3d.md
  pages/common/vifm.md
  pages/common/xmlstarlet.md
  pages/common/yolo.md
  pages/linux/getopt.md
  pages/linux/goobook.md
  pages/linux/mpicc.md
  pages/linux/qm-showcmd.md
  pages/linux/toolbox.md
  pages/linux/ttyplot.md
  pages/linux/virt-xml.md
  pages/linux/zathura.md
  pages/windows/diskpart.md
  pages/windows/vcvarsall.md
Owners: none

Replace "Bash" with "Shell"
  pages/common/shift.md
Owners: none

ac, ack, acme.sh, acme.sh-dns: add Dutch translation (#10298)
  pages.nl/common/ac.md
  pages.nl/common/ack.md
  pages.nl/common/acme.sh-dns.md
  pages.nl/common/acme.sh.md
Owners: none

ac, ack, acme.sh, acme.sh-dns: add Dutch translation (#10298)
  pages.nl/common/ac.md
  pages.nl/common/ack.md
  pages.nl/common/acme.sh-dns.md
  pages.nl/common/acme.sh.md
Owners: none

act: add Dutch translation
  pages.nl/common/act.md
Owners: none

acyclic: add Dutch translation
  pages.nl/common/acyclic.md
Owners: none

adb-logcat: add Dutch translation
  pages.nl/common/adb-logcat.md
Owners: none

adb-install: add Dutch translation
  pages.nl/common/adb-install.md
Owners: none

act: add Dutch translation
  pages.nl/common/act.md
Owners: none

adb-logcat: add Dutch translation
  pages.nl/common/adb-logcat.md
Owners: none

acyclic: add Dutch translation
  pages.nl/common/acyclic.md
Owners: none

adb-logcat: add Dutch translation
  pages.nl/common/adb-logcat.md
Owners: none

adb-install: add Dutch translation
  pages.nl/common/adb-install.md
Owners: none

acyclic: add Dutch translation
  pages.nl/common/acyclic.md
Owners: none

act: add Dutch translation
  pages.nl/common/act.md
Owners: none

adb-install: add Dutch translation
  pages.nl/common/adb-install.md
Owners: none

Replace "Bash" with "Shell" (#10301)
  pages/common/shift.md
Owners: none

Replace "Bash" with "Shell" (#10301)
  pages/common/shift.md
Owners: none

*: standardize "command-line" (#10300)
  pages/common/clifm.md
  pages/common/cs-complete-dep.md
  pages/common/ern.md
  pages/common/gh-secret-set.md
  pages/common/gnatprep.md
  pages/common/gsutil.md
  pages/common/lli.md
  pages/common/neomutt.md
  pages/common/railway.md
  pages/common/tailscale-up.md
  pages/common/tcc.md
  pages/common/tcsh.md
  pages/common/tts.md
  pages/common/u3d.md
  pages/common/vifm.md
  pages/common/xmlstarlet.md
  pages/common/yolo.md
  pages/linux/getopt.md
  pages/linux/goobook.md
  pages/linux/mpicc.md
  pages/linux/qm-showcmd.md
  pages/linux/toolbox.md
  pages/linux/ttyplot.md
  pages/linux/virt-xml.md
  pages/linux/zathura.md
  pages/windows/diskpart.md
  pages/windows/vcvarsall.md
Owners: none

*: standardize "command-line" (#10300)
  pages/common/clifm.md
  pages/common/cs-complete-dep.md
  pages/common/ern.md
  pages/common/gh-secret-set.md
  pages/common/gnatprep.md
  pages/common/gsutil.md
  pages/common/lli.md
  pages/common/neomutt.md
  pages/common/railway.md
  pages/common/tailscale-up.md
  pages/common/tcc.md
  pages/common/tcsh.md
  pages/common/tts.md
  pages/common/u3d.md
  pages/common/vifm.md
  pages/common/xmlstarlet.md
  pages/common/yolo.md
  pages/linux/getopt.md
  pages/linux/goobook.md
  pages/linux/mpicc.md
  pages/linux/qm-showcmd.md
  pages/linux/toolbox.md
  pages/linux/ttyplot.md
  pages/linux/virt-xml.md
  pages/linux/zathura.md
  pages/windows/diskpart.md
  pages/windows/vcvarsall.md
Owners: none

xset: add disable bell command (#10281)
  pages/linux/xset.md
Owners: none

xset: add disable bell command (#10281)
  pages/linux/xset.md
Owners: none

webinspectord: add Spanish translation
  pages.es/osx/webinspectord.md
Owners: @navarroaxel

Update xfreerdp.md
  pages/linux/xfreerdp.md
Owners: none

mitmproxy : add the variable "SSLKEYLOGFILE" source : https://docs.mitmproxy.org/stable/howto-wireshark-tls/
  pages/common/mitmproxy.md
Owners: none

Update xfreerdp.md
  pages/linux/xfreerdp.md
Owners: none

Update xfreerdp.md
  pages/linux/xfreerdp.md
Owners: none
