Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

zig: add Spanish translation (#15299)
  pages.es/common/zig.md
Owners: @kant, @tricantivu, @ikks

zbarcam: add Spanish translation (#15298)
  pages.es/linux/zbarcam.md
Owners: @kant, @tricantivu, @ikks

zbarcam: add Spanish translation (#15298)
  pages.es/linux/zbarcam.md
Owners: @kant, @tricantivu, @ikks

zbarimg: add Spanish translation (#15297)
  pages.es/common/zbarimg.md
Owners: @kant, @tricantivu, @ikks

zbarimg: add Spanish translation (#15297)
  pages.es/common/zbarimg.md
Owners: @kant, @tricantivu, @ikks

addr2line: add Spanish translation (#15296)
  pages.es/linux/addr2line.md
Owners: @kant, @tricantivu, @ikks

addr2line: add Spanish translation (#15296)
  pages.es/linux/addr2line.md
Owners: @kant, @tricantivu, @ikks

declare: add Spanish translation (#15294)
  pages.es/common/declare.md
Owners: @kant, @tricantivu, @ikks

declare: add Spanish translation (#15294)
  pages.es/common/declare.md
Owners: @kant, @tricantivu, @ikks

flatpak-run: update page (#15375)
  pages/linux/flatpak-run.md
Owners: @cyqsimon

flatpak-run: update page (#15375)
  pages/linux/flatpak-run.md
Owners: @cyqsimon

apkeep: add page (#15366)
  pages/common/apkeep.md
Owners: none

apkeep: add page (#15366)
  pages/common/apkeep.md
Owners: none

jupyter-lab: add page (#15370)
  pages/common/jupyterlab.md
Owners: none

jupyter-lab: add page (#15370)
  pages/common/jupyterlab.md
Owners: none

vmtouch: add page (#15363)
  pages/common/vmtouch.md
Owners: none

vmtouch: add page (#15363)
  pages/common/vmtouch.md
Owners: none

ppmdraw, ppmglobe, pnmmercator: add pages (#15357)
  pages/common/pnmmercator.md
  pages/common/ppmdraw.md
  pages/common/ppmglobe.md
Owners: none

ppmdraw, ppmglobe, pnmmercator: add pages (#15357)
  pages/common/pnmmercator.md
  pages/common/ppmdraw.md
  pages/common/ppmglobe.md
Owners: none

Update pages/common/llvm-mc.md
  pages/common/llvm-mc.md
Owners: none

rmlint: include some more advanced flags
  pages/common/rmlint.md
Owners: none

lit: add page
  pages/common/lit.md
Owners: none

Update pages.es/common/latexpand.md
  pages.es/common/latexpand.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/latexpand.md
  pages.es/common/latexpand.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/latexpand.md
  pages.es/common/latexpand.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/latexpand.md
  pages.es/common/latexpand.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/latexpand.md
  pages.es/common/latexpand.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/latexpand.md
  pages.es/common/latexpand.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/suspend.md
  pages.es/common/suspend.md
Owners: @kant, @tricantivu, @ikks

Update pages/common/lit.md
  pages/common/lit.md
Owners: none

Update pages/common/lit.md
  pages/common/lit.md
Owners: none

Update rmlint.md
  pages/common/rmlint.md
Owners: none

Update declare.md
  pages.nl/common/declare.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

Update declare.md
  pages.nl/common/declare.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

Update declare.md
  pages.nl/common/declare.md
Owners: @sebastiaanspeck, @leonvsc, @Waples
