Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

Update coreaudiod.md
  pages.es/osx/coreaudiod.md
Owners: @kant, @tricantivu, @ikks

Update ctkd: Spanish translation
  pages.es/osx/ctkd.md
Owners: @kant, @tricantivu, @ikks

Update dhcp6d: Spanish translation
  pages.es/osx/dhcp6d.md
Owners: @kant, @tricantivu, @ikks

lsfd: add longform options (#15291)
  pages/linux/lsfd.md
Owners: @cyqsimon

lsfd: add longform options (#15291)
  pages/linux/lsfd.md
Owners: @cyqsimon

fix: apply suggestions from code review
  pages/common/tcpreplay.md
Owners: none

tcpreplay: add page (#15286)
  pages/common/tcpreplay.md
Owners: none

tcpreplay: add page (#15286)
  pages/common/tcpreplay.md
Owners: none

Update pages/common/adb-uninstall.md
  pages/common/adb-uninstall.md
Owners: none

Update pages/common/adb-connect.md
  pages/common/adb-connect.md
Owners: none

Update pages/common/readarray.md
  pages/common/readarray.md
Owners: none

Update pages/common/readarray.md
  pages/common/readarray.md
Owners: none

schroot: update Spanish translation
  pages.es/linux/schroot.md
Owners: @kant, @tricantivu, @ikks

toolbox: add Spanish translation
  pages.es/linux/toolbox.md
Owners: @kant, @tricantivu, @ikks

toolbox-create: add Spanish translation
  pages.es/linux/toolbox-create.md
Owners: @kant, @tricantivu, @ikks

toolbox-enter: add Spanish translation
  pages.es/linux/toolbox-enter.md
Owners: @kant, @tricantivu, @ikks

toolbox-help: add Spanish translation
  pages.es/linux/toolbox-help.md
Owners: @kant, @tricantivu, @ikks

toolbox-init-container: add Spanish translation
  pages.es/linux/toolbox-init-container.md
Owners: @kant, @tricantivu, @ikks

toolbox-list: add Spanish translation
  pages.es/linux/toolbox-list.md
Owners: @kant, @tricantivu, @ikks

toolbox-rm: add Spanish translation
  pages.es/linux/toolbox-rm.md
Owners: @kant, @tricantivu, @ikks

toolbox-rmi: add Spanish translation
  pages.es/linux/toolbox-rmi.md
Owners: @kant, @tricantivu, @ikks

toolbox-run: add Spanish translation
  pages.es/linux/toolbox-run.md
Owners: @kant, @tricantivu, @ikks

distrobox: add Spanish translation
  pages.es/linux/distrobox.md
Owners: @kant, @tricantivu, @ikks

distrobox-create: add Spanish translation
  pages.es/linux/distrobox-create.md
Owners: @kant, @tricantivu, @ikks

distrobox-enter: add Spanish translation
  pages.es/linux/distrobox-enter.md
Owners: @kant, @tricantivu, @ikks

break: add page (#15238)
  pages/common/break.md
Owners: none

break: add page (#15238)
  pages/common/break.md
Owners: none

distrobox-export: add Spanish translation
  pages.es/linux/distrobox-export.md
Owners: @kant, @tricantivu, @ikks

distrobox-host-exec: add Spanish translation
  pages.es/linux/distrobox-host-exec.md
Owners: @kant, @tricantivu, @ikks

distrobox-list: add Spanish translation
  pages.es/linux/distrobox-list.md
Owners: @kant, @tricantivu, @ikks

distrobox-rm: add Spanish translation
  pages.es/linux/distrobox-rm.md
Owners: @kant, @tricantivu, @ikks

distrobox-stop: add Spanish translation
  pages.es/linux/distrobox-stop.md
Owners: @kant, @tricantivu, @ikks

distrobox-upgrade: add Spanish translation
  pages.es/linux/distrobox-upgrade.md
Owners: @kant, @tricantivu, @ikks

josm: add Spanish translation
  pages.es/common/josm.md
Owners: @kant, @tricantivu, @ikks

Update pages/common/tuc.md
  pages/common/tuc.md
Owners: none

Update pages/common/tuc.md
  pages/common/tuc.md
Owners: none

Update pages/common/bpython.md
  pages/common/bpython.md
Owners: none

dbx: add page
  pages/common/dbx.md
Owners: none

fix syntax
  pages/common/dbx.md
Owners: none

missing dot
  pages/common/dbx.md
Owners: none

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
