Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @marchersimon, @navarroaxel, @mebeim, @yutyo, @acuteenvy, @waldyrious, @kbdharun, @blueskyson, @einverne

Update pages.de/common/aws-cognito-idp.md
  pages.de/common/aws-cognito-idp.md
Owners: @pixelcmtd, @marchersimon

Update pages.de/common/aws-cognito-idp.md
  pages.de/common/aws-cognito-idp.md
Owners: @pixelcmtd, @marchersimon

bchunk: apply suggestions
  pages/linux/bchunk.md
Owners: none

Update zotero.md
  pages/common/zotero.md
Owners: none

bchunk: apply suggestion
  pages/linux/bchunk.md
Owners: none

mods: add page
  pages/common/mods.md
Owners: none

bchunk: add page (#10386)
  pages/linux/bchunk.md
Owners: none

bchunk: add page (#10386)
  pages/linux/bchunk.md
Owners: none

mods: add missing argument
  pages/common/mods.md
Owners: none

mods: add missing blank line
  pages/common/mods.md
Owners: none

Update pages.es/windows/getmac.md
  pages.es/windows/getmac.md
Owners: @navarroaxel

Update pages/linux/systemd-delta.md
  pages/linux/systemd-delta.md
Owners: none

lzcmp: add alias page (#10341)
  pages/common/lzcmp.md
Owners: none

lzcmp: add alias page (#10341)
  pages/common/lzcmp.md
Owners: none

osascript: add Spanish translation
  pages.es/osx/osascript.md
Owners: @navarroaxel

Update pages/common/tlmgr-search.md
  pages/common/tlmgr-search.md
Owners: none

Update pages/common/tlmgr-search.md
  pages/common/tlmgr-search.md
Owners: none

instaloader: add page
  pages/linux/instaloader.md
Owners: none

Update pages/common/tre.md
  pages/common/tre.md
Owners: none

instaloader: more descriptive example
  pages/linux/instaloader.md
Owners: none

instaloader: fix mistake
  pages/linux/instaloader.md
Owners: none

instaloader: minor improvement
  pages/linux/instaloader.md
Owners: none

Update pages/linux/dirbuster.md
  pages/linux/dirbuster.md
Owners: none

Update pages/linux/dirbuster.md
  pages/linux/dirbuster.md
Owners: none

Update pages/linux/dirbuster.md
  pages/linux/dirbuster.md
Owners: none

Apply suggestions from code review
  pages/linux/dirbuster.md
Owners: none

pacman: update -Ss example by -F
  pages/linux/pacman.md
Owners: none

instaloader: update variable to include snake_case
  pages/linux/instaloader.md
Owners: none

instaloader: various improvements and an addition of 1 example
  pages/linux/instaloader.md
Owners: none

instaloader: various improvements and fix incorrect info
  pages/linux/instaloader.md
Owners: none

instaloader: minor improvements
  pages/linux/instaloader.md
Owners: none

instaloader: remove ambiguous statement
  pages/linux/instaloader.md
Owners: none

instaloader: add 1 example
  pages/linux/instaloader.md
Owners: none

instaloader: reorder from simple to complex
  pages/linux/instaloader.md
Owners: none

apt: add Hindi translation
  pages.hi/linux/apt.md
Owners: none

added to 7z switch x to exclude files
  pages/common/7z.md
Owners: none

MAINTAINERS: add @kbdharun as org owner
  MAINTAINERS.md
Owners: none

dirbuster: add page (#10366)
  pages/linux/dirbuster.md
Owners: none

dirbuster: add page (#10366)
  pages/linux/dirbuster.md
Owners: none

Revert "Update pages/linux/systemd-delta.md"
  pages/linux/systemd-delta.md
Owners: none

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @marchersimon
/pages.es/ @navarroaxel
/pages.it/ @mebeim @yutyo
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/contributing-guides/*.de.md @pixelcmtd @marchersimon
/contributing-guides/*.es.md @navarroaxel
/contributing-guides/*.it.md @mebeim @yutyo
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
