Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @marchersimon, @navarroaxel, @mebeim, @yutyo, @acuteenvy, @waldyrious, @kbdharun, @blueskyson, @einverne

exfatlabel: add page (#10461)
  pages/common/exfatlabel.md
Owners: none

Update pages/common/ffplay.md
  pages/common/ffplay.md
Owners: none

ffplay: add more examples (#10457)
  pages/common/ffplay.md
Owners: none

ffplay: add more examples (#10457)
  pages/common/ffplay.md
Owners: none

java_home: add Spanish translation (#10432)
  pages.es/osx/java_home.md
Owners: @navarroaxel

java_home: add Spanish translation (#10432)
  pages.es/osx/java_home.md
Owners: @navarroaxel

Apply suggestions from code review
  pages/common/macchina.md
Owners: none

macchina: add page (#10465)
  pages/common/macchina.md
Owners: none

macchina: add page (#10465)
  pages/common/macchina.md
Owners: none

yacc: update page
  pages/common/yacc.md
Owners: none

ruby: update Tamil translation
  pages.ta/common/ruby.md
Owners: @kbdharun

avifenc: update page
  pages/linux/avifenc.md
Owners: none

bgpgrep, peerindex: add German translation (#10352)
  pages.de/common/bgpgrep.md
  pages.de/common/peerindex.md
Owners: @pixelcmtd, @marchersimon

bgpgrep, peerindex: add German translation (#10352)
  pages.de/common/bgpgrep.md
  pages.de/common/peerindex.md
Owners: @pixelcmtd, @marchersimon

uname: add Spanish translation (#10234)
  pages.es/osx/uname.md
Owners: @navarroaxel

uname: add Spanish translation (#10234)
  pages.es/osx/uname.md
Owners: @navarroaxel

autoflake: add Spanish translation (#10170)
  pages.es/common/autoflake.md
Owners: @navarroaxel

autoflake: add Spanish translation (#10170)
  pages.es/common/autoflake.md
Owners: @navarroaxel

translate arguments
  pages.de/common/babeld.md
  pages.de/common/bird.md
  pages.de/common/fastd.md
Owners: @pixelcmtd, @marchersimon

bgpgrep, peerindex: Update homepage
  pages.de/common/bgpgrep.md
  pages.de/common/peerindex.md
  pages/common/bgpgrep.md
  pages/common/peerindex.md
Owners: @pixelcmtd, @marchersimon

Update qm-suspend page as per suggestion
  pages/linux/qm-suspend.md
Owners: none

Update system_profiler.md
  pages/osx/system_profiler.md
Owners: none

system_profiler: Add more examples
  pages/osx/system_profiler.md
Owners: none

whisper: fix typo
  pages/common/whisper.md
Owners: none

Update pages/common/yacc.md
  pages/common/yacc.md
Owners: none

qm-template: add page
  pages/linux/qm-template.md
Owners: none

qm-template: add page
  pages/linux/qm-template.md
Owners: none

farge: add page
  pages/linux/farge.md
Owners: none

farge: update descriptions and change 1 example
  pages/linux/farge.md
Owners: none

farge: remove extra empty line
  pages/linux/farge.md
Owners: none

ipconfig updated
  pages/windows/ipconfig.md
Owners: none

added mention of how to get full list
  pages/windows/sc.md
Owners: none

netsh added
  pages/windows/netsh.md
Owners: none

initial net command population
  pages/windows/net.md
Owners: none

Update pages.es/osx/cot.md
  pages.es/osx/cot.md
Owners: @navarroaxel

aircrack-ng: add Dutch translation
  pages.nl/common/aircrack-ng.md
Owners: none

airdecap-ng: add Dutch translation
  pages.nl/common/airdecap-ng.md
Owners: none

aireplay-ng: add Dutch translation
  pages.nl/common/aireplay-ng.md
Owners: none

aircrack-ng: add Dutch translation
  pages.nl/common/aircrack-ng.md
Owners: none

airdecap-ng: add Dutch translation
  pages.nl/common/airdecap-ng.md
Owners: none

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @marchersimon
/pages.es/ @navarroaxel
/pages.it/ @mebeim @yutyo
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/contributing-guides/*.de.md @pixelcmtd @marchersimon
/contributing-guides/*.es.md @navarroaxel
/contributing-guides/*.it.md @mebeim @yutyo
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
