Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

llvm-cat: add Spanish translation
  pages.es/common/llvm-cat.md
Owners: @kant, @tricantivu, @ikks

llvm-config: add Spanish translation
  pages.es/common/llvm-config.md
Owners: @kant, @tricantivu, @ikks

llvm-dis: add Spanish translation
  pages.es/common/llvm-dis.md
Owners: @kant, @tricantivu, @ikks

dircolors: update documentation link
  pages.it/common/dircolors.md
  pages.ko/common/dircolors.md
  pages.nl/common/dircolors.md
  pages/common/dircolors.md
Owners: @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples

latexpand: add page
  pages/common/latexpand.md
Owners: none

fix ci
  pages/common/latexpand.md
Owners: none

Update latexpand.md
  pages/common/latexpand.md
Owners: none

bpython: add page
  pages/common/bpython.md
Owners: none

dircolors: update documentation link (#15310)
  pages.it/common/dircolors.md
  pages.ko/common/dircolors.md
  pages.nl/common/dircolors.md
  pages/common/dircolors.md
Owners: @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples

dircolors: update documentation link (#15310)
  pages.it/common/dircolors.md
  pages.ko/common/dircolors.md
  pages.nl/common/dircolors.md
  pages/common/dircolors.md
Owners: @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples

Update pages.es/common/llvm-config.md
  pages.es/common/llvm-config.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/llvm-cat.md
  pages.es/common/llvm-cat.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/lldb.md
  pages.es/common/lldb.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/llc.md
  pages.es/common/llc.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/declare.md
  pages.es/common/declare.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/addr2line.md
  pages.es/linux/addr2line.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/addr2line.md
  pages.es/linux/addr2line.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/addr2line.md
  pages.es/linux/addr2line.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/zbarimg.md
  pages.es/common/zbarimg.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/zig.md
  pages.es/common/zig.md
Owners: @kant, @tricantivu, @ikks

uname: add Arabic translation
  pages.ar/linux/uname.md
Owners: none

Update uname.md
  pages.ar/linux/uname.md
Owners: none

batch: update Dutch translation
  pages.nl/common/batch.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pacman-files: add Dutch translation
  pages.nl/linux/pacman-files.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

dnf-group: add Dutch translation
  pages.nl/linux/dnf-group.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pacman-q, pacman-query: add Dutch translation
  pages.nl/linux/pacman-q.md
  pages.nl/linux/pacman-query.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

declare, typeset: add Dutch translation
  pages.nl/common/declare.md
  pages.nl/common/typeset.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

Update pages/common/tuc.md
  pages/common/tuc.md
Owners: none

Update pages/common/tuc.md
  pages/common/tuc.md
Owners: none

Update pages/common/tuc.md
  pages/common/tuc.md
Owners: none

Update pages/common/tuc.md
  pages/common/tuc.md
Owners: none

Update auvaltool: command translated
  pages.es/osx/auvaltool.md
Owners: @kant, @tricantivu, @ikks

Update pages.nl/linux/pacman-query.md
  pages.nl/linux/pacman-query.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

Update pages.nl/linux/pacman-query.md
  pages.nl/linux/pacman-query.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

Update pages.nl/common/declare.md
  pages.nl/common/declare.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

Update pages.es/osx/auvaltool.md
  pages.es/osx/auvaltool.md
Owners: @kant, @tricantivu, @ikks

Update pages/common/latexpand.md
  pages/common/latexpand.md
Owners: none

Update biomesyncd.md: spanish translation
  pages.es/osx/biomesyncd.md
Owners: @kant, @tricantivu, @ikks

Update bnepd: spanish translation
  pages.es/osx/bnepd.md
Owners: @kant, @tricantivu, @ikks

Update coreaudiod: spanish translation
  pages.es/osx/coreaudiod.md
Owners: @kant, @tricantivu, @ikks

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
