Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @navarroaxel, @kant, @kbdharun, @reinhart1010, @mebeim, @yutyo, @Magrid0, @IMHOJEONG, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @waldyrious, @isaacvicente, @blueskyson, @einverne, @sbrl

wrong-filename.sh: update output filename
  scripts/wrong-filename.sh
Owners: @sebastiaanspeck

cleanup: update command in wrong-filename.sh
  scripts/wrong-filename.sh
Owners: @sebastiaanspeck

feat: add documentation for scripts
  scripts/README.md
  scripts/set-alias-page.py
  scripts/set-more-info-link.py
  scripts/wrong-filename.sh
Owners: @sebastiaanspeck

fix: broken links in scripts summary
  scripts/README.md
Owners: @sebastiaanspeck

feat: add documentation for scripts
  scripts/README.md
  scripts/set-alias-page.py
  scripts/set-more-info-link.py
  scripts/wrong-filename.sh
Owners: @sebastiaanspeck

wrong-filename.sh: update output filename
  scripts/wrong-filename.sh
Owners: @sebastiaanspeck

cleanup: update files
  scripts/README.md
  scripts/wrong-filename.sh
Owners: @sebastiaanspeck

cleanup: update PDF README
  scripts/pdf/README.md
Owners: none

Update pages/linux/wikit.md
  pages/linux/wikit.md
Owners: @sbrl

Update pages/linux/wikit.md
  pages/linux/wikit.md
Owners: @sbrl

units: add missing double-quotes in pt_BR
  pages.pt_BR/common/units.md
Owners: @waldyrious, @isaacvicente

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @navarroaxel @kant
/pages.hi/ @kbdharun
/pages.id/ @reinhart1010
/pages.it/ @mebeim @yutyo @Magrid0
/pages.ko/ @IMHOJEONG
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious @isaacvicente
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @sbrl

/*.md @sbrl @kbdharun
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @navarroaxel @kant
/contributing-guides/*.hi.md @kbdharun
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @yutyo @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious @isaacvicente
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
