Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

gh-skyline: add page (#15110)
  pages/common/gh-skyline.md
Owners: none

Update pages/osx/tag.md
  pages/osx/tag.md
Owners: none

Update pages/linux/loginctl.md
  pages/linux/loginctl.md
Owners: @cyqsimon

tag: add page (#15124)
  pages/osx/tag.md
Owners: none

tag: add page (#15124)
  pages/osx/tag.md
Owners: none

qm-list: add Spanish translation
  pages.es/linux/qm-list.md
Owners: @kant, @tricantivu, @ikks

qm-listsnapshot: add Spanish translation
  pages.es/linux/qm-listsnapshot.md
Owners: @kant, @tricantivu, @ikks

qm-migrate: add Spanish translation
  pages.es/linux/qm-migrate.md
Owners: @kant, @tricantivu, @ikks

qm-mtunnel: add Spanish translation
  pages.es/linux/qm-mtunnel.md
Owners: @kant, @tricantivu, @ikks

qm-monitor: add Spanish translation
  pages.es/linux/qm-monitor.md
Owners: @kant, @tricantivu, @ikks

qm-nbdstop: add Spanish translation
  pages.es/linux/qm-nbdstop.md
Owners: @kant, @tricantivu, @ikks

qm-pending: add Spanish translation
  pages.es/linux/qm-pending.md
Owners: @kant, @tricantivu, @ikks

qm-reboot: add Spanish translation
  pages.es/linux/qm-reboot.md
Owners: @kant, @tricantivu, @ikks

qm-rescan: add Spanish translation
  pages.es/linux/qm-rescan.md
Owners: @kant, @tricantivu, @ikks

qm-reset: add Spanish translation
  pages.es/linux/qm-reset.md
Owners: @kant, @tricantivu, @ikks

qm-resume: add Spanish translation
  pages.es/linux/qm-resume.md
Owners: @kant, @tricantivu, @ikks

qm-rollback: add Spanish translation
  pages.es/linux/qm-rollback.md
Owners: @kant, @tricantivu, @ikks

qmrestore: add Spanish translation
  pages.es/linux/qmrestore.md
Owners: @kant, @tricantivu, @ikks

qmv: add Spanish translation
  pages.es/common/qmv.md
Owners: @kant, @tricantivu, @ikks

chgrp: update documentation link
  pages.fr/common/chgrp.md
  pages.it/common/chgrp.md
  pages.ko/common/chgrp.md
  pages.nl/common/chgrp.md
  pages/common/chgrp.md
Owners: @Nico385412, @nicokosi, @noraj, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples

qmmp: add Spanish translation
  pages.es/common/qmmp.md
Owners: @kant, @tricantivu, @ikks

chroot: update documentation link
  pages.de/common/chroot.md
  pages.fr/common/chroot.md
  pages.it/common/chroot.md
  pages.ko/common/chroot.md
  pages.nl/common/chroot.md
  pages.tr/common/chroot.md
  pages/common/chroot.md
Owners: @pixelcmtd, @gutjuri, @Nico385412, @nicokosi, @noraj, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples

Update pages.zh/common/!.md
  pages.zh/common/!.md
Owners: @blueskyson, @einverne

loginctl: add user logout example (#15036)
  pages/linux/loginctl.md
Owners: @cyqsimon

loginctl: add user logout example (#15036)
  pages/linux/loginctl.md
Owners: @cyqsimon

Update pages.es/linux/qm-migrate.md
  pages.es/linux/qm-migrate.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/qm-pending.md
  pages.es/linux/qm-pending.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/qm-rescan.md
  pages.es/linux/qm-rescan.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/qm-rollback.md
  pages.es/linux/qm-rollback.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/qm-rollback.md
  pages.es/linux/qm-rollback.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/qmv.md
  pages.es/common/qmv.md
Owners: @kant, @tricantivu, @ikks

qm-list: add Spanish translation (#15125)
  pages.es/linux/qm-list.md
Owners: @kant, @tricantivu, @ikks

qm-list: add Spanish translation (#15125)
  pages.es/linux/qm-list.md
Owners: @kant, @tricantivu, @ikks

qm-listsnapshot: add Spanish translation (#15126)
  pages.es/linux/qm-listsnapshot.md
Owners: @kant, @tricantivu, @ikks

qm-listsnapshot: add Spanish translation (#15126)
  pages.es/linux/qm-listsnapshot.md
Owners: @kant, @tricantivu, @ikks

qm-mtunnel: add Spanish translation (#15128)
  pages.es/linux/qm-mtunnel.md
Owners: @kant, @tricantivu, @ikks

qm-mtunnel: add Spanish translation (#15128)
  pages.es/linux/qm-mtunnel.md
Owners: @kant, @tricantivu, @ikks

qm-monitor: add Spanish translation (#15129)
  pages.es/linux/qm-monitor.md
Owners: @kant, @tricantivu, @ikks

qm-monitor: add Spanish translation (#15129)
  pages.es/linux/qm-monitor.md
Owners: @kant, @tricantivu, @ikks

qm-migrate: add Spanish translation (#15127)
  pages.es/linux/qm-migrate.md
Owners: @kant, @tricantivu, @ikks

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
