Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @marchersimon, @navarroaxel, @mebeim, @yutyo, @acuteenvy, @waldyrious, @kbdharun, @blueskyson, @einverne

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @marchersimon
/pages.es/ @navarroaxel
/pages.it/ @mebeim @yutyo
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/contributing-guides/*.de.md @pixelcmtd @marchersimon
/contributing-guides/*.es.md @navarroaxel
/contributing-guides/*.it.md @mebeim @yutyo
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

eol: add page
  pages/common/eol.md
Owners: none

pacman: update -Ss example by -F (#10394)
  pages/linux/pacman.md
Owners: none

pacman: update -Ss example by -F (#10394)
  pages/linux/pacman.md
Owners: none

Update shuf.md
  pages.es/osx/shuf.md
Owners: @navarroaxel

mods: various fixes
  pages/common/mods.md
Owners: none

Update pages.es/osx/tart.md
  pages.es/osx/tart.md
Owners: @navarroaxel

Update pages/common/eol.md
  pages/common/eol.md
Owners: none

Thanks
  pages/common/datashader_cli.md
Owners: none

instaloader: apply suggestions
  pages/linux/instaloader.md
Owners: none

hexdump: update pt_BR translation
  pages.pt_BR/common/hexdump.md
Owners: @waldyrious

mods: tweak question example
  pages/common/mods.md
Owners: none

mods: tweak settings example
  pages/common/mods.md
Owners: none

mods: tweak code example
  pages/common/mods.md
Owners: none

mods: tweak documentation example
  pages/common/mods.md
Owners: none

mods: tweak videos example
  pages/common/mods.md
Owners: none

mods: tweak HTML example
  pages/common/mods.md
Owners: none

mods: tweak help example
  pages/common/mods.md
Owners: none

Update pages/common/eol.md
  pages/common/eol.md
Owners: none

Update pages/common/eol.md
  pages/common/eol.md
Owners: none

Update pages/common/eol.md
  pages/common/eol.md
Owners: none

Update pages/common/eol.md
  pages/common/eol.md
Owners: none

Update pages/common/eol.md
  pages/common/eol.md
Owners: none

Update pages/common/eol.md
  pages/common/eol.md
Owners: none

buku: update Chinese translation (#10372)
  pages.zh/common/buku.md
Owners: @blueskyson, @einverne

buku: update Chinese translation (#10372)
  pages.zh/common/buku.md
Owners: @blueskyson, @einverne

apt: add Hindi translation (#10395)
  pages.hi/linux/apt.md
Owners: none

apt: add Hindi translation (#10395)
  pages.hi/linux/apt.md
Owners: none

mods: add page (#10391)
  pages/common/mods.md
Owners: none

mods: add page (#10391)
  pages/common/mods.md
Owners: none

Update pages/osx/ps.md
  pages/osx/ps.md
Owners: none

mods: fix quoting
  pages/common/mods.md
Owners: none

zotero: add page (#10367)
  pages/common/zotero.md
Owners: none

zotero: add page (#10367)
  pages/common/zotero.md
Owners: none

pacman: update French translation (#10375)
  pages.fr/linux/pacman.md
Owners: none

pacman: update French translation (#10375)
  pages.fr/linux/pacman.md
Owners: none

terminal-notifier: add page
  pages/osx/terminal-notifier.md
Owners: none

llvm-lipo: add Spanish translation
  pages.es/osx/llvm-lipo.md
Owners: @navarroaxel

lldb: add Spanish translation
  pages.es/osx/lldb.md
Owners: @navarroaxel

Update pages/common/eol.md
  pages/common/eol.md
Owners: none

eol: add page (#10380)
  pages/common/eol.md
Owners: none
