Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @marchersimon, @navarroaxel, @mebeim, @yutyo, @acuteenvy, @waldyrious, @kbdharun, @blueskyson, @einverne

Update sips.md
  pages.es/osx/sips.md
Owners: @navarroaxel

Update pages.es/osx/safeejectgpu.md
  pages.es/osx/safeejectgpu.md
Owners: @navarroaxel

Add '-n' option to pushd and popd
  pages/common/popd.md
Owners: none

Update pushd page
  pages/common/pushd.md
Owners: none

weechat: add backticks on stdout (#10428)
  pages/common/weechat.md
Owners: none

weechat: add backticks on stdout (#10428)
  pages/common/weechat.md
Owners: none

time: update page
  pages/common/time.md
Owners: none

Update pages/windows/w32tm.md
  pages/windows/w32tm.md
Owners: none

Update pages/windows/w32tm.md
  pages/windows/w32tm.md
Owners: none

Update pages/windows/cmdkey.md
  pages/windows/cmdkey.md
Owners: none

Update pages/windows/sc.md
  pages/windows/sc.md
Owners: none

Update pages/windows/sc.md
  pages/windows/sc.md
Owners: none

pages/*: fix dumb descriptions made by bulk-removing text using a script
  pages/common/cs-complete-dep.md
  pages/common/emulator.md
  pages/common/railway.md
  pages/common/speed-test.md
  pages/common/todoist.md
  pages/linux/protonvpn-cli-connect.md
  pages/linux/protonvpn-cli.md
  pages/linux/synoupgrade.md
  pages/linux/zenity.md
  pages/osx/shortcuts.md
Owners: none

nvram: add Spanish translation
  pages.es/osx/nvram.md
Owners: @navarroaxel

yacc: add page
  pages/common/yacc.md
Owners: none

archlinux-java: fix documentation link, update page (#10433)
  pages.de/linux/archlinux-java.md
  pages.zh/linux/archlinux-java.md
  pages/linux/archlinux-java.md
Owners: @pixelcmtd, @marchersimon, @blueskyson, @einverne

archlinux-java: fix documentation link, update page (#10433)
  pages.de/linux/archlinux-java.md
  pages.zh/linux/archlinux-java.md
  pages/linux/archlinux-java.md
Owners: @pixelcmtd, @marchersimon, @blueskyson, @einverne

go-build: update Chinese translation (#10342)
  pages.zh/common/go-build.md
Owners: @blueskyson, @einverne

go-build: update Chinese translation (#10342)
  pages.zh/common/go-build.md
Owners: @blueskyson, @einverne

gpg: update Chinese translation (#10343)
  pages.zh/common/gpg.md
Owners: @blueskyson, @einverne

gpg: update Chinese translation (#10343)
  pages.zh/common/gpg.md
Owners: @blueskyson, @einverne

btop: add page; bpytop: move to `common`, update page (#10425)
  pages.ca/common/bpytop.md
  pages.es/common/bpytop.md
  pages.zh/common/bpytop.md
  pages/common/bpytop.md
  pages/common/btop.md
Owners: @navarroaxel, @blueskyson, @einverne

btop: add page; bpytop: move to `common`, update page (#10425)
  pages.ca/common/bpytop.md
  pages.es/common/bpytop.md
  pages.zh/common/bpytop.md
  pages/common/bpytop.md
  pages/common/btop.md
Owners: @navarroaxel, @blueskyson, @einverne

CI: remove stale workflow (#10409)
  .github/workflows/stale.yml
Owners: none

CI: remove stale workflow (#10409)
  .github/workflows/stale.yml
Owners: none

m: add Spanish translation (#10188)
  pages.es/osx/m.md
Owners: @navarroaxel

m: add Spanish translation (#10188)
  pages.es/osx/m.md
Owners: @navarroaxel

usernoted: add Spanish translation (#10251)
  pages.es/osx/usernoted.md
Owners: @navarroaxel

usernoted: add Spanish translation (#10251)
  pages.es/osx/usernoted.md
Owners: @navarroaxel

osascript: add Spanish translation (#10392)
  pages.es/osx/osascript.md
Owners: @navarroaxel

osascript: add Spanish translation (#10392)
  pages.es/osx/osascript.md
Owners: @navarroaxel

tldr page for trayer added
  pages/linux/trayer.md
Owners: none

pages*: fix parse error
  pages/common/supervisorctl.md
Owners: none

pages*: fix parse error
  pages/common/textql.md
Owners: none

cmdkey: add page (#10430)
  pages/windows/cmdkey.md
Owners: none

cmdkey: add page (#10430)
  pages/windows/cmdkey.md
Owners: none

sc: add page (#10431)
  pages/windows/sc.md
Owners: none

sc: add page (#10431)
  pages/windows/sc.md
Owners: none

w32tm: add page (#10429)
  pages/windows/w32tm.md
Owners: none

w32tm: add page (#10429)
  pages/windows/w32tm.md
Owners: none

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @marchersimon
/pages.es/ @navarroaxel
/pages.it/ @mebeim @yutyo
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/contributing-guides/*.de.md @pixelcmtd @marchersimon
/contributing-guides/*.es.md @navarroaxel
/contributing-guides/*.it.md @mebeim @yutyo
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
