Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

tex-fmt: add page (#15043)
  pages/common/tex-fmt.md
Owners: none

tex-fmt: add Spanish translation
  pages.es/common/tex-fmt.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/qm-create.md
  pages.es/linux/qm-create.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/qm-create.md
  pages.es/linux/qm-create.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/qm-create.md
  pages.es/linux/qm-create.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/qm-create.md
  pages.es/linux/qm-create.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/qm-config.md
  pages.es/linux/qm-config.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/qm-clone.md
  pages.es/linux/qm-clone.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/ip-neighbour.md
  pages.es/linux/ip-neighbour.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/qm-cleanup.md
  pages.es/linux/qm-cleanup.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/ip.md
  pages.es/linux/ip.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/ip.md
  pages.es/linux/ip.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/ip.md
  pages.es/linux/ip.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/dnf-group.md
  pages.es/linux/dnf-group.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/complete.md
  pages.es/common/complete.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/complete.md
  pages.es/common/complete.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/complete.md
  pages.es/common/complete.md
Owners: @kant, @tricantivu, @ikks

add zh pr.md, 增加中文 pr.md
  pages.zh/common/pr.md
Owners: @blueskyson, @einverne

fix wrong or misleading syntax in two find examples
  pages/common/find.md
Owners: none

add autoconf.md zh, 增加 autoconf.md 中文
  pages.zh/common/autoconf.md
Owners: @blueskyson, @einverne

fix wrong or misleading syntax in two find examples
  pages/common/find.md
Owners: none

ruff: add Spanish translation
  pages.es/common/ruff.md
Owners: @kant, @tricantivu, @ikks

gh-skyline: add page
  pages/common/gh-skyline.md
Owners: none

Update pages/common/gh-skyline.md
  pages/common/gh-skyline.md
Owners: none

Make sentences imperative
  pages.es/common/ruff.md
Owners: @kant, @tricantivu, @ikks

basenc: update documentation link (#15104)
  pages.ko/common/basenc.md
  pages.nl/common/basenc.md
  pages/common/basenc.md
Owners: @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples

basenc: update documentation link (#15104)
  pages.ko/common/basenc.md
  pages.nl/common/basenc.md
  pages/common/basenc.md
Owners: @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples

qm-delsnapshot: add Spanish translation
  pages.es/linux/qm-delsnapshot.md
Owners: @kant, @tricantivu, @ikks

qm-destroy: add Spanish translation
  pages.es/linux/qm-destroy.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/qm-delsnapshot.md
  pages.es/linux/qm-delsnapshot.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/qm-delsnapshot.md
  pages.es/linux/qm-delsnapshot.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/qm-delsnapshot.md
  pages.es/linux/qm-delsnapshot.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/qm-destroy.md
  pages.es/linux/qm-destroy.md
Owners: @kant, @tricantivu, @ikks

b2sum: update documentation link (#15102)
  pages.fr/common/b2sum.md
  pages.it/common/b2sum.md
  pages.ko/common/b2sum.md
  pages.nl/common/b2sum.md
  pages.ta/common/b2sum.md
  pages/common/b2sum.md
Owners: @Nico385412, @nicokosi, @noraj, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @kbdharun

b2sum: update documentation link (#15102)
  pages.fr/common/b2sum.md
  pages.it/common/b2sum.md
  pages.ko/common/b2sum.md
  pages.nl/common/b2sum.md
  pages.ta/common/b2sum.md
  pages/common/b2sum.md
Owners: @Nico385412, @nicokosi, @noraj, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @kbdharun

basename: update documentation link (#15103)
  pages.de/common/basename.md
  pages.es/common/basename.md
  pages.fr/common/basename.md
  pages.it/common/basename.md
  pages.ko/common/basename.md
  pages.nl/common/basename.md
  pages.pl/common/basename.md
  pages.pt_BR/common/basename.md
  pages.zh/common/basename.md
  pages/common/basename.md
Owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @Nico385412, @nicokosi, @noraj, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @blueskyson, @einverne

basename: update documentation link (#15103)
  pages.de/common/basename.md
  pages.es/common/basename.md
  pages.fr/common/basename.md
  pages.it/common/basename.md
  pages.ko/common/basename.md
  pages.nl/common/basename.md
  pages.pl/common/basename.md
  pages.pt_BR/common/basename.md
  pages.zh/common/basename.md
  pages/common/basename.md
Owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @Nico385412, @nicokosi, @noraj, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @blueskyson, @einverne

rephrase git-branch.md
  pages/common/git-branch.md
Owners: none

rmdir, shutdown, whoami, winget: update Chinese translation (#15022)
  pages.zh/windows/rmdir.md
  pages.zh/windows/shutdown.md
  pages.zh/windows/whoami.md
  pages.zh/windows/winget.md
Owners: @blueskyson, @einverne

rmdir, shutdown, whoami, winget: update Chinese translation (#15022)
  pages.zh/windows/rmdir.md
  pages.zh/windows/shutdown.md
  pages.zh/windows/whoami.md
  pages.zh/windows/winget.md
Owners: @blueskyson, @einverne

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
