Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

Update pacman-upgrade.md
  pages/linux/pacman-upgrade.md
Owners: @cyqsimon

Update $.md
  pages/common/$.md
Owners: none

Update greater-than.md
  pages/common/greater-than.md
Owners: none

Update pages/common/speedtest-rs.md
  pages/common/speedtest-rs.md
Owners: none

Update pages/common/speedtest-rs.md
  pages/common/speedtest-rs.md
Owners: none

Update pacman-database.md
  pages/linux/pacman-database.md
Owners: @cyqsimon

Update pages/linux/pacman-query.md
  pages/linux/pacman-query.md
Owners: @cyqsimon

lazygit: add page (#15192)
  pages/common/lazygit.md
Owners: none

lazygit: add page (#15192)
  pages/common/lazygit.md
Owners: none

Update pages/common/lazydocker.md
  pages/common/lazydocker.md
Owners: none

md5sum: update documentation link
  pages.it/common/md5sum.md
  pages.ko/common/md5sum.md
  pages.nl/common/md5sum.md
  pages.ta/common/md5sum.md
  pages.zh/common/md5sum.md
  pages/common/md5sum.md
Owners: @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @kbdharun, @blueskyson, @einverne

Update steamos-session-select.md
  pages/linux/steamos-session-select.md
Owners: @cyqsimon

exec: add Spanish translation
  pages.es/linux/exec.md
Owners: @kant, @tricantivu, @ikks

expr: add Spanish translation
  pages.es/common/expr.md
Owners: @kant, @tricantivu, @ikks

export: add Spanish translation
  pages.es/linux/export.md
Owners: @kant, @tricantivu, @ikks

exit: add Spanish translation
  pages.es/common/exit.md
Owners: @kant, @tricantivu, @ikks

env: add Spanish translation
  pages.es/common/env.md
Owners: @kant, @tricantivu, @ikks

errno: add Spanish translation
  pages.es/common/errno.md
Owners: @kant, @tricantivu, @ikks

echo: add Spanish translation
  pages.es/common/echo.md
Owners: @kant, @tricantivu, @ikks

elinks: add Spanish translation
  pages.es/common/elinks.md
Owners: @kant, @tricantivu, @ikks

lynx: add Spanish translation
  pages.es/common/lynx.md
Owners: @kant, @tricantivu, @ikks

emacs: add Spanish translation
  pages.es/common/emacs.md
Owners: @kant, @tricantivu, @ikks

emacsclient: add Spanish translation
  pages.es/common/emacsclient.md
Owners: @kant, @tricantivu, @ikks

Update link
  pages/common/declare.md
Owners: none

tac: add Spanish translation
  pages.es/linux/tac.md
Owners: @kant, @tricantivu, @ikks

Update declare.md
  pages/common/declare.md
Owners: none

cat: add Spanish translation
  pages.es/linux/cat.md
Owners: @kant, @tricantivu, @ikks

Update declare.md
  pages/common/declare.md
Owners: none

zip: add Spanish translation
  pages.es/linux/zip.md
Owners: @kant, @tricantivu, @ikks

unzip: add Spanish translation
  pages.es/common/unzip.md
Owners: @kant, @tricantivu, @ikks

%: add page
  pages/common/%.md
Owners: none

Update %.md
  pages/common/%.md
Owners: none

Update %.md
  pages/common/%.md
Owners: none

Create ..md
  pages/common/..md
Owners: none

Update ..md
  pages/common/..md
Owners: none

Create hash.md
  pages/common/hash.md
Owners: none

Create readarray.md
  pages/common/readarray.md
Owners: none

Update readarray.md
  pages/common/readarray.md
Owners: none

Rename readarray.md to mapfile.md
  pages/common/mapfile.md
Owners: none

typeset: convert to alias
  pages/common/typeset.md
Owners: none

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
