Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

chown: update documentation link
  pages.de/common/chown.md
  pages.es/common/chown.md
  pages.fa/common/chown.md
  pages.fr/common/chown.md
  pages.it/common/chown.md
  pages.ko/common/chown.md
  pages.nl/common/chown.md
  pages.pl/common/chown.md
  pages.pt_BR/common/chown.md
  pages.zh/common/chown.md
  pages/common/chown.md
Owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @blueskyson, @einverne

fd: update page
  pages/common/fd.md
Owners: none

fd: update the description
  pages/common/fd.md
Owners: none

arch: update documentation link
  pages.bn/common/arch.md
  pages.es/common/arch.md
  pages.fr/common/arch.md
  pages.hi/common/arch.md
  pages.id/common/arch.md
  pages.it/common/arch.md
  pages.ja/common/arch.md
  pages.ko/common/arch.md
  pages.nl/common/arch.md
  pages.no/common/arch.md
  pages.pt_BR/common/arch.md
  pages.sv/common/arch.md
  pages.tr/common/arch.md
  pages.zh/common/arch.md
  pages/common/arch.md
Owners: @kant, @tricantivu, @ikks, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @isaacvicente, @vitorhcl, @renie, @blueskyson, @einverne

fd: update page (#15038)
  pages/common/fd.md
Owners: none

fd: update page (#15038)
  pages/common/fd.md
Owners: none

dependabot: add @kbdharun & @sebastiaanspeck as reviewer for package PRs (#15045)
  .github/dependabot.yml
Owners: none

dependabot: add @kbdharun & @sebastiaanspeck as reviewer for package PRs (#15045)
  .github/dependabot.yml
Owners: none

Update pages.es/common/podman.md
  pages.es/common/podman.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/podman-image.md
  pages.es/common/podman-image.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/podman-compose.md
  pages.es/common/podman-compose.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/podman-machine.md
  pages.es/common/podman-machine.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/podman-ps.md
  pages.es/common/podman-ps.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/podman-ps.md
  pages.es/common/podman-ps.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/podman-ps.md
  pages.es/common/podman-ps.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/podman-build.md
  pages.es/common/podman-build.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/wl-copy.md
  pages.es/linux/wl-copy.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/podman-run.md
  pages.es/common/podman-run.md
Owners: @kant, @tricantivu, @ikks

tex-fmt: add page
  pages/common/tex-fmt.md
Owners: none

Update pages.zh/common/fd.md
  pages.zh/common/fd.md
Owners: @blueskyson, @einverne

Update pages.zh/common/fd.md
  pages.zh/common/fd.md
Owners: @blueskyson, @einverne

Update pages.zh/common/fd.md
  pages.zh/common/fd.md
Owners: @blueskyson, @einverne

fd: add Chinese translation
  pages.zh/common/fd.md
Owners: @blueskyson, @einverne

Update pages/linux/bootc-switch.md
  pages/linux/bootc-switch.md
Owners: @cyqsimon

Update pages/linux/bootc-switch.md
  pages/linux/bootc-switch.md
Owners: @cyqsimon

Update pages/linux/bootc-switch.md
  pages/linux/bootc-switch.md
Owners: @cyqsimon

systemd-cryptsetup: add page
  pages/linux/systemd-cryptsetup.md
Owners: @cyqsimon

Apply suggestions from code review
  pages/common/zpaq.md
Owners: none

euse: add page (#15009)
  pages/linux/euse.md
Owners: @cyqsimon

euse: add page (#15009)
  pages/linux/euse.md
Owners: @cyqsimon

tesseract: fix `--psm` parameter name (#15040)
  pages.ko/common/tesseract.md
  pages/common/tesseract.md
Owners: @IMHOJEONG, @Zamoca42, @CodePsy-2001

tesseract: fix `--psm` parameter name (#15040)
  pages.ko/common/tesseract.md
  pages/common/tesseract.md
Owners: @IMHOJEONG, @Zamoca42, @CodePsy-2001

adb-devices: add Spanish translation
  pages.es/common/adb-devices.md
Owners: @kant, @tricantivu, @ikks

adb-reboot: add Spanish translation
  pages.es/common/adb-reboot.md
Owners: @kant, @tricantivu, @ikks

apt-clone: add Spanish translation
  pages.es/linux/apt-clone.md
Owners: @kant, @tricantivu, @ikks

apt-moo: add Spanish translation
  pages.es/linux/apt-moo.md
Owners: @kant, @tricantivu, @ikks

nm-online: add Spanish translation
  pages.es/linux/nm-online.md
Owners: @kant, @tricantivu, @ikks

Added docker-context
  pages/common/docker-context.md
Owners: none

Added docs link
  pages/common/docker-context.md
Owners: none

arch: update documentation link (#15060)
  pages.bn/common/arch.md
  pages.es/common/arch.md
  pages.fr/common/arch.md
  pages.hi/common/arch.md
  pages.id/common/arch.md
  pages.it/common/arch.md
  pages.ja/common/arch.md
  pages.ko/common/arch.md
  pages.nl/common/arch.md
  pages.no/common/arch.md
  pages.pt_BR/common/arch.md
  pages.sv/common/arch.md
  pages.tr/common/arch.md
  pages.zh/common/arch.md
  pages/common/arch.md
Owners: @kant, @tricantivu, @ikks, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @isaacvicente, @vitorhcl, @renie, @blueskyson, @einverne

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
