Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @navarroaxel, @kant, @kbdharun, @reinhart1010, @mebeim, @yutyo, @Magrid0, @IMHOJEONG, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @waldyrious, @isaacvicente, @blueskyson, @einverne, @sbrl

python: remove placeholders
  pages.zh/common/python.md
Owners: @blueskyson, @einverne

pipewire: fix typo
  pages/linux/pipewire.md
Owners: @sbrl

pipewire: translate placeholder
  pages.pt_BR/linux/pipewire.md
Owners: @waldyrious, @isaacvicente

pipewire: use "the" instead of "a"
  pages/linux/pipewire.md
Owners: @sbrl

pipewire: use "o" instead of "um" in pt_BR
  pages.pt_BR/linux/pipewire.md
Owners: @waldyrious, @isaacvicente

pipewire: add missing curly bracket in pt_BR
  pages.pt_BR/linux/pipewire.md
Owners: @waldyrious, @isaacvicente

pipewire: translate "or" in pt_BR
  pages.pt_BR/linux/pipewire.md
Owners: @waldyrious, @isaacvicente

pw-cat: update volume example
  pages.pt_BR/linux/pw-cat.md
Owners: @waldyrious, @isaacvicente

pw-cat: remove "=" sign
  pages.pt_BR/linux/pw-cat.md
  pages/linux/pw-cat.md
Owners: @waldyrious, @isaacvicente, @sbrl

pipewire: remove "=" in arguments
  pages.pt_BR/linux/pipewire.md
  pages/linux/pipewire.md
Owners: @waldyrious, @isaacvicente, @sbrl

pnmscale: add Dutch translation
  pages.nl/common/pnmscale.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pamscale: add Dutch translation
  pages.nl/common/pamscale.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

systemd-resolve: add Dutch translation
  pages.nl/linux/systemd-resolve.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

resolvectl: add Dutch translation
  pages.nl/linux/resolvectl.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pamflip, pnmcolormap, pnmquant, pnmremap, pnmrotate, ppmquant: add pages (#11800)
  pages/common/pamflip.md
  pages/common/pnmcolormap.md
  pages/common/pnmquant.md
  pages/common/pnmremap.md
  pages/common/pnmrotate.md
  pages/common/ppmquant.md
Owners: none

pamflip, pnmcolormap, pnmquant, pnmremap, pnmrotate, ppmquant: add pages (#11800)
  pages/common/pamflip.md
  pages/common/pnmcolormap.md
  pages/common/pnmquant.md
  pages/common/pnmremap.md
  pages/common/pnmrotate.md
  pages/common/ppmquant.md
Owners: none

python: remove placeholders (#11804)
  pages.pt_BR/common/python.md
  pages.zh/common/python.md
  pages/common/python.md
Owners: @waldyrious, @isaacvicente, @blueskyson, @einverne

python: remove placeholders (#11804)
  pages.pt_BR/common/python.md
  pages.zh/common/python.md
  pages/common/python.md
Owners: @waldyrious, @isaacvicente, @blueskyson, @einverne

cleanup: remove scripts/id_ed25519_tldr_asset_upload.enc
  scripts/id_ed25519_tldr_asset_upload.enc
Owners: @sebastiaanspeck

node: add Dutch translation (#11801)
  pages.nl/common/remove-nodeversion.md
  pages.nl/common/set-nodeinstalllocation.md
  pages.nl/common/set-nodeversion.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

node: add Dutch translation (#11801)
  pages.nl/common/remove-nodeversion.md
  pages.nl/common/set-nodeinstalllocation.md
  pages.nl/common/set-nodeversion.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

ptpython: add Dutch translation (#11802)
  pages.nl/common/ptpython.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

ptpython: add Dutch translation (#11802)
  pages.nl/common/ptpython.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

systemd-resolve: add Dutch translation (#11807)
  pages.nl/linux/resolvectl.md
  pages.nl/linux/systemd-resolve.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

systemd-resolve: add Dutch translation (#11807)
  pages.nl/linux/resolvectl.md
  pages.nl/linux/systemd-resolve.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

python: add Dutch translation (#11803)
  pages.nl/common/python.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

python: add Dutch translation (#11803)
  pages.nl/common/python.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pnmscale, pamscale: add Dutch translation (#11806)
  pages.nl/common/pamscale.md
  pages.nl/common/pnmscale.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pnmscale, pamscale: add Dutch translation (#11806)
  pages.nl/common/pamscale.md
  pages.nl/common/pnmscale.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

build-pdf: refactor the script
  scripts/pdf/build-pdf.sh
Owners: none

deploy: remove PDF's from sha256sum
  scripts/deploy.sh
Owners: @sebastiaanspeck

build-pdf: add the option to build a single language
  scripts/pdf/build-pdf.sh
Owners: none

build-pdf: add special language cases
  scripts/pdf/build-pdf.sh
Owners: none

build-pdf: only determine language if needed
  scripts/pdf/build-pdf.sh
Owners: none

build-pdf: only build changed folders since last commit
  scripts/pdf/build-pdf.sh
Owners: none

deploy: only move files that exist
  scripts/deploy.sh
Owners: @sebastiaanspeck

ppmquant, pnmquant pnmremap: add Dutch translation
  pages.nl/common/pnmquant.md
  pages.nl/common/pnmremap.md
  pages.nl/common/ppmquant.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

ppmquant, pnmquant pnmremap: add Dutch translation (#11809)
  pages.nl/common/pnmquant.md
  pages.nl/common/pnmremap.md
  pages.nl/common/ppmquant.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

ppmquant, pnmquant pnmremap: add Dutch translation (#11809)
  pages.nl/common/pnmquant.md
  pages.nl/common/pnmremap.md
  pages.nl/common/ppmquant.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

feat: add documentation for scripts
  scripts/README.md
  scripts/set-alias-page.py
  scripts/set-more-info-link.py
  scripts/wrong-filename.sh
Owners: @sebastiaanspeck

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @navarroaxel @kant
/pages.hi/ @kbdharun
/pages.id/ @reinhart1010
/pages.it/ @mebeim @yutyo @Magrid0
/pages.ko/ @IMHOJEONG
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious @isaacvicente
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @sbrl

/*.md @sbrl @kbdharun
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @navarroaxel @kant
/contributing-guides/*.hi.md @kbdharun
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @yutyo @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious @isaacvicente
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
