Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

rmdir: add Spanish translation
  pages.es/linux/rmdir.md
Owners: @kant, @tricantivu, @ikks

sc: add Spanish translation
  pages.es/windows/sc.md
Owners: @kant, @tricantivu, @ikks

invoke-webrequest: add Spanish translation
  pages.es/windows/invoke-webrequest.md
Owners: @kant, @tricantivu, @ikks

clear-host: add Spanish translation
  pages.es/windows/clear-host.md
Owners: @kant, @tricantivu, @ikks

remove-item: add Spanish translation
  pages.es/windows/remove-item.md
Owners: @kant, @tricantivu, @ikks

set-location: add Spanish translation
  pages.es/windows/set-location.md
Owners: @kant, @tricantivu, @ikks

pacman-f: add Spanish translation
  pages.es/linux/pacman-f.md
Owners: @kant, @tricantivu, @ikks

echo: update documentation link (#15191)
  pages.de/common/echo.md
  pages.fa/common/echo.md
  pages.fr/common/echo.md
  pages.it/common/echo.md
  pages.ja/common/echo.md
  pages.ko/common/echo.md
  pages.nl/common/echo.md
  pages.pt_BR/common/echo.md
  pages.ru/common/echo.md
  pages.sr/common/echo.md
  pages.zh/common/echo.md
  pages.zh_TW/common/echo.md
  pages/common/echo.md
Owners: @pixelcmtd, @gutjuri, @MrMw3, @Nico385412, @nicokosi, @noraj, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @isaacvicente, @vitorhcl, @renie, @blueskyson, @einverne

echo: update documentation link (#15191)
  pages.de/common/echo.md
  pages.fa/common/echo.md
  pages.fr/common/echo.md
  pages.it/common/echo.md
  pages.ja/common/echo.md
  pages.ko/common/echo.md
  pages.nl/common/echo.md
  pages.pt_BR/common/echo.md
  pages.ru/common/echo.md
  pages.sr/common/echo.md
  pages.zh/common/echo.md
  pages.zh_TW/common/echo.md
  pages/common/echo.md
Owners: @pixelcmtd, @gutjuri, @MrMw3, @Nico385412, @nicokosi, @noraj, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @isaacvicente, @vitorhcl, @renie, @blueskyson, @einverne

date: update documentation link (#15190)
  pages.de/common/date.md
  pages.it/common/date.md
  pages.ko/common/date.md
  pages.nl/common/date.md
  pages.pt_BR/common/date.md
  pages.tr/common/date.md
  pages/common/date.md
Owners: @pixelcmtd, @gutjuri, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @isaacvicente, @vitorhcl, @renie

date: update documentation link (#15190)
  pages.de/common/date.md
  pages.it/common/date.md
  pages.ko/common/date.md
  pages.nl/common/date.md
  pages.pt_BR/common/date.md
  pages.tr/common/date.md
  pages/common/date.md
Owners: @pixelcmtd, @gutjuri, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @isaacvicente, @vitorhcl, @renie

cut: update documentation link (#15189)
  pages.de/common/cut.md
  pages.es/common/cut.md
  pages.it/common/cut.md
  pages.ko/common/cut.md
  pages.nl/common/cut.md
  pages.pt_BR/common/cut.md
  pages.ru/common/cut.md
  pages/common/cut.md
Owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @isaacvicente, @vitorhcl, @renie

cut: update documentation link (#15189)
  pages.de/common/cut.md
  pages.es/common/cut.md
  pages.it/common/cut.md
  pages.ko/common/cut.md
  pages.nl/common/cut.md
  pages.pt_BR/common/cut.md
  pages.ru/common/cut.md
  pages/common/cut.md
Owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @isaacvicente, @vitorhcl, @renie

Update pages.es/common/atrm.md
  pages.es/common/atrm.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/mail.md
  pages.es/common/mail.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/mail.md
  pages.es/common/mail.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/mail.md
  pages.es/common/mail.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/mail.md
  pages.es/common/mail.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/mail.md
  pages.es/common/mail.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/windows/sc.md
  pages.es/windows/sc.md
Owners: @kant, @tricantivu, @ikks

Update pages/common/lazygit.md
  pages/common/lazygit.md
Owners: none

feat: command flag mnemonics
  pages/linux/pacman-query.md
Owners: @cyqsimon

speedtest-rs: add page
  pages/common/speedtest-rs.md
Owners: none

Update pages/linux/pacman-query.md
  pages/linux/pacman-query.md
Owners: @cyqsimon

Update pages/common/lazygit.md
  pages/common/lazygit.md
Owners: none

Update pages/common/lazydocker.md
  pages/common/lazydocker.md
Owners: none

feat: update wording/add mnemonics
  pages/linux/pacman-query.md
Owners: @cyqsimon

feat: command flag mnemonics
  pages/linux/pacman-database.md
Owners: @cyqsimon

fix: [L] and ([q])
  pages/linux/pacman-query.md
Owners: @cyqsimon

fix: ws
  pages/linux/pacman-database.md
Owners: @cyqsimon

fix: ([q]) location
  pages/linux/pacman-query.md
Owners: @cyqsimon

feat: command flag mnemonics
  pages/linux/pacman-upgrade.md
Owners: @cyqsimon

fix: grammar
  pages/linux/pacman-query.md
Owners: @cyqsimon

fix: grammar
  pages/linux/pacman-database.md
Owners: @cyqsimon

Update pages/linux/pacman-query.md
  pages/linux/pacman-query.md
Owners: @cyqsimon

feat: [q] in quiet
  pages/linux/pacman-query.md
Owners: @cyqsimon

fix: [k] in check
  pages/linux/pacman-database.md
Owners: @cyqsimon

fix: [q] in quiet
  pages/linux/pacman-database.md
Owners: @cyqsimon

fix: apply suggestion
  pages/linux/pacman-database.md
Owners: @cyqsimon

Update steamos-session-select.md
  pages/linux/steamos-session-select.md
Owners: @cyqsimon
