Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @marchersimon, @navarroaxel, @mebeim, @yutyo, @acuteenvy, @waldyrious, @kbdharun, @blueskyson, @einverne

git-commit: update page
  pages/common/git-commit.md
Owners: none

git-remote: update Chinese translation
  pages.zh/common/git-remote.md
Owners: @blueskyson, @einverne

ls: update Italian translation (#10169)
  pages.it/common/ls.md
Owners: @mebeim, @yutyo

ls: update Italian translation (#10169)
  pages.it/common/ls.md
Owners: @mebeim, @yutyo

nmap: fix typos
  pages.de/common/nmap.md
Owners: @pixelcmtd, @marchersimon

nmap: fix trailing whitespace
  pages.de/common/nmap.md
Owners: @pixelcmtd, @marchersimon

nmap: fix trailing whitespace
  pages.de/common/nmap.md
Owners: @pixelcmtd, @marchersimon

nmap: fix phrasing
  pages.de/common/nmap.md
Owners: @pixelcmtd, @marchersimon

musl-gcc: add page
  pages/common/musl-gcc.md
Owners: none

minifab: fix typo (#10332)
  pages/common/minifab.md
Owners: none

minifab: fix typo (#10332)
  pages/common/minifab.md
Owners: none

git-commit: update page
  pages/common/git-commit.md
Owners: none

tc: fix typo (#10333)
  pages/linux/tc.md
Owners: none

tc: fix typo (#10333)
  pages/linux/tc.md
Owners: none

musl-gcc: add documentation link
  pages/common/musl-gcc.md
Owners: none

hexdump: add pt_BR translation
  pages.pt_BR/common/hexdump.md
Owners: @waldyrious

hexdump: add pt_BR translation
  pages.pt_BR/common/hexdump.md
Owners: @waldyrious

atoum: add Spanish translation
  pages.es/common/atoum.md
Owners: @navarroaxel

Update pages/linux/jobs.md
  pages/linux/jobs.md
Owners: none

Update pages/linux/jobs.md
  pages/linux/jobs.md
Owners: none

Update pages/linux/jobs.md
  pages/linux/jobs.md
Owners: none

Update pages/linux/jobs.md
  pages/linux/jobs.md
Owners: none

Update pages/linux/jobs.md
  pages/linux/jobs.md
Owners: none

git-config: update page
  pages/common/git-config.md
Owners: none

git-commit: update page (#10334)
  pages/common/git-commit.md
Owners: none

git-commit: update page (#10334)
  pages/common/git-commit.md
Owners: none

musl-gcc: add page (#10336)
  pages/common/musl-gcc.md
Owners: none

musl-gcc: add page (#10336)
  pages/common/musl-gcc.md
Owners: none

lzcmp: add alias page
  pages/common/lzcmp.md
Owners: none

git-remote: update Chinese translation (#10335)
  pages.zh/common/git-remote.md
Owners: @blueskyson, @einverne

git-remote: update Chinese translation (#10335)
  pages.zh/common/git-remote.md
Owners: @blueskyson, @einverne

fix typo
  pages/common/bgpgrep.md
  pages/common/nping.md
Owners: none

fix TLDR104
  pages/common/bgpgrep.md
  pages/common/peerindex.md
Owners: none

remove file from wrong branch
  pages/common/nping.md
Owners: none

git-config: update Chinese translation (#10322)
  pages.zh/common/git-config.md
Owners: @blueskyson, @einverne

git-config: update Chinese translation (#10322)
  pages.zh/common/git-config.md
Owners: @blueskyson, @einverne

go-build: update Chinese translation
  pages.zh/common/go-build.md
Owners: @blueskyson, @einverne

gpg: update Chinese translation
  pages.zh/common/gpg.md
Owners: @blueskyson, @einverne

Update xattr.md
  pages.es/osx/xattr.md
Owners: @navarroaxel

xcrun: add Spanish translation
  pages.es/osx/xcrun.md
Owners: @navarroaxel

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @marchersimon
/pages.es/ @navarroaxel
/pages.it/ @mebeim @yutyo
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/contributing-guides/*.de.md @pixelcmtd @marchersimon
/contributing-guides/*.es.md @navarroaxel
/contributing-guides/*.it.md @mebeim @yutyo
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
