Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @marchersimon, @gutjuri, @navarroaxel, @kant, @kbdharun, @reinhart1010, @mebeim, @yutyo, @Magrid0, @IMHOJEONG, @sebastiaanspeck, @leonvsc, @acuteenvy, @waldyrious, @isaacvicente, @blueskyson, @einverne

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @marchersimon @gutjuri
/pages.es/ @navarroaxel @kant
/pages.hi/ @kbdharun
/pages.id/ @reinhart1010
/pages.it/ @mebeim @yutyo @Magrid0
/pages.ko/ @IMHOJEONG
/pages.nl/ @sebastiaanspeck @leonvsc
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious @isaacvicente
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/contributing-guides/*.de.md @pixelcmtd @marchersimon @gutjuri
/contributing-guides/*.es.md @navarroaxel @kant
/contributing-guides/*.hi.md @kbdharun
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @yutyo @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious @isaacvicente
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

Update choco-install.md
  pages.nl/windows/choco-install.md
Owners: @sebastiaanspeck, @leonvsc

Update choco-push.md
  pages.nl/windows/choco-push.md
Owners: @sebastiaanspeck, @leonvsc

Update choco-uninstall.md
  pages.nl/windows/choco-uninstall.md
Owners: @sebastiaanspeck, @leonvsc

Update choco.md
  pages.nl/windows/choco.md
Owners: @sebastiaanspeck, @leonvsc

Update choco.md
  pages.nl/windows/choco.md
Owners: @sebastiaanspeck, @leonvsc

Update select-string.md
  pages.nl/windows/select-string.md
Owners: @sebastiaanspeck, @leonvsc

Update where-object.md
  pages.nl/windows/where-object.md
Owners: @sebastiaanspeck, @leonvsc

pages.nl/*: add Dutch translations (#11526)
  pages.nl/common/chromium.md
  pages.nl/windows/choco-install.md
  pages.nl/windows/choco-list.md
  pages.nl/windows/choco-push.md
  pages.nl/windows/choco-uninstall.md
  pages.nl/windows/choco.md
  pages.nl/windows/invoke-webrequest.md
  pages.nl/windows/select-string.md
  pages.nl/windows/where-object.md
  pages/windows/choco-install.md
  pages/windows/choco-pack.md
Owners: @sebastiaanspeck, @leonvsc

pages.nl/*: add Dutch translations (#11526)
  pages.nl/common/chromium.md
  pages.nl/windows/choco-install.md
  pages.nl/windows/choco-list.md
  pages.nl/windows/choco-push.md
  pages.nl/windows/choco-uninstall.md
  pages.nl/windows/choco.md
  pages.nl/windows/invoke-webrequest.md
  pages.nl/windows/select-string.md
  pages.nl/windows/where-object.md
  pages/windows/choco-install.md
  pages/windows/choco-pack.md
Owners: @sebastiaanspeck, @leonvsc

anki, anytopnm, argocd: add French translation (#11531)
  pages.fr/common/anki.md
  pages.fr/common/anytopnm.md
  pages.fr/common/argocd.md
Owners: none

anki, anytopnm, argocd: add French translation (#11531)
  pages.fr/common/anki.md
  pages.fr/common/anytopnm.md
  pages.fr/common/argocd.md
Owners: none

ffsend: add Chinese translation
  pages.zh/common/ffsend.md
Owners: @blueskyson, @einverne

new swaybg page
  pages/linux/swaybg.md
Owners: none

revivew changes
  pages/linux/swaybg.md
Owners: none

CLIENT-SPECIFICATION: fix typo, add a way to escape the placeholder syntax (#10730)
  CLIENT-SPECIFICATION.md
Owners: none

CLIENT-SPECIFICATION: fix typo, add a way to escape the placeholder syntax (#10730)
  CLIENT-SPECIFICATION.md
Owners: none

CLIENT-SPECIFICATION: minor fixes
  CLIENT-SPECIFICATION.md
Owners: none

check-pr: use better regex (#11525)
  scripts/check-pr.sh
Owners: none

check-pr: use better regex (#11525)
  scripts/check-pr.sh
Owners: none

test: updated Check PR script
  pages.ko/android/screencap.md
Owners: @IMHOJEONG

Test corrected page
  pages.ko/android/screencap.md
Owners: @IMHOJEONG

Test multiple commands
  pages.ko/android/screencap.md
Owners: @IMHOJEONG

CLIENT-SPECIFICATION: fix typo
  CLIENT-SPECIFICATION.md
Owners: none

CLIENT-SPECIFICATION: minor fixes
  CLIENT-SPECIFICATION.md
Owners: none

review changes 2
  pages/linux/swaybg.md
Owners: none

hut: add page
  pages/common/hut.md
Owners: none

review 3
  pages/linux/swaybg.md
Owners: none

Update pages/common/hut.md
  pages/common/hut.md
Owners: none

Update pages/common/hut.md
  pages/common/hut.md
Owners: none

Update pages/common/hut.md
  pages/common/hut.md
Owners: none

test: skip symlinked English folder and optimise the script
  scripts/test.sh
Owners: none

Update test.sh
  scripts/test.sh
Owners: none

Update test.sh
  scripts/test.sh
Owners: none

Update test.sh
  scripts/test.sh
Owners: none

Update test.sh
  scripts/test.sh
Owners: none

Update test.sh
  scripts/test.sh
Owners: none

Update test.sh
  scripts/test.sh
Owners: none

Update test.sh
  scripts/test.sh
Owners: none

Update test.sh
  scripts/test.sh
Owners: none

Update pages/linux/sacct.md
  pages/linux/sacct.md
Owners: none
