Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @marchersimon, @navarroaxel, @mebeim, @yutyo, @acuteenvy, @waldyrious, @kbdharun, @blueskyson, @einverne

mitmproxy : add the variable "SSLKEYLOGFILE" source : https://docs.mitmproxy.org/stable/howto-wireshark-tls/
  pages/common/mitmproxy.md
Owners: none

mitmproxy : add ':' at the end of the description
  pages/common/mitmproxy.md
Owners: none

Update pages/linux/xfreerdp.md
  pages/linux/xfreerdp.md
Owners: none

at: add Spanish translation (#10156)
  pages.es/common/at.md
Owners: @navarroaxel

at: add Spanish translation (#10156)
  pages.es/common/at.md
Owners: @navarroaxel

auvaltool: add Spanish translation (#10182)
  pages.es/osx/auvaltool.md
Owners: @navarroaxel

auvaltool: add Spanish translation (#10182)
  pages.es/osx/auvaltool.md
Owners: @navarroaxel

uptime: add Spanish translation (#10250)
  pages.es/osx/uptime.md
Owners: @navarroaxel

uptime: add Spanish translation (#10250)
  pages.es/osx/uptime.md
Owners: @navarroaxel

xzmore: add page (#10186)
  pages/common/xzmore.md
Owners: none

xzmore: add page (#10186)
  pages/common/xzmore.md
Owners: none

xz*, lz*: add alias pages (#10185)
  pages/common/lzegrep.md
  pages/common/lzfgrep.md
  pages/common/lzgrep.md
  pages/common/lzless.md
  pages/common/lzmore.md
  pages/common/xzegrep.md
  pages/common/xzfgrep.md
Owners: none

xz*, lz*: add alias pages (#10185)
  pages/common/lzegrep.md
  pages/common/lzfgrep.md
  pages/common/lzgrep.md
  pages/common/lzless.md
  pages/common/lzmore.md
  pages/common/xzegrep.md
  pages/common/xzfgrep.md
Owners: none

adb-reverse: add Dutch translation
  pages.nl/common/adb-reverse.md
Owners: none

adguardhome: add Dutch translation
  pages.nl/common/adguardhome.md
Owners: none

adb-shell: add Dutch translation
  pages.nl/common/adb-shell.md
Owners: none

adb-reverse: add Dutch translation
  pages.nl/common/adb-reverse.md
Owners: none

adb-shell: add Dutch translation
  pages.nl/common/adb-shell.md
Owners: none

adb-reverse: add Dutch translation
  pages.nl/common/adb-reverse.md
Owners: none

adguardhome: add Dutch translation
  pages.nl/common/adguardhome.md
Owners: none

adguardhome: add Dutch translation
  pages.nl/common/adguardhome.md
Owners: none

adb-shell: add Dutch translation
  pages.nl/common/adb-shell.md
Owners: none

Few quality of life changes
  pages/linux/jobs.md
Owners: none

cat: add Hindi translation
  pages.hi/linux/cat.md
Owners: none

Update pages/linux/xfreerdp.md
  pages/linux/xfreerdp.md
Owners: none

xfreerdp: add /drive example (#10304)
  pages/linux/xfreerdp.md
Owners: none

xfreerdp: add /drive example (#10304)
  pages/linux/xfreerdp.md
Owners: none

vm_stat: add Spanish translation
  pages.es/osx/vm_stat.md
Owners: @navarroaxel

Delete rustup-init.sh.md
  pages.ta/common/rustup-init.sh.md
Owners: @kbdharun

anki: add German translation (#10291)
  pages.de/common/anki.md
Owners: @pixelcmtd, @marchersimon

anki: add German translation (#10291)
  pages.de/common/anki.md
Owners: @pixelcmtd, @marchersimon

mount: add Italian translation
  pages.it/windows/mount.md
Owners: @mebeim, @yutyo

cat: add/updated hindi translation
  pages.hi/linux/cat.md
Owners: none

pages.ta: update all outdated translations (#10247)
  pages.ta/android/bugreportz.md
  pages.ta/android/logcat.md
  pages.ta/common/clamav.md
  pages.ta/common/cp.md
  pages.ta/common/git-am.md
  pages.ta/common/transmission.md
  pages.ta/linux/bspwm.md
  pages.ta/linux/cgroups.md
  pages.ta/linux/fdisk.md
  pages.ta/osx/launchd.md
  pages.ta/windows/assoc.md
  pages.ta/windows/wget.md
Owners: @kbdharun

pages.ta: update all outdated translations (#10247)
  pages.ta/android/bugreportz.md
  pages.ta/android/logcat.md
  pages.ta/common/clamav.md
  pages.ta/common/cp.md
  pages.ta/common/git-am.md
  pages.ta/common/transmission.md
  pages.ta/linux/bspwm.md
  pages.ta/linux/cgroups.md
  pages.ta/linux/fdisk.md
  pages.ta/osx/launchd.md
  pages.ta/windows/assoc.md
  pages.ta/windows/wget.md
Owners: @kbdharun

act: update Chinese translation
  pages.zh/common/act.md
Owners: @blueskyson, @einverne

ping: add Spanish translation
  pages.es/osx/ping.md
Owners: @navarroaxel

Update ping.md
  pages.es/osx/ping.md
Owners: @navarroaxel

Update pages/common/mitmproxy.md
  pages/common/mitmproxy.md
Owners: none

git-clone: add clone .git only example
  pages/common/git-clone.md
Owners: none

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @marchersimon
/pages.es/ @navarroaxel
/pages.it/ @mebeim @yutyo
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/contributing-guides/*.de.md @pixelcmtd @marchersimon
/contributing-guides/*.es.md @navarroaxel
/contributing-guides/*.it.md @mebeim @yutyo
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
