Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @marchersimon, @navarroaxel, @mebeim, @yutyo, @acuteenvy, @waldyrious, @kbdharun, @blueskyson, @einverne

Update xcrun.md
  pages.es/osx/xcrun.md
Owners: @navarroaxel

tart: add Spanish translation
  pages.es/osx/tart.md
Owners: @navarroaxel

age: fixed spelling
  pages/common/age.md
Owners: none

adscript: add Dutch translation
  pages.nl/common/adscript.md
Owners: none

afconvert: add Dutch translation
  pages.nl/common/afconvert.md
Owners: none

ag: add Dutch translation
  pages.nl/common/ag.md
Owners: none

agate: add Dutch translation
  pages.nl/common/agate.md
Owners: none

age: add Dutch translation
  pages.nl/common/age.md
Owners: none

ag: add Dutch translation
  pages.nl/common/ag.md
Owners: none

afconvert: add Dutch translation
  pages.nl/common/afconvert.md
Owners: none

agate: add Dutch translation
  pages.nl/common/agate.md
Owners: none

adscript: add Dutch translation
  pages.nl/common/adscript.md
Owners: none

ag: add Dutch translation
  pages.nl/common/ag.md
Owners: none

afconvert: add Dutch translation
  pages.nl/common/afconvert.md
Owners: none

agate: add Dutch translation
  pages.nl/common/agate.md
Owners: none

age: add Dutch translation
  pages.nl/common/age.md
Owners: none

adscript: add Dutch translation
  pages.nl/common/adscript.md
Owners: none

age: add Dutch translation
  pages.nl/common/age.md
Owners: none

Update pages/osx/valet.md
  pages/osx/valet.md
Owners: none

nping: add page
  pages/common/nping.md
Owners: none

add missing colon
  pages/common/nping.md
Owners: none

pages/*: remove space between " / "
  pages/common/acme.sh-dns.md
  pages/common/clj.md
  pages/common/deemix.md
  pages/common/ern.md
  pages/common/git-check-ignore.md
  pages/common/less.md
  pages/common/nbtscan.md
  pages/common/nmap.md
  pages/common/pastel.md
  pages/common/samtools.md
  pages/common/swig.md
  pages/linux/ip.md
  pages/linux/tc.md
  pages/linux/trash.md
  pages/linux/whiptail.md
Owners: none

xcrun: swap help and version examples
  pages/osx/xcrun.md
Owners: none

Update pages/common/bash.md
  pages/common/bash.md
Owners: none

remove double colon
  pages/common/birdc.md
  pages/common/fastd.md
Owners: none

add translations
  pages.de/common/babeld.md
  pages.de/common/bird.md
  pages.de/common/birdc.md
  pages.de/common/fastd.md
  pages.de/common/pystun3.md
  pages.de/common/stun.md
Owners: @pixelcmtd, @marchersimon

bgpgrep, peerindex: add german translation
  pages.de/common/bgpgrep.md
  pages.de/common/peerindex.md
Owners: @pixelcmtd, @marchersimon

improve wording
  pages/common/bgpgrep.md
Owners: none

bash: add restricted shell command (#10325)
  pages/common/bash.md
Owners: none

bash: add restricted shell command (#10325)
  pages/common/bash.md
Owners: none

nc: update page
  pages/common/nc.md
Owners: none

gnome-extensions: update placeholder in Tamil translation (#10255)
  pages.ta/linux/gnome-extensions.md
Owners: @kbdharun

gnome-extensions: update placeholder in Tamil translation (#10255)
  pages.ta/linux/gnome-extensions.md
Owners: @kbdharun

toolbox: update to f38; update Tamil translation (#10257)
  pages.ta/linux/distrobox-rm.md
  pages.ta/linux/toolbox-create.md
  pages.ta/linux/toolbox-enter.md
  pages.ta/linux/toolbox-help.md
  pages.ta/linux/toolbox-run.md
  pages/linux/toolbox-create.md
  pages/linux/toolbox-enter.md
  pages/linux/toolbox-run.md
Owners: @kbdharun

toolbox: update to f38; update Tamil translation (#10257)
  pages.ta/linux/distrobox-rm.md
  pages.ta/linux/toolbox-create.md
  pages.ta/linux/toolbox-enter.md
  pages.ta/linux/toolbox-help.md
  pages.ta/linux/toolbox-run.md
  pages/linux/toolbox-create.md
  pages/linux/toolbox-enter.md
  pages/linux/toolbox-run.md
Owners: @kbdharun

toolbox: update Tamil translation (#10256)
  pages.ta/linux/toolbox.md
Owners: @kbdharun

toolbox: update Tamil translation (#10256)
  pages.ta/linux/toolbox.md
Owners: @kbdharun

Update pages/windows/winget.md
  pages/windows/winget.md
Owners: none

Update pages.ta/windows/winget.md
  pages.ta/windows/winget.md
Owners: @kbdharun

winget: update page, add Tamil translation (#10258)
  pages.ta/windows/winget.md
  pages/windows/winget.md
Owners: @kbdharun

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @marchersimon
/pages.es/ @navarroaxel
/pages.it/ @mebeim @yutyo
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/contributing-guides/*.de.md @pixelcmtd @marchersimon
/contributing-guides/*.es.md @navarroaxel
/contributing-guides/*.it.md @mebeim @yutyo
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
