Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @marchersimon, @navarroaxel, @mebeim, @yutyo, @acuteenvy, @waldyrious, @kbdharun, @blueskyson, @einverne

aws cognito-idp: add German translation
  pages.de/common/aws cognito-idp.md
Owners: @pixelcmtd, @marchersimon

Update aws cognito-idp.md
  pages.de/common/aws cognito-idp.md
Owners: @pixelcmtd, @marchersimon

mitmproxy : add the variable "SSLKEYLOGFILE" (#10306)
  pages/common/mitmproxy.md
Owners: none

mitmproxy : add the variable "SSLKEYLOGFILE" (#10306)
  pages/common/mitmproxy.md
Owners: none

git-clone: update page
  pages/common/git-clone.md
Owners: none

Rename aws cognito-idp.md to aws-cognito-idp.md
  pages.de/common/aws-cognito-idp.md
Owners: @pixelcmtd, @marchersimon

webinspectord: add Spanish translation
  pages.es/osx/webinspectord.md
Owners: @navarroaxel

whatis: add Spanish translation
  pages.es/osx/whatis.md
Owners: @navarroaxel

whence: add Spanish translation
  pages.es/osx/whence.md
Owners: @navarroaxel

pages.*: update Java links (#10294)
  pages.ca/linux/pkgadd.md
  pages.ca/linux/pkgrm.md
  pages.es/linux/pkgadd.md
  pages.es/linux/pkgrm.md
  pages.id/common/java.md
  pages.pl/common/java.md
  pages.pt_BR/common/java.md
  pages.pt_BR/common/javac.md
  pages.ta/common/java.md
  pages.ta/common/javac.md
  pages.zh/common/jarsigner.md
  pages.zh/common/java.md
  pages.zh/common/javac.md
  pages.zh/common/javadoc.md
  pages.zh/common/jmap.md
  pages.zh/common/jps.md
  pages/common/jarsigner.md
  pages/common/java.md
  pages/common/javac.md
  pages/common/javadoc.md
  pages/common/javap.md
  pages/common/jdeps.md
  pages/common/jmap.md
  pages/common/jps.md
  pages/common/keytool.md
  pages/common/serialver.md
  pages/linux/pkgadd.md
  pages/linux/pkgmk.md
  pages/linux/pkgrm.md
Owners: @navarroaxel, @acuteenvy, @waldyrious, @kbdharun, @blueskyson, @einverne

pages.*: update Java links (#10294)
  pages.ca/linux/pkgadd.md
  pages.ca/linux/pkgrm.md
  pages.es/linux/pkgadd.md
  pages.es/linux/pkgrm.md
  pages.id/common/java.md
  pages.pl/common/java.md
  pages.pt_BR/common/java.md
  pages.pt_BR/common/javac.md
  pages.ta/common/java.md
  pages.ta/common/javac.md
  pages.zh/common/jarsigner.md
  pages.zh/common/java.md
  pages.zh/common/javac.md
  pages.zh/common/javadoc.md
  pages.zh/common/jmap.md
  pages.zh/common/jps.md
  pages/common/jarsigner.md
  pages/common/java.md
  pages/common/javac.md
  pages/common/javadoc.md
  pages/common/javap.md
  pages/common/jdeps.md
  pages/common/jmap.md
  pages/common/jps.md
  pages/common/keytool.md
  pages/common/serialver.md
  pages/linux/pkgadd.md
  pages/linux/pkgmk.md
  pages/linux/pkgrm.md
Owners: @navarroaxel, @acuteenvy, @waldyrious, @kbdharun, @blueskyson, @einverne

wifivelocityd: add Spanish translation
  pages.es/osx/wifivelocityd.md
Owners: @navarroaxel

wps: add Spanish translation
  pages.es/osx/wps.md
Owners: @navarroaxel

busctl: add page (#10271)
  pages/linux/busctl.md
Owners: none

busctl: add page (#10271)
  pages/linux/busctl.md
Owners: none

Update pages/common/clido.md
  pages/common/clido.md
Owners: none

clido: add page (#10215)
  pages/common/clido.md
Owners: none

clido: add page (#10215)
  pages/common/clido.md
Owners: none

act: update Chinese translation (#10312)
  pages.zh/common/act.md
Owners: @blueskyson, @einverne

act: update Chinese translation (#10312)
  pages.zh/common/act.md
Owners: @blueskyson, @einverne

git-clone: update page
  pages/common/git-clone.md
Owners: none

git-config: update Chinese translation
  pages.zh/common/git-config.md
Owners: @blueskyson, @einverne

git-lfs: update page
  pages/common/git-lfs.md
Owners: none

gitwatch: add page
  pages/common/gitwatch.md
Owners: none

gitwatch: fix linting errors
  pages/common/gitwatch.md
Owners: none

Update bash.md
  pages/common/bash.md
Owners: none

gitwatch: implement documentation suggestions
  pages/common/gitwatch.md
Owners: none

wwand: add Spanish translation
  pages.es/osx/wwand.md
Owners: @navarroaxel

Update pages/common/git-clone.md
  pages/common/git-clone.md
Owners: none

nmap: add German translation
  pages.de/common/nmap.md
Owners: @pixelcmtd, @marchersimon

git-clone: update page (#10315)
  pages/common/git-clone.md
Owners: none

git-clone: update page (#10315)
  pages/common/git-clone.md
Owners: none

xartstorageremoted: add Spanish translation
  pages.es/osx/xartstorageremoted.md
Owners: @navarroaxel

nmap: added new line at end
  pages.de/common/nmap.md
Owners: @pixelcmtd, @marchersimon

xattr: add Spanish translation
  pages.es/osx/xattr.md
Owners: @navarroaxel

xcode-select: add Spanish translation
  pages.es/osx/xcode-select.md
Owners: @navarroaxel

gitwatch: add page (#10324)
  pages/common/gitwatch.md
Owners: none

gitwatch: add page (#10324)
  pages/common/gitwatch.md
Owners: none

minifab: fix typo
  pages/common/minifab.md
Owners: none

tc: fix typo
  pages/linux/tc.md
Owners: none

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @marchersimon
/pages.es/ @navarroaxel
/pages.it/ @mebeim @yutyo
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/contributing-guides/*.de.md @pixelcmtd @marchersimon
/contributing-guides/*.es.md @navarroaxel
/contributing-guides/*.it.md @mebeim @yutyo
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
