Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @marchersimon, @navarroaxel, @mebeim, @yutyo, @acuteenvy, @waldyrious, @kbdharun, @blueskyson, @einverne

winget: update page, add Tamil translation (#10258)
  pages.ta/windows/winget.md
  pages/windows/winget.md
Owners: @kbdharun

xbps-query: add page
  pages/linux/xbps-query.md
Owners: none

xbps: remove examples and add redirections to subpages
  pages/linux/xbps.md
Owners: none

xbps-install: add page
  pages/linux/xbps-install.md
Owners: none

xbps-remove: add page
  pages/linux/xbps-remove.md
Owners: none

Update pages.es/osx/whence.md
  pages.es/osx/whence.md
Owners: @navarroaxel

Update pages.es/osx/whence.md
  pages.es/osx/whence.md
Owners: @navarroaxel

Update pages.es/osx/whence.md
  pages.es/osx/whence.md
Owners: @navarroaxel

Update pages.es/osx/whence.md
  pages.es/osx/whence.md
Owners: @navarroaxel

Update pages.es/osx/whence.md
  pages.es/osx/whence.md
Owners: @navarroaxel

Update pages.es/osx/whence.md
  pages.es/osx/whence.md
Owners: @navarroaxel

Update pages.es/osx/whence.md
  pages.es/osx/whence.md
Owners: @navarroaxel

MAINTAINERS: add @mfrw as org owner
  MAINTAINERS.md
Owners: none

xml2man: add Spanish translation
  pages.es/osx/xml2man.md
Owners: @navarroaxel

wifi-password: update Chinese translation
  pages.zh/osx/wifi-password.md
Owners: @blueskyson, @einverne

say: update Chinese translation
  pages.zh/osx/say.md
Owners: @blueskyson, @einverne

ping: update Chinese translation
  pages.zh/osx/ping.md
Owners: @blueskyson, @einverne

pbpaste: update Chinese translation
  pages.zh/osx/pbpaste.md
Owners: @blueskyson, @einverne

pbcopy: update Chinese translation
  pages.zh/osx/pbcopy.md
Owners: @blueskyson, @einverne

w: add Spanish translation, update page (#10208)
  pages.es/osx/w.md
  pages/osx/w.md
Owners: @navarroaxel

w: add Spanish translation, update page (#10208)
  pages.es/osx/w.md
  pages/osx/w.md
Owners: @navarroaxel

MAINTAINERS: add @mfrw as org owner (#10355)
  MAINTAINERS.md
Owners: none

MAINTAINERS: add @mfrw as org owner (#10355)
  MAINTAINERS.md
Owners: none

Update pages.zh/osx/pbpaste.md
  pages.zh/osx/pbpaste.md
Owners: @blueskyson, @einverne

Update pages.zh/osx/pbcopy.md
  pages.zh/osx/pbcopy.md
Owners: @blueskyson, @einverne

nc: update page (#10353)
  pages/common/nc.md
Owners: none

nc: update page (#10353)
  pages/common/nc.md
Owners: none

xcrun: swap help and version examples (#10350)
  pages/osx/xcrun.md
Owners: none

xcrun: swap help and version examples (#10350)
  pages/osx/xcrun.md
Owners: none

shuf: add Spanish translation
  pages.es/osx/shuf.md
Owners: @navarroaxel

Added dirbuster
  pages/common/dirbuster.md
Owners: none

Moved `dirbuster` tldr page to Linux
  pages/linux/dirbuster.md
Owners: none

Added an extra full stop/period.
  pages/linux/dirbuster.md
Owners: none

Changed placeholder better
  pages/linux/dirbuster.md
Owners: none

shortcuts: add Spanish translation
  pages.es/osx/shortcuts.md
Owners: @navarroaxel

Added dirbuster tldr page
  pages/linux/dirbuster.md
Owners: none

Added zotero tldr page
  pages/common/zotero.md
  pages/linux/dirbuster.md
Owners: none

Removed dirbuster page
  pages/linux/dirbuster.md
Owners: none

rustc: update page
  pages/common/rustc.md
Owners: none

MAINTAINERS: use invitation date for @mfrw instead of issue date
  MAINTAINERS.md
Owners: none

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @marchersimon
/pages.es/ @navarroaxel
/pages.it/ @mebeim @yutyo
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/contributing-guides/*.de.md @pixelcmtd @marchersimon
/contributing-guides/*.es.md @navarroaxel
/contributing-guides/*.it.md @mebeim @yutyo
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
