Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

Update pages.es/common/pgrep.md
  pages.es/common/pgrep.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/pg_dump.md
  pages.es/common/pg_dump.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/pg_dump.md
  pages.es/common/pg_dump.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/pg_dump.md
  pages.es/common/pg_dump.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/pg_dumpall.md
  pages.es/common/pg_dumpall.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/pg_dumpall.md
  pages.es/common/pg_dumpall.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/patch.md
  pages.es/common/patch.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/patch.md
  pages.es/common/patch.md
Owners: @kant, @tricantivu, @ikks

patch: add Spanish translation (#15188)
  pages.es/common/patch.md
Owners: @kant, @tricantivu, @ikks

patch: add Spanish translation (#15188)
  pages.es/common/patch.md
Owners: @kant, @tricantivu, @ikks

pgrep: add Spanish translation (#15187)
  pages.es/common/pgrep.md
Owners: @kant, @tricantivu, @ikks

pgrep: add Spanish translation (#15187)
  pages.es/common/pgrep.md
Owners: @kant, @tricantivu, @ikks

pg_isready: add Spanish translation (#15186)
  pages.es/common/pg_isready.md
Owners: @kant, @tricantivu, @ikks

pg_isready: add Spanish translation (#15186)
  pages.es/common/pg_isready.md
Owners: @kant, @tricantivu, @ikks

pg_restore: add Spanish translation (#15185)
  pages.es/common/pg_restore.md
Owners: @kant, @tricantivu, @ikks

pg_restore: add Spanish translation (#15185)
  pages.es/common/pg_restore.md
Owners: @kant, @tricantivu, @ikks

pg_dumpall: add Spanish translation (#15184)
  pages.es/common/pg_dumpall.md
Owners: @kant, @tricantivu, @ikks

pg_dumpall: add Spanish translation (#15184)
  pages.es/common/pg_dumpall.md
Owners: @kant, @tricantivu, @ikks

pg_dump: add Spanish translation (#15183)
  pages.es/common/pg_dump.md
Owners: @kant, @tricantivu, @ikks

pg_dump: add Spanish translation (#15183)
  pages.es/common/pg_dump.md
Owners: @kant, @tricantivu, @ikks

pgbench: add Spanish translation (#15181)
  pages.es/common/pgbench.md
Owners: @kant, @tricantivu, @ikks

pgbench: add Spanish translation (#15181)
  pages.es/common/pgbench.md
Owners: @kant, @tricantivu, @ikks

pg_ctl: add Spanish translation (#15182)
  pages.es/common/pg_ctl.md
Owners: @kant, @tricantivu, @ikks

pg_ctl: add Spanish translation (#15182)
  pages.es/common/pg_ctl.md
Owners: @kant, @tricantivu, @ikks

btop: add `--update` example (#15165)
  pages/common/btop.md
Owners: none

btop: add `--update` example (#15165)
  pages/common/btop.md
Owners: none

tag: fix typo
  pages/osx/tag.md
Owners: none

tag: add Spanish translation, fix typo (#15166)
  pages.es/osx/tag.md
  pages/osx/tag.md
Owners: @kant, @tricantivu, @ikks

tag: add Spanish translation, fix typo (#15166)
  pages.es/osx/tag.md
  pages/osx/tag.md
Owners: @kant, @tricantivu, @ikks

cut: update documentation link
  pages.de/common/cut.md
  pages.es/common/cut.md
  pages.it/common/cut.md
  pages.ko/common/cut.md
  pages.nl/common/cut.md
  pages.pt_BR/common/cut.md
  pages.ru/common/cut.md
  pages/common/cut.md
Owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @isaacvicente, @vitorhcl, @renie

date: update documentation link
  pages.de/common/date.md
  pages.it/common/date.md
  pages.ko/common/date.md
  pages.nl/common/date.md
  pages.pt_BR/common/date.md
  pages.tr/common/date.md
  pages/common/date.md
Owners: @pixelcmtd, @gutjuri, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @isaacvicente, @vitorhcl, @renie

echo: update documentation link
  pages.de/common/echo.md
  pages.fa/common/echo.md
  pages.fr/common/echo.md
  pages.it/common/echo.md
  pages.ja/common/echo.md
  pages.ko/common/echo.md
  pages.nl/common/echo.md
  pages.pt_BR/common/echo.md
  pages.ru/common/echo.md
  pages.sr/common/echo.md
  pages.zh/common/echo.md
  pages.zh_TW/common/echo.md
  pages/common/echo.md
Owners: @pixelcmtd, @gutjuri, @MrMw3, @Nico385412, @nicokosi, @noraj, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @isaacvicente, @vitorhcl, @renie, @blueskyson, @einverne

lazygit: add page
  pages/common/lazygit.md
Owners: none

lazydocker: add page
  pages/common/lazydocker.md
Owners: none

batch: update Spanish translation
  pages.es/common/batch.md
Owners: @kant, @tricantivu, @ikks

atq: add Spanish translation
  pages.es/common/atq.md
Owners: @kant, @tricantivu, @ikks

atrm: add Spanish translation
  pages.es/common/atrm.md
Owners: @kant, @tricantivu, @ikks

mail: add Spanish translation
  pages.es/common/mail.md
Owners: @kant, @tricantivu, @ikks

pwd: update Spanish translation
  pages.es/common/pwd.md
Owners: @kant, @tricantivu, @ikks

npm-ls: add Spanish translation
  pages.es/common/npm-ls.md
Owners: @kant, @tricantivu, @ikks
