Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

Update pages/common/docker-context.md
  pages/common/docker-context.md
Owners: none

Update pages/common/docker-context.md
  pages/common/docker-context.md
Owners: none

Update b2sum.md
  pages.nl/common/b2sum.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

Update pages.es/linux/nm-online.md
  pages.es/linux/nm-online.md
Owners: @kant, @tricantivu, @ikks

nmcli: add Spanish translation
  pages.es/linux/nmcli.md
Owners: @kant, @tricantivu, @ikks

nmcli-agent: add Spanish translation
  pages.es/linux/nmcli-agent.md
Owners: @kant, @tricantivu, @ikks

nmcli-connection: add Spanish translation
  pages.es/linux/nmcli-connection.md
Owners: @kant, @tricantivu, @ikks

nmcli-device: add Spanish translation
  pages.es/linux/nmcli-device.md
Owners: @kant, @tricantivu, @ikks

nmcli-general: add Spanish translation
  pages.es/linux/nmcli-general.md
Owners: @kant, @tricantivu, @ikks

nmcli-monitor: add Spanish translation
  pages.es/linux/nmcli-monitor.md
Owners: @kant, @tricantivu, @ikks

nmcli-networking: add Spanish translation
  pages.es/linux/nmcli-networking.md
Owners: @kant, @tricantivu, @ikks

Update pages/linux/eclean.md
  pages/linux/eclean.md
Owners: @cyqsimon

nmcli-radio: add Spanish translation
  pages.es/linux/nmcli-radio.md
Owners: @kant, @tricantivu, @ikks

zpaq: add page (#15024)
  pages/common/zpaq.md
Owners: none

zpaq: add page (#15024)
  pages/common/zpaq.md
Owners: none

eclean: add page (#15007)
  pages/linux/eclean.md
Owners: @cyqsimon

eclean: add page (#15007)
  pages/linux/eclean.md
Owners: @cyqsimon

systemd-cryptsetup: add page (#15064)
  pages/linux/systemd-cryptsetup.md
Owners: @cyqsimon

systemd-cryptsetup: add page (#15064)
  pages/linux/systemd-cryptsetup.md
Owners: @cyqsimon

Update pages/linux/protontricks.md
  pages/linux/protontricks.md
Owners: @cyqsimon

while: add conditional repeat of command example (#15035)
  pages/common/while.md
Owners: none

while: add conditional repeat of command example (#15035)
  pages/common/while.md
Owners: none

protontricks: add launch command (#15016)
  pages/linux/protontricks.md
Owners: @cyqsimon

protontricks: add launch command (#15016)
  pages/linux/protontricks.md
Owners: @cyqsimon

Update pages.es/linux/nmcli-general.md
  pages.es/linux/nmcli-general.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/nmcli-general.md
  pages.es/linux/nmcli-general.md
Owners: @kant, @tricantivu, @ikks

Create alien.md
  pages.bn/linux/alien.md
Owners: none

Update alien.md
  pages.bn/linux/alien.md
Owners: none

update apt
  pages.bn/linux/apt.md
Owners: none

update apt
  pages.bn/linux/apt.md
Owners: none

Create a2enconf and a2enmod
  pages.bn/a2enconf.md
  pages.bn/linux/a2enconf.md
  pages.bn/linux/a2enmod.md
Owners: none

Create a2enconf and a2enmod
  pages.bn/a2enconf.md
Owners: none

Create aa-disable
  pages.bn/linux/aa-disable.md
Owners: none

nmcli-radio: add Spanish translation (#15081)
  pages.es/linux/nmcli-radio.md
Owners: @kant, @tricantivu, @ikks

nmcli-radio: add Spanish translation (#15081)
  pages.es/linux/nmcli-radio.md
Owners: @kant, @tricantivu, @ikks

nmcli-networking: add Spanish translation (#15080)
  pages.es/linux/nmcli-networking.md
Owners: @kant, @tricantivu, @ikks

nmcli-networking: add Spanish translation (#15080)
  pages.es/linux/nmcli-networking.md
Owners: @kant, @tricantivu, @ikks

nmcli-monitor: add Spanish translation (#15079)
  pages.es/linux/nmcli-monitor.md
Owners: @kant, @tricantivu, @ikks

nmcli-monitor: add Spanish translation (#15079)
  pages.es/linux/nmcli-monitor.md
Owners: @kant, @tricantivu, @ikks

nmcli-general: add Spanish translation (#15078)
  pages.es/linux/nmcli-general.md
Owners: @kant, @tricantivu, @ikks

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
