Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

hash: add page (#15229)
  pages/common/hash.md
Owners: none

hash: add page (#15229)
  pages/common/hash.md
Owners: none

%: add page (#15227)
  pages/common/%.md
Owners: none

%: add page (#15227)
  pages/common/%.md
Owners: none

getopts: add page (#15237)
  pages/common/getopts.md
Owners: none

getopts: add page (#15237)
  pages/common/getopts.md
Owners: none

return: add page (#15244)
  pages/common/return.md
Owners: none

return: add page (#15244)
  pages/common/return.md
Owners: none

adb-forward: add page (#15251)
  pages/common/adb-forward.md
Owners: none

adb-forward: add page (#15251)
  pages/common/adb-forward.md
Owners: none

mapfile: add page (#15230)
  pages/common/mapfile.md
Owners: none

mapfile: add page (#15230)
  pages/common/mapfile.md
Owners: none

Update pages/common/caller.md
  pages/common/caller.md
Owners: none

Update pages/common/caller.md
  pages/common/caller.md
Owners: none

Update pages/common/caller.md
  pages/common/caller.md
Owners: none

Update pages/common/readarray.md
  pages/common/readarray.md
Owners: none

Update pages/common/adb-pair.md
  pages/common/adb-pair.md
Owners: none

Update pages/common/adb-disconnect.md
  pages/common/adb-disconnect.md
Owners: none

fwconsole: update page
  pages/linux/fwconsole.md
Owners: @cyqsimon

Update continue.md
  pages/common/continue.md
Owners: none

latexpand: add page (#15311)
  pages/common/latexpand.md
Owners: none

latexpand: add page (#15311)
  pages/common/latexpand.md
Owners: none

pangolin: add page (#15346)
  pages/common/pangolin.md
Owners: none

pangolin: add page (#15346)
  pages/common/pangolin.md
Owners: none

mysql: add zh translation
  pages.zh/common/mysql.md
Owners: @blueskyson, @einverne

Update function.md
  pages/common/function.md
Owners: none

svgtopam, srftopam, pamtosrf: add pages
  pages/common/pamtosrf.md
  pages/common/srftopam.md
  pages/common/svgtopam.md
Owners: none

spottopgm, rlatopam, rgb3toppm, ppmtorgb3: add pages
  pages/common/ppmtorgb3.md
  pages/common/rgb3toppm.md
  pages/common/rlatopam.md
  pages/common/spottopgm.md
Owners: none

fix typo
  pages/common/ppmtorgb3.md
Owners: none

ppmtopjxl, ppmwheel, ppmtoapplevol: add pages
  pages/common/ppmtoapplevol.md
  pages/common/ppmtopjxl.md
  pages/common/ppmwheel.md
Owners: none

llvm-mc: add page
  pages/common/llvm-mc.md
Owners: none

ppmdraw, ppmglobe, pnmmercator: add pages
  pages/common/pnmmercator.md
  pages/common/ppmdraw.md
  pages/common/ppmglobe.md
Owners: none

npm-cache: fix the command to show cache path
  pages/common/npm-cache.md
Owners: none

continue: fix grammar (#15352)
  pages/common/continue.md
Owners: none

continue: fix grammar (#15352)
  pages/common/continue.md
Owners: none

dpkg: add Spanish translation (#15261)
  pages.es/linux/dpkg.md
Owners: @kant, @tricantivu, @ikks

dpkg: add Spanish translation (#15261)
  pages.es/linux/dpkg.md
Owners: @kant, @tricantivu, @ikks

killall: add Spanish translation (#15266)
  pages.es/linux/killall.md
Owners: @kant, @tricantivu, @ikks

killall: add Spanish translation (#15266)
  pages.es/linux/killall.md
Owners: @kant, @tricantivu, @ikks

ruff-format: add Spanish translation (#15257)
  pages.es/common/ruff-format.md
Owners: @kant, @tricantivu, @ikks
