Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

Update pct.md: Revise commands and add new examples (#3)
  pages/linux/pct.md
Owners: @cyqsimon

gh-skyline: add Spanish translation
  pages.es/common/gh-skyline.md
Owners: @kant, @tricantivu, @ikks

Update gh-skyline.md
  pages.es/common/gh-skyline.md
Owners: @kant, @tricantivu, @ikks

Update pvesh.md
  pages/linux/pvesh.md
Owners: @cyqsimon

Update pvesm.md
  pages/linux/pvesm.md
Owners: @cyqsimon

ls: update documentation link
  pages.ar/common/ls.md
  pages.ca/common/ls.md
  pages.de/common/ls.md
  pages.es/common/ls.md
  pages.fa/common/ls.md
  pages.fr/common/ls.md
  pages.hi/common/ls.md
  pages.id/common/ls.md
  pages.it/common/ls.md
  pages.ja/common/ls.md
  pages.ko/common/ls.md
  pages.ne/common/ls.md
  pages.nl/common/ls.md
  pages.pl/common/ls.md
  pages.pt_BR/common/ls.md
  pages.ru/common/ls.md
  pages.ta/common/ls.md
  pages.th/common/ls.md
  pages.zh/common/ls.md
  pages.zh_TW/common/ls.md
  pages/common/ls.md
Owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @blueskyson, @einverne

Update pages/linux/grub2-mkpasswd-pbkdf2.md
  pages/linux/grub2-mkpasswd-pbkdf2.md
Owners: @cyqsimon

Update pages/linux/grub2-mkpasswd-pbkdf2.md
  pages/linux/grub2-mkpasswd-pbkdf2.md
Owners: @cyqsimon

Update pages/linux/grub2-mkpasswd-pbkdf2.md
  pages/linux/grub2-mkpasswd-pbkdf2.md
Owners: @cyqsimon

Update pages/linux/grub2-mkpasswd-pbkdf2.md
  pages/linux/grub2-mkpasswd-pbkdf2.md
Owners: @cyqsimon

Update pages/linux/grub2-mkpasswd-pbkdf2.md
  pages/linux/grub2-mkpasswd-pbkdf2.md
Owners: @cyqsimon

Create grub2-mkpasswd-pbkdf2.md
  pages/linux/grub2-mkpasswd-pbkdf2.md
Owners: @cyqsimon

Update pages/linux/grub2-mkpasswd-pbkdf2.md
  pages/linux/grub2-mkpasswd-pbkdf2.md
Owners: @cyqsimon

Update pages/linux/grub2-mkpasswd-pbkdf2.md
  pages/linux/grub2-mkpasswd-pbkdf2.md
Owners: @cyqsimon

Update grub2-mkpasswd-pbkdf2.md
  pages/linux/grub2-mkpasswd-pbkdf2.md
Owners: @cyqsimon

pdfattach: add Spanish translation
  pages.es/linux/pdfattach.md
Owners: @kant, @tricantivu, @ikks

pdfcrop: add Spanish translation
  pages.es/linux/pdfcrop.md
Owners: @kant, @tricantivu, @ikks

pdfdetach: add Spanish translation
  pages.es/linux/pdfdetach.md
Owners: @kant, @tricantivu, @ikks

pdftohtml: add Spanish translation
  pages.es/linux/pdftohtml.md
Owners: @kant, @tricantivu, @ikks

pdftoppm: add Spanish translation
  pages.es/linux/pdftoppm.md
Owners: @kant, @tricantivu, @ikks

pdfxup: add Spanish translation
  pages.es/linux/pdfxup.md
Owners: @kant, @tricantivu, @ikks

darwin-rebuild: add page
  pages/osx/darwin-rebuild.md
Owners: none

home-manager: improve page examples and description
  pages/common/home-manager.md
Owners: none

Update pages/osx/bclm.md
  pages/osx/bclm.md
Owners: none

Update pages/osx/autoraise.md
  pages/osx/autoraise.md
Owners: none

autoraise.md clarity
  pages/osx/autoraise.md
Owners: none

Update pages.es/common/gh-skyline.md
  pages.es/common/gh-skyline.md
Owners: @kant, @tricantivu, @ikks

common: add cidr
  pages/common/cidr.md
Owners: none

qm-snapshot: add Spanish translation (#15149)
  pages.es/linux/qm-snapshot.md
Owners: @kant, @tricantivu, @ikks

qm-snapshot: add Spanish translation (#15149)
  pages.es/linux/qm-snapshot.md
Owners: @kant, @tricantivu, @ikks

qm-suspend: add Spanish translation (#15153)
  pages.es/linux/qm-suspend.md
Owners: @kant, @tricantivu, @ikks

qm-suspend: add Spanish translation (#15153)
  pages.es/linux/qm-suspend.md
Owners: @kant, @tricantivu, @ikks

qm-template: add Spanish translation (#15154)
  pages.es/linux/qm-template.md
Owners: @kant, @tricantivu, @ikks

qm-template: add Spanish translation (#15154)
  pages.es/linux/qm-template.md
Owners: @kant, @tricantivu, @ikks

obs: add Spanish translation (#15158)
  pages.es/common/obs.md
Owners: @kant, @tricantivu, @ikks

obs: add Spanish translation (#15158)
  pages.es/common/obs.md
Owners: @kant, @tricantivu, @ikks

tilde: add Spanish translation (#15159)
  pages.es/common/~.md
Owners: @kant, @tricantivu, @ikks

tilde: add Spanish translation (#15159)
  pages.es/common/~.md
Owners: @kant, @tricantivu, @ikks

glow: add Spanish translation (#15160)
  pages.es/common/glow.md
Owners: @kant, @tricantivu, @ikks

glow: add Spanish translation (#15160)
  pages.es/common/glow.md
Owners: @kant, @tricantivu, @ikks
