Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @marchersimon, @navarroaxel, @mebeim, @yutyo, @acuteenvy, @waldyrious, @kbdharun, @blueskyson, @einverne

eol: add page (#10380)
  pages/common/eol.md
Owners: none

fixup! terminal-notifier
  pages/osx/terminal-notifier.md
Owners: none

pbcopy: add Spanish translation
  pages.es/osx/pbcopy.md
Owners: @navarroaxel

pbpaste: add Spanish translation
  pages.es/osx/pbpaste.md
Owners: @navarroaxel

open; add Spanish translation
  pages.es/osx/open.md
Owners: @navarroaxel

mods: fix quoting (#10398)
  pages/common/mods.md
Owners: none

mods: fix quoting (#10398)
  pages/common/mods.md
Owners: none

instaloader: apply suggestions
  pages/linux/instaloader.md
Owners: none

MAINTAINERS: add @kbdharun as org owner (#10397)
  MAINTAINERS.md
Owners: none

MAINTAINERS: add @kbdharun as org owner (#10397)
  MAINTAINERS.md
Owners: none

removed trailing dot to make the link work
  pages/linux/ufw.md
Owners: none

instaloader: add page (#10393)
  pages/linux/instaloader.md
Owners: none

instaloader: add page (#10393)
  pages/linux/instaloader.md
Owners: none

Update pages/osx/terminal-notifier.md
  pages/osx/terminal-notifier.md
Owners: none

terminal-notifier: fix string quotes
  pages/osx/terminal-notifier.md
Owners: none

MAINTAINERS: add @acuteenvy as org member
  MAINTAINERS.md
Owners: none

safeejectgpu: add Spanish translation
  pages.es/osx/safeejectgpu.md
Owners: @navarroaxel

MAINTAINERS: add @acuteenvy as org member (#10407)
  MAINTAINERS.md
Owners: none

MAINTAINERS: add @acuteenvy as org member (#10407)
  MAINTAINERS.md
Owners: none

CI: remove stale workflow
  .github/workflows/stale.yml
Owners: none

rustc: update page (#10368)
  pages/common/rustc.md
Owners: none

rustc: update page (#10368)
  pages/common/rustc.md
Owners: none

Update pages.es/osx/llvm-lipo.md
  pages.es/osx/llvm-lipo.md
Owners: @navarroaxel

ruby: Add http server example
  pages/common/ruby.md
Owners: none

Update pages/common/datashader_cli.md
  pages/common/datashader_cli.md
Owners: none

Update pages/common/datashader_cli.md
  pages/common/datashader_cli.md
Owners: none

fixup! terminal-notifier
  pages/osx/terminal-notifier.md
Owners: none

ssh-keygen: small improvement and fix (#10261)
  pages.de/common/ssh-keygen.md
  pages.fr/common/ssh-keygen.md
  pages/common/ssh-keygen.md
Owners: @pixelcmtd, @marchersimon

ssh-keygen: small improvement and fix (#10261)
  pages.de/common/ssh-keygen.md
  pages.fr/common/ssh-keygen.md
  pages/common/ssh-keygen.md
Owners: @pixelcmtd, @marchersimon

systemd-delta: add page (#10388)
  pages/linux/systemd-delta.md
Owners: none

systemd-delta: add page (#10388)
  pages/linux/systemd-delta.md
Owners: none

bgpgrep, peerindex: add page (#10276)
  pages/common/bgpgrep.md
  pages/common/peerindex.md
Owners: none

bgpgrep, peerindex: add page (#10276)
  pages/common/bgpgrep.md
  pages/common/peerindex.md
Owners: none

tlmgr-search: update placeholder
  pages/common/tlmgr-search.md
Owners: none

tlmgr-search: add page (#8287)
  pages/common/tlmgr-search.md
Owners: none

tlmgr-search: add page (#8287)
  pages/common/tlmgr-search.md
Owners: none

include suggestions from pixelcmtd
  pages.de/common/bgpgrep.md
  pages.de/common/peerindex.md
Owners: @pixelcmtd, @marchersimon

terminal-notifier: add page (#10399)
  pages/osx/terminal-notifier.md
Owners: none

terminal-notifier: add page (#10399)
  pages/osx/terminal-notifier.md
Owners: none

Update pages/common/datashader_cli.md
  pages/common/datashader_cli.md
Owners: none

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @marchersimon
/pages.es/ @navarroaxel
/pages.it/ @mebeim @yutyo
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/contributing-guides/*.de.md @pixelcmtd @marchersimon
/contributing-guides/*.es.md @navarroaxel
/contributing-guides/*.it.md @mebeim @yutyo
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
