Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

x86_64, uname26, linux32, linux64, i386: add page (#15374)
  pages/linux/i386.md
  pages/linux/linux32.md
  pages/linux/linux64.md
  pages/linux/uname26.md
  pages/linux/x86_64.md
Owners: @cyqsimon

x86_64, uname26, linux32, linux64, i386: add page (#15374)
  pages/linux/i386.md
  pages/linux/linux32.md
  pages/linux/linux64.md
  pages/linux/uname26.md
  pages/linux/x86_64.md
Owners: @cyqsimon

Update pages/common/apkeep.md
  pages/common/apkeep.md
Owners: none

Update pages/common/vmtouch.md
  pages/common/vmtouch.md
Owners: none

Update pages/common/vmtouch.md
  pages/common/vmtouch.md
Owners: none

Update vmtouch.md
  pages/common/vmtouch.md
Owners: none

pacman: refresh page (#15360)
  pages/linux/pacman.md
Owners: @cyqsimon

pacman: refresh page (#15360)
  pages/linux/pacman.md
Owners: @cyqsimon

fincore: add page (#15362)
  pages/linux/fincore.md
Owners: @cyqsimon

fincore: add page (#15362)
  pages/linux/fincore.md
Owners: @cyqsimon

fwconsole: add page (#15350)
  pages/linux/fwconsole.md
Owners: @cyqsimon

fwconsole: add page (#15350)
  pages/linux/fwconsole.md
Owners: @cyqsimon

flatpak-run: update page
  pages/linux/flatpak-run.md
Owners: @cyqsimon

Update pages/linux/flatpak-run.md
  pages/linux/flatpak-run.md
Owners: @cyqsimon

Update pages/linux/flatpak-run.md
  pages/linux/flatpak-run.md
Owners: @cyqsimon

llvd: add Spanish translation (#15304)
  pages.es/common/llvd.md
Owners: @kant, @tricantivu, @ikks

llvd: add Spanish translation (#15304)
  pages.es/common/llvd.md
Owners: @kant, @tricantivu, @ikks

uname: add Arabic translation (#15313)
  pages.ar/linux/uname.md
Owners: none

uname: add Arabic translation (#15313)
  pages.ar/linux/uname.md
Owners: none

mysql: fix link in Chinese translation
  pages.zh/common/mysql.md
Owners: @blueskyson, @einverne

rm: add Arabic translation
  pages.ar/linux/rm.md
Owners: none

rm: add Arabic translation
  pages.ar/linux/rm.md
Owners: none

Create %.md
  pages.ar/common/%.md
Owners: none

function: add page (#15241)
  pages/common/function.md
Owners: none

function: add page (#15241)
  pages/common/function.md
Owners: none

readarray: add page (#15248)
  pages/common/readarray.md
Owners: none

readarray: add page (#15248)
  pages/common/readarray.md
Owners: none

id: add Arabic translation
  pages.ar/linux/id.md
Owners: none

Delete pages.ar/linux/id.md
  pages.ar/linux/id.md
Owners: none

mysql: fix link in Chinese translation (#15376)
  pages.zh/common/mysql.md
Owners: @blueskyson, @einverne

mysql: fix link in Chinese translation (#15376)
  pages.zh/common/mysql.md
Owners: @blueskyson, @einverne

llm: add Spanish translation (#15303)
  pages.es/common/llm.md
Owners: @kant, @tricantivu, @ikks

llm: add Spanish translation (#15303)
  pages.es/common/llm.md
Owners: @kant, @tricantivu, @ikks

lli: add Spanish translation (#15302)
  pages.es/common/lli.md
Owners: @kant, @tricantivu, @ikks

lli: add Spanish translation (#15302)
  pages.es/common/lli.md
Owners: @kant, @tricantivu, @ikks

lldb: add Spanish translation (#15301)
  pages.es/common/lldb.md
Owners: @kant, @tricantivu, @ikks

lldb: add Spanish translation (#15301)
  pages.es/common/lldb.md
Owners: @kant, @tricantivu, @ikks

llc: add Spanish translation (#15300)
  pages.es/common/llc.md
Owners: @kant, @tricantivu, @ikks

llc: add Spanish translation (#15300)
  pages.es/common/llc.md
Owners: @kant, @tricantivu, @ikks

zig: add Spanish translation (#15299)
  pages.es/common/zig.md
Owners: @kant, @tricantivu, @ikks
