Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @marchersimon, @navarroaxel, @mebeim, @yutyo, @acuteenvy, @waldyrious, @kbdharun, @blueskyson, @einverne

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @marchersimon
/pages.es/ @navarroaxel
/pages.it/ @mebeim @yutyo
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/contributing-guides/*.de.md @pixelcmtd @marchersimon
/contributing-guides/*.es.md @navarroaxel
/contributing-guides/*.it.md @mebeim @yutyo
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

pbpaste: update Chinese translation (#10360)
  pages.zh/osx/pbpaste.md
Owners: @blueskyson, @einverne

say: update Chinese translation (#10358)
  pages.zh/osx/say.md
Owners: @blueskyson, @einverne

say: update Chinese translation (#10358)
  pages.zh/osx/say.md
Owners: @blueskyson, @einverne

ping: update Chinese translation (#10359)
  pages.zh/osx/ping.md
Owners: @blueskyson, @einverne

ping: update Chinese translation (#10359)
  pages.zh/osx/ping.md
Owners: @blueskyson, @einverne

MAINTAINERS: use invitation date for @mfrw instead of issue date (#10369)
  MAINTAINERS.md
Owners: none

MAINTAINERS: use invitation date for @mfrw instead of issue date (#10369)
  MAINTAINERS.md
Owners: none

black, glob: update dependencies
  package-lock.json
  package.json
  requirements.txt
  scripts/pdf/render.py
Owners: none

Update glob to match with markdown lint
  package-lock.json
  package.json
Owners: none

Reformat render.py for black
  scripts/pdf/render.py
Owners: none

page-request.yml: remove trailing line
  .github/ISSUE_TEMPLATE/page-request.yml
Owners: none

git-init: update Italian translation (#10168)
  pages.it/common/git-init.md
Owners: @mebeim, @yutyo

git-init: update Italian translation (#10168)
  pages.it/common/git-init.md
Owners: @mebeim, @yutyo

stale.yml: fix trailing space
  .github/workflows/stale.yml
Owners: none

Update pages.it/linux/smbclient.md
  pages.it/linux/smbclient.md
Owners: @mebeim, @yutyo

Update pages.it/linux/smbclient.md
  pages.it/linux/smbclient.md
Owners: @mebeim, @yutyo

Update pages.it/linux/smbclient.md
  pages.it/linux/smbclient.md
Owners: @mebeim, @yutyo

Update pages.it/linux/smbclient.md
  pages.it/linux/smbclient.md
Owners: @mebeim, @yutyo

Update pages.it/linux/smbclient.md
  pages.it/linux/smbclient.md
Owners: @mebeim, @yutyo

Update pages.it/linux/smbclient.md
  pages.it/linux/smbclient.md
Owners: @mebeim, @yutyo

Update pages.it/linux/smbclient.md
  pages.it/linux/smbclient.md
Owners: @mebeim, @yutyo

Update pages.it/linux/smbclient.md
  pages.it/linux/smbclient.md
Owners: @mebeim, @yutyo

Update pages.it/linux/smbclient.md
  pages.it/linux/smbclient.md
Owners: @mebeim, @yutyo

Update pages.it/linux/smbclient.md
  pages.it/linux/smbclient.md
Owners: @mebeim, @yutyo

Update pages.it/linux/smbclient.md
  pages.it/linux/smbclient.md
Owners: @mebeim, @yutyo

Update pages.it/linux/smbclient.md
  pages.it/linux/smbclient.md
Owners: @mebeim, @yutyo

Update pages.it/linux/smbclient.md
  pages.it/linux/smbclient.md
Owners: @mebeim, @yutyo

Update pages.it/linux/smbclient.md
  pages.it/linux/smbclient.md
Owners: @mebeim, @yutyo

tokens translated in mount.md
  pages.it/windows/mount.md
Owners: @mebeim, @yutyo

pages/*: remove double spaces
  pages/common/aws-ecr.md
  pages/common/aws-route53.md
  pages/common/coproc.md
  pages/common/cs-install.md
  pages/common/keytool.md
  pages/common/silicon.md
  pages/common/virt-install.md
  pages/common/xml-escape.md
  pages/common/xml-select.md
  pages/common/xml-unescape.md
  pages/linux/coproc.md
  pages/linux/qtile.md
  pages/windows/invoke-webrequest.md
Owners: none

pages/*: remove spaces around slashes (" / ") (#10349)
  pages/common/acme.sh-dns.md
  pages/common/clj.md
  pages/common/deemix.md
  pages/common/ern.md
  pages/common/git-check-ignore.md
  pages/common/less.md
  pages/common/nbtscan.md
  pages/common/nmap.md
  pages/common/pastel.md
  pages/common/samtools.md
  pages/common/swig.md
  pages/linux/ip.md
  pages/linux/tc.md
  pages/linux/trash.md
  pages/linux/whiptail.md
Owners: none

pages/*: remove spaces around slashes (" / ") (#10349)
  pages/common/acme.sh-dns.md
  pages/common/clj.md
  pages/common/deemix.md
  pages/common/ern.md
  pages/common/git-check-ignore.md
  pages/common/less.md
  pages/common/nbtscan.md
  pages/common/nmap.md
  pages/common/pastel.md
  pages/common/samtools.md
  pages/common/swig.md
  pages/linux/ip.md
  pages/linux/tc.md
  pages/linux/trash.md
  pages/linux/whiptail.md
Owners: none

Update pages.es/osx/xcode-select.md
  pages.es/osx/xcode-select.md
Owners: @navarroaxel

top: add Spanish translation
  pages.es/osx/top.md
Owners: @navarroaxel

pages/*: remove double spaces (#10379)
  pages/common/aws-ecr.md
  pages/common/aws-route53.md
  pages/common/coproc.md
  pages/common/cs-install.md
  pages/common/keytool.md
  pages/common/silicon.md
  pages/common/virt-install.md
  pages/common/xml-escape.md
  pages/common/xml-select.md
  pages/common/xml-unescape.md
  pages/linux/coproc.md
  pages/linux/qtile.md
  pages/windows/invoke-webrequest.md
Owners: none

pages/*: remove double spaces (#10379)
  pages/common/aws-ecr.md
  pages/common/aws-route53.md
  pages/common/coproc.md
  pages/common/cs-install.md
  pages/common/keytool.md
  pages/common/silicon.md
  pages/common/virt-install.md
  pages/common/xml-escape.md
  pages/common/xml-select.md
  pages/common/xml-unescape.md
  pages/linux/coproc.md
  pages/linux/qtile.md
  pages/windows/invoke-webrequest.md
Owners: none

Update zotero.md
  pages/common/zotero.md
Owners: none

getmac: add Spanish translation
  pages.es/windows/getmac.md
Owners: @navarroaxel

.github: fix trailing spaces and lines (#10378)
  .github/ISSUE_TEMPLATE/page-request.yml
  .github/workflows/stale.yml
Owners: none

.github: fix trailing spaces and lines (#10378)
  .github/ISSUE_TEMPLATE/page-request.yml
  .github/workflows/stale.yml
Owners: none
