Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @marchersimon, @navarroaxel, @mebeim, @yutyo, @acuteenvy, @waldyrious, @kbdharun, @blueskyson, @einverne

Update: nmap
  pages.de/common/nmap.md
Owners: @pixelcmtd, @marchersimon

Update: nmap
  pages.de/common/nmap.md
Owners: @pixelcmtd, @marchersimon

Update: nmap description
  pages.de/common/nmap.md
Owners: @pixelcmtd, @marchersimon

Update: nmap
  pages.de/common/nmap.md
Owners: @pixelcmtd, @marchersimon

Update: nmap
  pages.de/common/nmap.md
Owners: @pixelcmtd, @marchersimon

Update: nmap
  pages.de/common/nmap.md
Owners: @pixelcmtd, @marchersimon

Update: namp
  pages.de/common/nmap.md
Owners: @pixelcmtd, @marchersimon

Update: nmap
  pages.de/common/nmap.md
Owners: @pixelcmtd, @marchersimon

nmap: add German translation (#10329)
  pages.de/common/nmap.md
Owners: @pixelcmtd, @marchersimon

nmap: add German translation (#10329)
  pages.de/common/nmap.md
Owners: @pixelcmtd, @marchersimon

zellij: fix typo
  pages/common/zellij.md
Owners: none

zellij: fix typo (#10383)
  pages/common/zellij.md
Owners: none

zellij: fix typo (#10383)
  pages/common/zellij.md
Owners: none

pensnoop: add Spanish translation
  pages.es/osx/opensnoop.md
Owners: @navarroaxel

cat: add Hindi translation (#10310)
  pages.hi/linux/cat.md
Owners: none

cat: add Hindi translation (#10310)
  pages.hi/linux/cat.md
Owners: none

Update aiac.md
  pages.es/osx/aiac.md
Owners: @navarroaxel

vkpurge: add page
  pages/linux/vkpurge.md
Owners: none

age: reword example
  pages/common/age.md
Owners: none

bchunk: add page
  pages/linux/bchunk.md
Owners: none

jobs: update page (#10309)
  pages/linux/jobs.md
Owners: none

jobs: update page (#10309)
  pages/linux/jobs.md
Owners: none

age: reword example (#10347)
  pages/common/age.md
Owners: none

age: reword example (#10347)
  pages/common/age.md
Owners: none

Add pages/common/tre.md
  pages/common/tre.md
Owners: none

Update `pages/common/tre.md`
  pages/common/tre.md
Owners: none

Update `pages/common/tre.md`
  pages/common/tre.md
Owners: none

systemd-delta: add page
  pages/linux/systemd-delta.md
Owners: none

systemd-delta: fix typo
  pages/linux/systemd-delta.md
Owners: none

bchunk: Fix error
  pages/linux/bchunk.md
Owners: none

bchunk: Fix mistakes
  pages/linux/bchunk.md
Owners: none

spctl: add Spanish translation
  pages.es/osx/spctl.md
Owners: @navarroaxel

aws-google-auth: add Spanish translation
  pages/osx/aws-google-auth.md
Owners: none

Update aws-google-auth.md
  pages/osx/aws-google-auth.md
Owners: none

Duplicated translation
  pages/osx/aws-google-auth.md
Owners: none

Update pages.de/common/aws-cognito-idp.md
  pages.de/common/aws-cognito-idp.md
Owners: @pixelcmtd, @marchersimon

Update pages.de/common/aws-cognito-idp.md
  pages.de/common/aws-cognito-idp.md
Owners: @pixelcmtd, @marchersimon

Update pages.de/common/aws-cognito-idp.md
  pages.de/common/aws-cognito-idp.md
Owners: @pixelcmtd, @marchersimon

Update pages.de/common/aws-cognito-idp.md
  pages.de/common/aws-cognito-idp.md
Owners: @pixelcmtd, @marchersimon

Update pages.de/common/aws-cognito-idp.md
  pages.de/common/aws-cognito-idp.md
Owners: @pixelcmtd, @marchersimon

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @marchersimon
/pages.es/ @navarroaxel
/pages.it/ @mebeim @yutyo
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/contributing-guides/*.de.md @pixelcmtd @marchersimon
/contributing-guides/*.es.md @navarroaxel
/contributing-guides/*.it.md @mebeim @yutyo
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
