Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @navarroaxel, @kant, @kbdharun, @reinhart1010, @mebeim, @yutyo, @Magrid0, @IMHOJEONG, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @waldyrious, @isaacvicente, @blueskyson, @einverne, @sbrl

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @navarroaxel @kant
/pages.hi/ @kbdharun
/pages.id/ @reinhart1010
/pages.it/ @mebeim @yutyo @Magrid0
/pages.ko/ @IMHOJEONG
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious @isaacvicente
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @sbrl

/*.md @sbrl @kbdharun
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @navarroaxel @kant
/contributing-guides/*.hi.md @kbdharun
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @yutyo @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious @isaacvicente
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

fix: broken links in scripts summary
  scripts/README.md
Owners: @sebastiaanspeck

cleanup: update files
  scripts/README.md
  scripts/wrong-filename.sh
Owners: @sebastiaanspeck

cleanup: update command in wrong-filename.sh
  scripts/wrong-filename.sh
Owners: @sebastiaanspeck

cleanup: update PDF README
  scripts/pdf/README.md
Owners: none

pages.*: fix page title
  pages.ar/windows/pwsh-where.md
  pages.bs/windows/pwsh-where.md
  pages.ca/windows/pwsh-where.md
  pages.da/windows/pwsh-where.md
  pages.de/windows/pwsh-where.md
  pages.es/windows/pwsh-where.md
  pages.fr/windows/pwsh-where.md
  pages.hi/windows/pwsh-where.md
  pages.id/windows/pwsh-where.md
  pages.it/windows/pwsh-where.md
  pages.ja/windows/pwsh-where.md
  pages.ko/windows/pwsh-where.md
  pages.lo/windows/pwsh-where.md
  pages.ml/windows/pwsh-where.md
  pages.ne/windows/pwsh-where.md
  pages.nl/windows/pwsh-where.md
  pages.no/windows/pwsh-where.md
  pages.pl/windows/pwsh-where.md
  pages.pt_BR/windows/pwsh-where.md
  pages.pt_PT/windows/pwsh-where.md
  pages.ru/windows/pwsh-where.md
  pages.sv/windows/pwsh-where.md
  pages.ta/windows/pwsh-where.md
  pages.th/windows/pwsh-where.md
  pages.tr/windows/pwsh-where.md
  pages.uk/windows/pwsh-where.md
  pages.zh/windows/pwsh-where.md
  pages.zh_TW/windows/pwsh-where.md
  pages/common/cs.md
  pages/common/kubectl-replace.md
  pages/common/tlmgr-generate.md
  pages/linux/esa-snap.md
  pages/windows/pwsh-where.md
Owners: @pixelcmtd, @gutjuri, @navarroaxel, @kant, @kbdharun, @reinhart1010, @mebeim, @yutyo, @Magrid0, @IMHOJEONG, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @waldyrious, @isaacvicente, @blueskyson, @einverne, @sbrl

wrong-filename.sh: update output filename
  scripts/wrong-filename.sh
Owners: @sebastiaanspeck

nix-classic: add Spanish translation
  pages.es/common/nix-classic.md
Owners: @navarroaxel, @kant

nix-classic: update page title
  pages/common/nix-classic.md
Owners: none

MAINTAINERS: add @vitorhcl as collaborator
  MAINTAINERS.md
Owners: @sbrl, @kbdharun

Update pages.es/common/nix-classic.md
  pages.es/common/nix-classic.md
Owners: @navarroaxel, @kant

Add vboxmanage-movevm: add Spanish translation
  pages.es/common/vboxmanage-movevm.md
Owners: @navarroaxel, @kant

Add vboxmanage-movevm: add Spanish translation
  pages.es/common/vboxmanage-movevm.md
Owners: @navarroaxel, @kant

Update pages.es/common/chmod.md
  pages.es/common/chmod.md
Owners: @navarroaxel, @kant

tlmgr-platform: add Dutch translation
  pages.nl/common/tlmgr-platform.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

rg: add Dutch translation
  pages.nl/common/rg.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

radare2: add Dutch translation
  pages.nl/common/radare2.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

rc: add Dutch translation
  pages.nl/common/rc.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

basename: add Spanish translation
  pages.es/common/basename.md
Owners: @navarroaxel, @kant

pw-cat: update page and pt_BR translation (#11805)
  pages.pt_BR/linux/pw-cat.md
  pages/linux/pw-cat.md
Owners: @waldyrious, @isaacvicente, @sbrl

pw-cat: update page and pt_BR translation (#11805)
  pages.pt_BR/linux/pw-cat.md
  pages/linux/pw-cat.md
Owners: @waldyrious, @isaacvicente, @sbrl

pages.*: fix page title (#11811)
  pages.ar/windows/pwsh-where.md
  pages.bs/windows/pwsh-where.md
  pages.ca/windows/pwsh-where.md
  pages.da/windows/pwsh-where.md
  pages.de/windows/pwsh-where.md
  pages.es/windows/pwsh-where.md
  pages.fr/windows/pwsh-where.md
  pages.hi/windows/pwsh-where.md
  pages.id/windows/pwsh-where.md
  pages.it/windows/pwsh-where.md
  pages.ja/windows/pwsh-where.md
  pages.ko/windows/pwsh-where.md
  pages.lo/windows/pwsh-where.md
  pages.ml/windows/pwsh-where.md
  pages.ne/windows/pwsh-where.md
  pages.nl/windows/pwsh-where.md
  pages.no/windows/pwsh-where.md
  pages.pl/windows/pwsh-where.md
  pages.pt_BR/windows/pwsh-where.md
  pages.pt_PT/windows/pwsh-where.md
  pages.ru/windows/pwsh-where.md
  pages.sv/windows/pwsh-where.md
  pages.ta/windows/pwsh-where.md
  pages.th/windows/pwsh-where.md
  pages.tr/windows/pwsh-where.md
  pages.uk/windows/pwsh-where.md
  pages.zh/windows/pwsh-where.md
  pages.zh_TW/windows/pwsh-where.md
  pages/common/cs.md
  pages/common/kubectl-replace.md
  pages/common/nix-classic.md
  pages/common/tlmgr-generate.md
  pages/linux/esa-snap.md
  pages/windows/pwsh-where.md
Owners: @pixelcmtd, @gutjuri, @navarroaxel, @kant, @kbdharun, @reinhart1010, @mebeim, @yutyo, @Magrid0, @IMHOJEONG, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @waldyrious, @isaacvicente, @blueskyson, @einverne, @sbrl

pages.*: fix page title (#11811)
  pages.ar/windows/pwsh-where.md
  pages.bs/windows/pwsh-where.md
  pages.ca/windows/pwsh-where.md
  pages.da/windows/pwsh-where.md
  pages.de/windows/pwsh-where.md
  pages.es/windows/pwsh-where.md
  pages.fr/windows/pwsh-where.md
  pages.hi/windows/pwsh-where.md
  pages.id/windows/pwsh-where.md
  pages.it/windows/pwsh-where.md
  pages.ja/windows/pwsh-where.md
  pages.ko/windows/pwsh-where.md
  pages.lo/windows/pwsh-where.md
  pages.ml/windows/pwsh-where.md
  pages.ne/windows/pwsh-where.md
  pages.nl/windows/pwsh-where.md
  pages.no/windows/pwsh-where.md
  pages.pl/windows/pwsh-where.md
  pages.pt_BR/windows/pwsh-where.md
  pages.pt_PT/windows/pwsh-where.md
  pages.ru/windows/pwsh-where.md
  pages.sv/windows/pwsh-where.md
  pages.ta/windows/pwsh-where.md
  pages.th/windows/pwsh-where.md
  pages.tr/windows/pwsh-where.md
  pages.uk/windows/pwsh-where.md
  pages.zh/windows/pwsh-where.md
  pages.zh_TW/windows/pwsh-where.md
  pages/common/cs.md
  pages/common/kubectl-replace.md
  pages/common/nix-classic.md
  pages/common/tlmgr-generate.md
  pages/linux/esa-snap.md
  pages/windows/pwsh-where.md
Owners: @pixelcmtd, @gutjuri, @navarroaxel, @kant, @kbdharun, @reinhart1010, @mebeim, @yutyo, @Magrid0, @IMHOJEONG, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @waldyrious, @isaacvicente, @blueskyson, @einverne, @sbrl

tlmgr-platform: remove placeholder
  pages/common/tlmgr-platform.md
Owners: none

Update tlmgr-platform.md
  pages.nl/common/tlmgr-platform.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

MAINTAINERS: add @vitorhcl as collaborator (#11813)
  MAINTAINERS.md
Owners: @sbrl, @kbdharun

MAINTAINERS: add @vitorhcl as collaborator (#11813)
  MAINTAINERS.md
Owners: @sbrl, @kbdharun

build-pdf: add the option to build a single language
  scripts/pdf/build-pdf.sh
Owners: none

build-pdf: add the option to build a single language
  scripts/pdf/build-pdf.sh
Owners: none

deploy: remove PDF's from sha256sum
  scripts/deploy.sh
Owners: @sebastiaanspeck

deploy: remove PDF's from sha256sum
  scripts/deploy.sh
Owners: @sebastiaanspeck

build-pdf: refactor the script
  scripts/pdf/build-pdf.sh
Owners: none

build-pdf: only determine language if needed
  scripts/pdf/build-pdf.sh
Owners: none

build-pdf: only determine language if needed
  scripts/pdf/build-pdf.sh
Owners: none

build-pdf: refactor the script
  scripts/pdf/build-pdf.sh
Owners: none

build-pdf: only build changed folders since last commit
  scripts/pdf/build-pdf.sh
Owners: none

deploy: only move files that exist
  scripts/deploy.sh
Owners: @sebastiaanspeck

build-pdf: add special language cases
  scripts/pdf/build-pdf.sh
Owners: none

build-pdf: add special language cases
  scripts/pdf/build-pdf.sh
Owners: none

deploy: only move files that exist
  scripts/deploy.sh
Owners: @sebastiaanspeck

build-pdf: only build changed folders since last commit
  scripts/pdf/build-pdf.sh
Owners: none
