Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

kwallet-query: add page (#15162)
  pages/linux/kwallet-query.md
Owners: @cyqsimon

kwallet-query: add page (#15162)
  pages/linux/kwallet-query.md
Owners: @cyqsimon

ruff: add Spanish translation (#15109)
  pages.es/common/ruff.md
Owners: @kant, @tricantivu, @ikks

ruff: add Spanish translation (#15109)
  pages.es/common/ruff.md
Owners: @kant, @tricantivu, @ikks

qm-sendkey: add Spanish translation (#15146)
  pages.es/linux/qm-sendkey.md
Owners: @kant, @tricantivu, @ikks

qm-sendkey: add Spanish translation (#15146)
  pages.es/linux/qm-sendkey.md
Owners: @kant, @tricantivu, @ikks

qm-showcmd: add Spanish translation (#15147)
  pages.es/linux/qm-showcmd.md
Owners: @kant, @tricantivu, @ikks

qm-showcmd: add Spanish translation (#15147)
  pages.es/linux/qm-showcmd.md
Owners: @kant, @tricantivu, @ikks

qm-shutdown: add Spanish translation (#15148)
  pages.es/linux/qm-shutdown.md
Owners: @kant, @tricantivu, @ikks

qm-shutdown: add Spanish translation (#15148)
  pages.es/linux/qm-shutdown.md
Owners: @kant, @tricantivu, @ikks

qm-start: add Spanish translation (#15150)
  pages.es/linux/qm-start.md
Owners: @kant, @tricantivu, @ikks

qm-start: add Spanish translation (#15150)
  pages.es/linux/qm-start.md
Owners: @kant, @tricantivu, @ikks

qm-status: add Spanish translation (#15151)
  pages.es/linux/qm-status.md
Owners: @kant, @tricantivu, @ikks

qm-status: add Spanish translation (#15151)
  pages.es/linux/qm-status.md
Owners: @kant, @tricantivu, @ikks

qm-stop: add Spanish translation (#15152)
  pages.es/linux/qm-stop.md
Owners: @kant, @tricantivu, @ikks

qm-stop: add Spanish translation (#15152)
  pages.es/linux/qm-stop.md
Owners: @kant, @tricantivu, @ikks

qm-unlock: add Spanish translation (#15155)
  pages.es/linux/qm-unlock.md
Owners: @kant, @tricantivu, @ikks

qm-unlock: add Spanish translation (#15155)
  pages.es/linux/qm-unlock.md
Owners: @kant, @tricantivu, @ikks

qm-vncproxy: add Spanish translation (#15156)
  pages.es/linux/qm-vncproxy.md
Owners: @kant, @tricantivu, @ikks

qm-vncproxy: add Spanish translation (#15156)
  pages.es/linux/qm-vncproxy.md
Owners: @kant, @tricantivu, @ikks

Update pages/common/gallery-dl.md
  pages/common/gallery-dl.md
Owners: none

Update pages/common/gallery-dl.md
  pages/common/gallery-dl.md
Owners: none

Update pages/osx/autoraise.md
  pages/osx/autoraise.md
Owners: none

Update pages/osx/autoraise.md
  pages/osx/autoraise.md
Owners: none

Update pages/osx/bclm.md
  pages/osx/bclm.md
Owners: none

Update pages/osx/autoraise.md
  pages/osx/autoraise.md
Owners: none

Update pages/osx/bclm.md
  pages/osx/bclm.md
Owners: none

Update pages/osx/bclm.md
  pages/osx/bclm.md
Owners: none

Update pages/osx/bclm.md
  pages/osx/bclm.md
Owners: none

Update pages/osx/bclm.md
  pages/osx/bclm.md
Owners: none

Update autoraise.md
  pages/osx/autoraise.md
Owners: none

!, ipconfig: update Chinese translation (#15123)
  pages.zh/common/!.md
  pages.zh/windows/ipconfig.md
Owners: @blueskyson, @einverne

!, ipconfig: update Chinese translation (#15123)
  pages.zh/common/!.md
  pages.zh/windows/ipconfig.md
Owners: @blueskyson, @einverne

btop: add --update example
  pages/common/btop.md
Owners: none

specific example
  pages/common/btop.md
Owners: none

adding a newline
  pages/common/btop.md
Owners: none

Update btop.md
  pages/common/btop.md
Owners: none

tags: add Spanish translation
  pages.es/osx/tags.md
Owners: @kant, @tricantivu, @ikks

Update and rename tags.md to tag.md
  pages.es/osx/tag.md
Owners: @kant, @tricantivu, @ikks

Update tag.md
  pages.es/osx/tag.md
Owners: @kant, @tricantivu, @ikks
