Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tldr-pages/german, @tldr-pages/spanish, @tldr-pages/italian, @tldr-pages/portuguese, @tldr-pages/tamil, @tldr-pages/turkish

.github/CODEOWNERS:

/pages.de/ @tldr-pages/german
/pages.es/ @tldr-pages/spanish
/pages.it/ @tldr-pages/italian
/pages.pt_BR/ @tldr-pages/portuguese
/pages.pt_PT/ @tldr-pages/portuguese
/pages.ta/ @tldr-pages/tamil
/pages.tr/ @tldr-pages/turkish

/contributing-guides/*.de.md @tldr-pages/german
/contributing-guides/*.es.md @tldr-pages/spanish
/contributing-guides/*.it.md @tldr-pages/italian
/contributing-guides/*.pt_BR/ @tldr-pages/portuguese
/contributing-guides/*.pt_PT/ @tldr-pages/portuguese
/contributing-guides/*.ta.md @tldr-pages/tamil
/contributing-guides/*.tr.md @tldr-pages/turkish

mokutil: add page
  pages/linux/mokutil.md
Owners: none

auvaltool: add Spanish translation
  pages.es/osx/auvaltool.md
Owners: @tldr-pages/spanish

reset: add Italian translation (#10076)
  pages.it/linux/reset.md
Owners: @tldr-pages/italian

reset: add Italian translation (#10076)
  pages.it/linux/reset.md
Owners: @tldr-pages/italian

git-push: update Italian translation (#10167)
  pages.it/common/git-push.md
Owners: @tldr-pages/italian

git-push: update Italian translation (#10167)
  pages.it/common/git-push.md
Owners: @tldr-pages/italian

chroma: fix style parameter
  pages/common/chroma.md
Owners: none

Update pages/linux/mokutil.md
  pages/linux/mokutil.md
Owners: none

kinit: add page
  pages/common/kinit.md
Owners: none

xz*, lz*: add alias pages
  pages/common/lzegrep.md
  pages/common/lzfgrep.md
  pages/common/lzgrep.md
  pages/common/lzless.md
  pages/common/xzegrep.md
  pages/common/xzfgrep.md
Owners: none

xzmore: add page
  pages/common/xzmore.md
Owners: none

lzmore: add alias page
  pages/common/lzmore.md
Owners: none

m: add Spanish translation
  pages.es/osx/m.md
Owners: @tldr-pages/spanish

MAINTAINERS: add @acuteenvy to collaborators
  MAINTAINERS.md
Owners: none

xsp: add page (#10137)
  pages/common/xsp.md
Owners: none

xsp: add page (#10137)
  pages/common/xsp.md
Owners: none

xzless: add examples (#10179)
  pages/common/xzless.md
Owners: none

xzless: add examples (#10179)
  pages/common/xzless.md
Owners: none

chroma: fix style parameter (#10183)
  pages/common/chroma.md
Owners: none

chroma: fix style parameter (#10183)
  pages/common/chroma.md
Owners: none

airdecap-ng: add page (#9974)
  pages/common/airdecap-ng.md
Owners: none

airdecap-ng: add page (#9974)
  pages/common/airdecap-ng.md
Owners: none

xz*: update pages
  pages/common/xz.md
  pages/common/xzcmp.md
  pages/common/xzdiff.md
  pages/common/xzgrep.md
  pages/common/xzless.md
Owners: none

xz: make placeholders consistent
  pages/common/xz.md
Owners: none

yaa: add Spanish translation
  pages.es/osx/yaa.md
Owners: @tldr-pages/spanish

MAINTAINERS: add @acuteenvy to collaborators (#10190)
  MAINTAINERS.md
Owners: none

MAINTAINERS: add @acuteenvy to collaborators (#10190)
  MAINTAINERS.md
Owners: none

unsquashfs: add page and Polish translation (#10151)
  pages.pl/linux/unsquashfs.md
  pages/linux/unsquashfs.md
Owners: none

unsquashfs: add page and Polish translation (#10151)
  pages.pl/linux/unsquashfs.md
  pages/linux/unsquashfs.md
Owners: none

mksquashfs: add page and Polish translation (#10117)
  pages.pl/linux/mksquashfs.md
  pages/linux/mksquashfs.md
Owners: none

mksquashfs: add page and Polish translation (#10117)
  pages.pl/linux/mksquashfs.md
  pages/linux/mksquashfs.md
Owners: none

bat: add Polish translation (#10109)
  pages.pl/common/bat.md
Owners: none

bat: add Polish translation (#10109)
  pages.pl/common/bat.md
Owners: none

systemd-*, *ctl: add Polish translation (#10106)
  pages.pl/linux/coredumpctl.md
  pages.pl/linux/homectl.md
  pages.pl/linux/hostnamectl.md
  pages.pl/linux/journalctl.md
  pages.pl/linux/localectl.md
  pages.pl/linux/loginctl.md
  pages.pl/linux/systemctl.md
  pages.pl/linux/systemd-analyze.md
  pages.pl/linux/systemd-run.md
  pages.pl/linux/timedatectl.md
Owners: none

systemd-*, *ctl: add Polish translation (#10106)
  pages.pl/linux/coredumpctl.md
  pages.pl/linux/homectl.md
  pages.pl/linux/hostnamectl.md
  pages.pl/linux/journalctl.md
  pages.pl/linux/localectl.md
  pages.pl/linux/loginctl.md
  pages.pl/linux/systemctl.md
  pages.pl/linux/systemd-analyze.md
  pages.pl/linux/systemd-run.md
  pages.pl/linux/timedatectl.md
Owners: none

pages.*: update manpage.debian.org links to latest (#10098)
  pages.ca/linux/snake4scores.md
  pages.de/common/pdfseparate.md
  pages.de/linux/arithmetic.md
  pages.de/linux/lastcomm.md
  pages.es/linux/snake4scores.md
  pages.fr/common/git-subtree.md
  pages.pl/linux/wtf.md
  pages.pt_BR/linux/wtf.md
  pages.tr/common/git-subtree.md
  pages.zh/linux/arithmetic.md
  pages.zh/linux/debuild.md
  pages/common/makepasswd.md
  pages/common/pdfseparate.md
  pages/linux/arithmetic.md
  pages/linux/debchange.md
  pages/linux/debuild.md
  pages/linux/dget.md
  pages/linux/lastcomm.md
  pages/linux/snake4.md
  pages/linux/wtf.md
Owners: @tldr-pages/german, @tldr-pages/spanish, @tldr-pages/portuguese, @tldr-pages/turkish

pages.*: update manpage.debian.org links to latest (#10098)
  pages.ca/linux/snake4scores.md
  pages.de/common/pdfseparate.md
  pages.de/linux/arithmetic.md
  pages.de/linux/lastcomm.md
  pages.es/linux/snake4scores.md
  pages.fr/common/git-subtree.md
  pages.pl/linux/wtf.md
  pages.pt_BR/linux/wtf.md
  pages.tr/common/git-subtree.md
  pages.zh/linux/arithmetic.md
  pages.zh/linux/debuild.md
  pages/common/makepasswd.md
  pages/common/pdfseparate.md
  pages/linux/arithmetic.md
  pages/linux/debchange.md
  pages/linux/debuild.md
  pages/linux/dget.md
  pages/linux/lastcomm.md
  pages/linux/snake4.md
  pages/linux/wtf.md
Owners: @tldr-pages/german, @tldr-pages/spanish, @tldr-pages/portuguese, @tldr-pages/turkish

pacman-*: add Polish translation, pacman-files: remove the example for pacman --query (#10082)
  pages.de/linux/pacman-files.md
  pages.pl/linux/pacman-database.md
  pages.pl/linux/pacman-deptest.md
  pages.pl/linux/pacman-files.md
  pages.pl/linux/pacman-key.md
  pages.pl/linux/pacman-mirrors.md
  pages.pl/linux/pacman-query.md
  pages.pl/linux/pacman-remove.md
  pages.pl/linux/pacman-sync.md
  pages.pl/linux/pacman-upgrade.md
  pages.pl/linux/pacman.md
  pages.ta/linux/pacman-files.md
  pages/linux/pacman-files.md
Owners: @tldr-pages/german, @tldr-pages/tamil

pacman-*: add Polish translation, pacman-files: remove the example for pacman --query (#10082)
  pages.de/linux/pacman-files.md
  pages.pl/linux/pacman-database.md
  pages.pl/linux/pacman-deptest.md
  pages.pl/linux/pacman-files.md
  pages.pl/linux/pacman-key.md
  pages.pl/linux/pacman-mirrors.md
  pages.pl/linux/pacman-query.md
  pages.pl/linux/pacman-remove.md
  pages.pl/linux/pacman-sync.md
  pages.pl/linux/pacman-upgrade.md
  pages.pl/linux/pacman.md
  pages.ta/linux/pacman-files.md
  pages/linux/pacman-files.md
Owners: @tldr-pages/german, @tldr-pages/tamil

fold: add page; log: add Italian translation (#10039)
  pages.it/osx/log.md
  pages/linux/fold.md
Owners: @tldr-pages/italian
