Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @marchersimon, @navarroaxel, @mebeim, @yutyo, @acuteenvy, @waldyrious, @kbdharun, @blueskyson, @einverne

weechat: move to `common`
  pages/common/weechat.md
Owners: none

weechat: apply suggestions
  pages/common/weechat.md
Owners: none

weechat: add page (#10418)
  pages/common/weechat.md
Owners: none

weechat: add page (#10418)
  pages/common/weechat.md
Owners: none

mc, weechat: various readability improvements
  pages.fr/common/mc.md
  pages/common/mc.md
  pages/common/weechat.md
Owners: none

pages/*: prefer brand name and other changes
  pages/common/babeld.md
  pages/common/beanstalkd.md
  pages/common/browser-sync.md
  pages/common/diskonaut.md
  pages/common/elinks.md
  pages/common/fastd.md
  pages/common/fzf.md
  pages/common/gdb.md
  pages/common/hangups.md
  pages/common/htop.md
  pages/common/khal.md
  pages/common/locust.md
  pages/common/meld.md
  pages/common/mosquitto.md
  pages/common/mytop.md
  pages/common/newsboat.md
  pages/common/peco.md
  pages/common/screenfetch.md
  pages/common/sdcv.md
  pages/common/sk.md
  pages/common/speedcrunch.md
  pages/common/supervisord.md
  pages/common/telnet.md
  pages/common/wordgrinder.md
  pages/common/wpm.md
  pages/common/wuzz.md
  pages/linux/bpytop.md
  pages/linux/calcurse.md
  pages/linux/chronyc.md
  pages/linux/collectd.md
  pages/linux/engrampa.md
  pages/linux/hardinfo.md
  pages/linux/nethogs.md
  pages/linux/nmon.md
  pages/linux/raspi-config.md
  pages/linux/terminator.md
  pages/linux/top.md
  pages/linux/xman.md
  pages/osx/top.md
Owners: none

pages/*: prefer brand name and other changes
  pages/common/babeld.md
  pages/common/beanstalkd.md
  pages/common/browser-sync.md
  pages/common/diskonaut.md
  pages/common/elinks.md
  pages/common/fastd.md
  pages/common/fzf.md
  pages/common/gdb.md
  pages/common/hangups.md
  pages/common/htop.md
  pages/common/khal.md
  pages/common/locust.md
  pages/common/meld.md
  pages/common/mosquitto.md
  pages/common/mytop.md
  pages/common/newsboat.md
  pages/common/peco.md
  pages/common/screenfetch.md
  pages/common/sdcv.md
  pages/common/sk.md
  pages/common/speedcrunch.md
  pages/common/supervisord.md
  pages/common/telnet.md
  pages/common/wordgrinder.md
  pages/common/wpm.md
  pages/common/wuzz.md
  pages/linux/bpytop.md
  pages/linux/calcurse.md
  pages/linux/chronyc.md
  pages/linux/collectd.md
  pages/linux/engrampa.md
  pages/linux/hardinfo.md
  pages/linux/nethogs.md
  pages/linux/nmon.md
  pages/linux/raspi-config.md
  pages/linux/terminator.md
  pages/linux/top.md
  pages/linux/xman.md
  pages/osx/top.md
Owners: none

bzip3: add page
  pages/common/bzip3.md
Owners: none

bzip3: add page
  pages/common/bzip3.md
Owners: none

bzip3: add page
  pages/common/bzip3.md
Owners: none

mc, weechat: various readability improvements (#10420)
  pages.fr/common/mc.md
  pages/common/mc.md
  pages/common/weechat.md
Owners: none

mc, weechat: various readability improvements (#10420)
  pages.fr/common/mc.md
  pages/common/mc.md
  pages/common/weechat.md
Owners: none

age-keygen: add page; age: update page
  pages/common/age-keygen.md
  pages/common/age.md
Owners: none

age: remove `_` before numbers in placeholders
  pages/common/age.md
Owners: none

btop: add page; bpytop: move to `common`, update page
  pages.ca/common/bpytop.md
  pages.es/common/bpytop.md
  pages.zh/common/bpytop.md
  pages/common/bpytop.md
  pages/common/btop.md
Owners: @navarroaxel, @blueskyson, @einverne

nmtui-{connect,edit,hostname}: add alias pages
  pages/linux/nmtui-connect.md
  pages/linux/nmtui-edit.md
  pages/linux/nmtui-hostname.md
Owners: none

nm-online: add page
  pages/linux/nm-online.md
Owners: none

internetsharing; add Spanish translation
  pages.es/osx/internetsharing.md
Owners: @navarroaxel

pages*/: apply suggestions
  pages/common/elinks.md
  pages/linux/nethogs.md
Owners: none

pages/*: change into brand name
  pages/linux/nethogs.md
Owners: none

pages/*: prefer brand name and add backticks around commands (#10422)
  pages/common/babeld.md
  pages/common/beanstalkd.md
  pages/common/browser-sync.md
  pages/common/diskonaut.md
  pages/common/elinks.md
  pages/common/fastd.md
  pages/common/fzf.md
  pages/common/gdb.md
  pages/common/hangups.md
  pages/common/htop.md
  pages/common/khal.md
  pages/common/locust.md
  pages/common/meld.md
  pages/common/mosquitto.md
  pages/common/mytop.md
  pages/common/newsboat.md
  pages/common/peco.md
  pages/common/screenfetch.md
  pages/common/sdcv.md
  pages/common/sk.md
  pages/common/speedcrunch.md
  pages/common/supervisord.md
  pages/common/telnet.md
  pages/common/wordgrinder.md
  pages/common/wpm.md
  pages/common/wuzz.md
  pages/linux/bpytop.md
  pages/linux/calcurse.md
  pages/linux/chronyc.md
  pages/linux/collectd.md
  pages/linux/engrampa.md
  pages/linux/hardinfo.md
  pages/linux/nethogs.md
  pages/linux/nmon.md
  pages/linux/raspi-config.md
  pages/linux/terminator.md
  pages/linux/top.md
  pages/linux/xman.md
  pages/osx/top.md
Owners: none

pages/*: prefer brand name and add backticks around commands (#10422)
  pages/common/babeld.md
  pages/common/beanstalkd.md
  pages/common/browser-sync.md
  pages/common/diskonaut.md
  pages/common/elinks.md
  pages/common/fastd.md
  pages/common/fzf.md
  pages/common/gdb.md
  pages/common/hangups.md
  pages/common/htop.md
  pages/common/khal.md
  pages/common/locust.md
  pages/common/meld.md
  pages/common/mosquitto.md
  pages/common/mytop.md
  pages/common/newsboat.md
  pages/common/peco.md
  pages/common/screenfetch.md
  pages/common/sdcv.md
  pages/common/sk.md
  pages/common/speedcrunch.md
  pages/common/supervisord.md
  pages/common/telnet.md
  pages/common/wordgrinder.md
  pages/common/wpm.md
  pages/common/wuzz.md
  pages/linux/bpytop.md
  pages/linux/calcurse.md
  pages/linux/chronyc.md
  pages/linux/collectd.md
  pages/linux/engrampa.md
  pages/linux/hardinfo.md
  pages/linux/nethogs.md
  pages/linux/nmon.md
  pages/linux/raspi-config.md
  pages/linux/terminator.md
  pages/linux/top.md
  pages/linux/xman.md
  pages/osx/top.md
Owners: none

bzip3: add page (#10423)
  pages/common/bzip3.md
Owners: none

bzip3: add page (#10423)
  pages/common/bzip3.md
Owners: none

weechat: add backticks on stdout
  pages/common/weechat.md
Owners: none

Draft
  pages/windows/w32tm.md
Owners: none

placeholders added
  pages/windows/w32tm.md
Owners: none

ordering by frequency
  pages/windows/w32tm.md
Owners: none

Command descriptions
  pages/windows/w32tm.md
Owners: none

reordering
  pages/windows/w32tm.md
Owners: none

cmdkey added
  pages/windows/cmdkey.md
Owners: none

sc done
  pages/windows/sc.md
Owners: none

typo fix
  pages/windows/w32tm.md
Owners: none

java_home: add Spanish translation
  pages.es/osx/java_home.md
Owners: @navarroaxel

Update java_home.md
  pages.es/osx/java_home.md
Owners: @navarroaxel

archlinux-java: fix documentation link, update page
  pages.de/linux/archlinux-java.md
  pages.zh/linux/archlinux-java.md
  pages/linux/archlinux-java.md
Owners: @pixelcmtd, @marchersimon, @blueskyson, @einverne

age: update `--recipient` example
  pages/common/age.md
Owners: none

Update pages/windows/sc.md
  pages/windows/sc.md
Owners: none

Update pages/windows/w32tm.md
  pages/windows/w32tm.md
Owners: none

sips: add Spanish translation
  pages.es/osx/sips.md
Owners: @navarroaxel

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @marchersimon
/pages.es/ @navarroaxel
/pages.it/ @mebeim @yutyo
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/contributing-guides/*.de.md @pixelcmtd @marchersimon
/contributing-guides/*.es.md @navarroaxel
/contributing-guides/*.it.md @mebeim @yutyo
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
