Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

qm-unlock: add Spanish translation
  pages.es/linux/qm-unlock.md
Owners: @kant, @tricantivu, @ikks

qm-vncproxy: add Spanish translation
  pages.es/linux/qm-vncproxy.md
Owners: @kant, @tricantivu, @ikks

qm-wait: add Spanish translation
  pages.es/linux/qm-wait.md
Owners: @kant, @tricantivu, @ikks

obs: add Spanish translation
  pages.es/common/obs.md
Owners: @kant, @tricantivu, @ikks

autoraise: add page
  pages/osx/autoraise.md
Owners: none

tilde: add Spanish translation
  pages.es/common/~.md
Owners: @kant, @tricantivu, @ikks

glow: add Spanish translation
  pages.es/common/glow.md
Owners: @kant, @tricantivu, @ikks

gallery-dl.md
  pages/common/gallery-dl.md
Owners: none

Create kwallet-query.md
  pages/linux/kwallet-query.md
Owners: @cyqsimon

emerge: update page
  pages/linux/emerge.md
Owners: @cyqsimon

cp: update documentation link (#15144)
  pages.ca/common/cp.md
  pages.ca/linux/cp.md
  pages.de/common/cp.md
  pages.de/linux/cp.md
  pages.es/common/cp.md
  pages.es/linux/cp.md
  pages.fa/common/cp.md
  pages.fr/common/cp.md
  pages.fr/linux/cp.md
  pages.hi/common/cp.md
  pages.id/common/cp.md
  pages.it/common/cp.md
  pages.it/linux/cp.md
  pages.ja/common/cp.md
  pages.ko/common/cp.md
  pages.ko/linux/cp.md
  pages.ne/common/cp.md
  pages.nl/common/cp.md
  pages.nl/linux/cp.md
  pages.pl/common/cp.md
  pages.pt_BR/common/cp.md
  pages.pt_BR/linux/cp.md
  pages.ta/common/cp.md
  pages.tr/common/cp.md
  pages.tr/linux/cp.md
  pages.uk/linux/cp.md
  pages.zh/common/cp.md
  pages.zh/linux/cp.md
  pages.zh_TW/common/cp.md
  pages.zh_TW/linux/cp.md
  pages/common/cp.md
  pages/linux/cp.md
Owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @blueskyson, @einverne, @cyqsimon

cp: update documentation link (#15144)
  pages.ca/common/cp.md
  pages.ca/linux/cp.md
  pages.de/common/cp.md
  pages.de/linux/cp.md
  pages.es/common/cp.md
  pages.es/linux/cp.md
  pages.fa/common/cp.md
  pages.fr/common/cp.md
  pages.fr/linux/cp.md
  pages.hi/common/cp.md
  pages.id/common/cp.md
  pages.it/common/cp.md
  pages.it/linux/cp.md
  pages.ja/common/cp.md
  pages.ko/common/cp.md
  pages.ko/linux/cp.md
  pages.ne/common/cp.md
  pages.nl/common/cp.md
  pages.nl/linux/cp.md
  pages.pl/common/cp.md
  pages.pt_BR/common/cp.md
  pages.pt_BR/linux/cp.md
  pages.ta/common/cp.md
  pages.tr/common/cp.md
  pages.tr/linux/cp.md
  pages.uk/linux/cp.md
  pages.zh/common/cp.md
  pages.zh/linux/cp.md
  pages.zh_TW/common/cp.md
  pages.zh_TW/linux/cp.md
  pages/common/cp.md
  pages/linux/cp.md
Owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @blueskyson, @einverne, @cyqsimon

cksum: update documentation link (#15142)
  pages.hi/common/cksum.md
  pages.it/common/cksum.md
  pages.ko/common/cksum.md
  pages.nl/common/cksum.md
  pages.ta/common/cksum.md
  pages/common/cksum.md
Owners: @kbdharun, @debghs, @karthik-script, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples

cksum: update documentation link (#15142)
  pages.hi/common/cksum.md
  pages.it/common/cksum.md
  pages.ko/common/cksum.md
  pages.nl/common/cksum.md
  pages.ta/common/cksum.md
  pages/common/cksum.md
Owners: @kbdharun, @debghs, @karthik-script, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples

Update batch.md
  pages/common/batch.md
Owners: none

Update pages.es/common/obs.md
  pages.es/common/obs.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/glow.md
  pages.es/common/glow.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/glow.md
  pages.es/common/glow.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/glow.md
  pages.es/common/glow.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/glow.md
  pages.es/common/glow.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/glow.md
  pages.es/common/glow.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/~.md
  pages.es/common/~.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/~.md
  pages.es/common/~.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/qm-template.md
  pages.es/linux/qm-template.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/qm-suspend.md
  pages.es/linux/qm-suspend.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/qm-snapshot.md
  pages.es/linux/qm-snapshot.md
Owners: @kant, @tricantivu, @ikks

qm-wait: add Spanish translation (#15157)
  pages.es/linux/qm-wait.md
Owners: @kant, @tricantivu, @ikks

qm-wait: add Spanish translation (#15157)
  pages.es/linux/qm-wait.md
Owners: @kant, @tricantivu, @ikks

Update pages/common/batch.md
  pages/common/batch.md
Owners: none

comm: update documentation link (#15143)
  pages.it/common/comm.md
  pages.ko/common/comm.md
  pages.nl/common/comm.md
  pages/common/comm.md
Owners: @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples

comm: update documentation link (#15143)
  pages.it/common/comm.md
  pages.ko/common/comm.md
  pages.nl/common/comm.md
  pages/common/comm.md
Owners: @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples

Update pages/osx/bclm.md
  pages/osx/bclm.md
Owners: none

Update pages/osx/autoraise.md
  pages/osx/autoraise.md
Owners: none

batch: revert changes (#15163)
  pages/common/batch.md
Owners: none

batch: revert changes (#15163)
  pages/common/batch.md
Owners: none

emerge: update page (#15164)
  pages/linux/emerge.md
Owners: @cyqsimon

emerge: update page (#15164)
  pages/linux/emerge.md
Owners: @cyqsimon

vitest: add page (#15145)
  pages/common/vitest.md
Owners: none

vitest: add page (#15145)
  pages/common/vitest.md
Owners: none

Update pages/linux/kwallet-query.md
  pages/linux/kwallet-query.md
Owners: @cyqsimon
