Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @marchersimon, @navarroaxel, @mebeim, @yutyo, @acuteenvy, @waldyrious, @kbdharun, @blueskyson, @einverne

Update the text to fulfil most of the review suggestions
  pages/common/zotero.md
Owners: none

vale: fix minAlertLevel parameter
  pages/common/vale.md
Owners: none

i3-scrot: fix select-to-clipboard parameter
  pages/linux/i3-scrot.md
Owners: none

buku: update Chinese translation
  pages.zh/common/buku.md
Owners: @blueskyson, @einverne

Update pages.it/linux/ip.md
  pages.it/linux/ip.md
Owners: @mebeim, @yutyo

Update pages.it/linux/ip.md
  pages.it/linux/ip.md
Owners: @mebeim, @yutyo

Update pages.it/windows/robocopy.md
  pages.it/windows/robocopy.md
Owners: @mebeim, @yutyo

Update pages.it/windows/robocopy.md
  pages.it/windows/robocopy.md
Owners: @mebeim, @yutyo

Update pages.it/windows/robocopy.md
  pages.it/windows/robocopy.md
Owners: @mebeim, @yutyo

Update pages.it/windows/robocopy.md
  pages.it/windows/robocopy.md
Owners: @mebeim, @yutyo

Update pages.it/windows/mount.md
  pages.it/windows/mount.md
Owners: @mebeim, @yutyo

Update pages.it/windows/mount.md
  pages.it/windows/mount.md
Owners: @mebeim, @yutyo

Update pages.it/windows/robocopy.md
  pages.it/windows/robocopy.md
Owners: @mebeim, @yutyo

Update pages.it/linux/ip.md
  pages.it/linux/ip.md
Owners: @mebeim, @yutyo

Update pages.it/linux/ip.md
  pages.it/linux/ip.md
Owners: @mebeim, @yutyo

Update pages.it/windows/robocopy.md
  pages.it/windows/robocopy.md
Owners: @mebeim, @yutyo

Update pages.it/windows/robocopy.md
  pages.it/windows/robocopy.md
Owners: @mebeim, @yutyo

Update pages.it/windows/choco-install.md
  pages.it/windows/choco-install.md
Owners: @mebeim, @yutyo

Update ip.md
  pages.it/linux/ip.md
Owners: @mebeim, @yutyo

dpkg-reconfigure: add page (#10272)
  pages/linux/dpkg-reconfigure.md
Owners: none

dpkg-reconfigure: add page (#10272)
  pages/linux/dpkg-reconfigure.md
Owners: none

git-config: update page (#10340)
  pages/common/git-config.md
Owners: none

git-config: update page (#10340)
  pages/common/git-config.md
Owners: none

i3-scrot: fix select-to-clipboard parameter (#10371)
  pages/linux/i3-scrot.md
Owners: none

i3-scrot: fix select-to-clipboard parameter (#10371)
  pages/linux/i3-scrot.md
Owners: none

Create datashader_cli.md
  pages/common/datashader_cli.md
Owners: none

Update datashader_cli.md
  pages/common/datashader_cli.md
Owners: none

vale: fix minAlertLevel parameter typo (#10370)
  pages/common/vale.md
Owners: none

vale: fix minAlertLevel parameter typo (#10370)
  pages/common/vale.md
Owners: none

git-init: update Italian translation
  pages.it/common/git-init.md
Owners: @mebeim, @yutyo

Update pages.es/osx/valet.md
  pages.es/osx/valet.md
Owners: @navarroaxel

Update pages.es/osx/valet.md
  pages.es/osx/valet.md
Owners: @navarroaxel

sw_vers: add Spanish translation
  pages.es/osx/sw_vers.md
Owners: @navarroaxel

Update MAINTAINERS.md
  MAINTAINERS.md
Owners: none

pbcopy: update Chinese translation (#10361)
  pages.zh/osx/pbcopy.md
Owners: @blueskyson, @einverne

pbcopy: update Chinese translation (#10361)
  pages.zh/osx/pbcopy.md
Owners: @blueskyson, @einverne

wifi-password: update Chinese translation (#10357)
  pages.zh/osx/wifi-password.md
Owners: @blueskyson, @einverne

wifi-password: update Chinese translation (#10357)
  pages.zh/osx/wifi-password.md
Owners: @blueskyson, @einverne

pacman : replacing -Ss example by -F
  pages.fr/linux/pacman.md
Owners: none

pbpaste: update Chinese translation (#10360)
  pages.zh/osx/pbpaste.md
Owners: @blueskyson, @einverne

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @marchersimon
/pages.es/ @navarroaxel
/pages.it/ @mebeim @yutyo
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/contributing-guides/*.de.md @pixelcmtd @marchersimon
/contributing-guides/*.es.md @navarroaxel
/contributing-guides/*.it.md @mebeim @yutyo
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
