Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @navarroaxel, @kant, @kbdharun, @reinhart1010, @mebeim, @yutyo, @Magrid0, @IMHOJEONG, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @waldyrious, @isaacvicente, @blueskyson, @einverne, @sbrl

Update strings.md
  pages.nl/common/strings.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

xzmore: add Dutch translation
  pages.nl/common/xzmore.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

netlify: add Dutch translation
  pages.nl/common/netlify.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pamtopnm: add Dutch translation
  pages.nl/common/pamtopnm.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pbmtoxbm: add Dutch translation
  pages.nl/common/pbmtoxbm.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

Update pages.nl/common/pbmtoxbm.md
  pages.nl/common/pbmtoxbm.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pamtotiff: add Dutch translation
  pages.nl/common/pamtotiff.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pamtotga: add Dutch translation
  pages.nl/common/pamtotga.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

Update pages.nl/common/pamtotga.md
  pages.nl/common/pamtotga.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

Update pages.nl/common/pamtotiff.md
  pages.nl/common/pamtotiff.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pamtowinicon: add Dutch translation
  pages.nl/common/pamtowinicon.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

winicontopam: add Dutch translation
  pages.nl/common/winicontopam.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

qm-move-disk: add Dutch alias page (#11774)
  pages.nl/linux/qm-move_disk.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

qm-move-disk: add Dutch alias page (#11774)
  pages.nl/linux/qm-move_disk.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

objdump: add Dutch translation (#11776)
  pages.nl/common/objdump.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

objdump: add Dutch translation (#11776)
  pages.nl/common/objdump.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

strings: add Dutch translation (#11775)
  pages.nl/common/strings.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

strings: add Dutch translation (#11775)
  pages.nl/common/strings.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

Update pamtopnm.md
  pages.nl/common/pamtopnm.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

Update pamtopnm.md
  pages.nl/common/pamtopnm.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pamtowinicon: add Dutch translation (#11787)
  pages.nl/common/pamtowinicon.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pamtowinicon: add Dutch translation (#11787)
  pages.nl/common/pamtowinicon.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

winicontopam: add Dutch translation (#11786)
  pages.nl/common/winicontopam.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

winicontopam: add Dutch translation (#11786)
  pages.nl/common/winicontopam.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pamtotiff: add Dutch translation (#11785)
  pages.nl/common/pamtotiff.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pamtotiff: add Dutch translation (#11785)
  pages.nl/common/pamtotiff.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pamtotga: add Dutch translation (#11784)
  pages.nl/common/pamtotga.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pamtotga: add Dutch translation (#11784)
  pages.nl/common/pamtotga.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pbmtoxbm: add Dutch translation (#11783)
  pages.nl/common/pbmtoxbm.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pbmtoxbm: add Dutch translation (#11783)
  pages.nl/common/pbmtoxbm.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

xzmore: add Dutch translation (#11782)
  pages.nl/common/xzmore.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

xzmore: add Dutch translation (#11782)
  pages.nl/common/xzmore.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

netlify: add Dutch translation (#11781)
  pages.nl/common/netlify.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

netlify: add Dutch translation (#11781)
  pages.nl/common/netlify.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pamtopnm: add Dutch translation (#11780)
  pages.nl/common/pamtopnm.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pamtopnm: add Dutch translation (#11780)
  pages.nl/common/pamtopnm.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pw-link: clarify WAV mentioning in pt_BR
  pages.pt_BR/linux/pw-play.md
Owners: @waldyrious, @isaacvicente

pipewire: add page
  pages/linux/pipewire.md
Owners: @sbrl

pw-profiler: add page
  pages/linux/pw-profile.md
Owners: @sbrl

pw-profiler: fix ponctuation
  pages/linux/pw-profile.md
Owners: @sbrl

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @navarroaxel @kant
/pages.hi/ @kbdharun
/pages.id/ @reinhart1010
/pages.it/ @mebeim @yutyo @Magrid0
/pages.ko/ @IMHOJEONG
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious @isaacvicente
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @sbrl

/*.md @sbrl @kbdharun
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @navarroaxel @kant
/contributing-guides/*.hi.md @kbdharun
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @yutyo @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious @isaacvicente
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
