Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

distrobox-enter: add Spanish translation (#15337)
  pages.es/linux/distrobox-enter.md
Owners: @kant, @tricantivu, @ikks

distrobox-create: add Spanish translation (#15336)
  pages.es/linux/distrobox-create.md
Owners: @kant, @tricantivu, @ikks

distrobox-create: add Spanish translation (#15336)
  pages.es/linux/distrobox-create.md
Owners: @kant, @tricantivu, @ikks

toolbox-run: add Spanish translation (#15334)
  pages.es/linux/toolbox-run.md
Owners: @kant, @tricantivu, @ikks

toolbox-run: add Spanish translation (#15334)
  pages.es/linux/toolbox-run.md
Owners: @kant, @tricantivu, @ikks

toolbox-rmi: add Spanish translation (#15333)
  pages.es/linux/toolbox-rmi.md
Owners: @kant, @tricantivu, @ikks

toolbox-rmi: add Spanish translation (#15333)
  pages.es/linux/toolbox-rmi.md
Owners: @kant, @tricantivu, @ikks

toolbox-rm: add Spanish translation (#15332)
  pages.es/linux/toolbox-rm.md
Owners: @kant, @tricantivu, @ikks

toolbox-rm: add Spanish translation (#15332)
  pages.es/linux/toolbox-rm.md
Owners: @kant, @tricantivu, @ikks

toolbox-list: add Spanish translation (#15331)
  pages.es/linux/toolbox-list.md
Owners: @kant, @tricantivu, @ikks

toolbox-list: add Spanish translation (#15331)
  pages.es/linux/toolbox-list.md
Owners: @kant, @tricantivu, @ikks

toolbox-init-container: add Spanish translation (#15330)
  pages.es/linux/toolbox-init-container.md
Owners: @kant, @tricantivu, @ikks

toolbox-init-container: add Spanish translation (#15330)
  pages.es/linux/toolbox-init-container.md
Owners: @kant, @tricantivu, @ikks

toolbox-help: add Spanish translation (#15329)
  pages.es/linux/toolbox-help.md
Owners: @kant, @tricantivu, @ikks

toolbox-help: add Spanish translation (#15329)
  pages.es/linux/toolbox-help.md
Owners: @kant, @tricantivu, @ikks

toolbox-enter: add Spanish translation (#15328)
  pages.es/linux/toolbox-enter.md
Owners: @kant, @tricantivu, @ikks

toolbox-enter: add Spanish translation (#15328)
  pages.es/linux/toolbox-enter.md
Owners: @kant, @tricantivu, @ikks

toolbox-create: add Spanish translation (#15327)
  pages.es/linux/toolbox-create.md
Owners: @kant, @tricantivu, @ikks

toolbox-create: add Spanish translation (#15327)
  pages.es/linux/toolbox-create.md
Owners: @kant, @tricantivu, @ikks

toolbox: add Spanish translation (#15326)
  pages.es/linux/toolbox.md
Owners: @kant, @tricantivu, @ikks

toolbox: add Spanish translation (#15326)
  pages.es/linux/toolbox.md
Owners: @kant, @tricantivu, @ikks

schroot: update Spanish translation (#15325)
  pages.es/linux/schroot.md
Owners: @kant, @tricantivu, @ikks

schroot: update Spanish translation (#15325)
  pages.es/linux/schroot.md
Owners: @kant, @tricantivu, @ikks

dhcp6d: update Spanish translation (#15324)
  pages.es/osx/dhcp6d.md
Owners: @kant, @tricantivu, @ikks

dhcp6d: update Spanish translation (#15324)
  pages.es/osx/dhcp6d.md
Owners: @kant, @tricantivu, @ikks

ctkd: update Spanish translation (#15323)
  pages.es/osx/ctkd.md
Owners: @kant, @tricantivu, @ikks

ctkd: update Spanish translation (#15323)
  pages.es/osx/ctkd.md
Owners: @kant, @tricantivu, @ikks

coreaudiod: add Spanish translation (#15322)
  pages.es/osx/coreaudiod.md
Owners: @kant, @tricantivu, @ikks

coreaudiod: add Spanish translation (#15322)
  pages.es/osx/coreaudiod.md
Owners: @kant, @tricantivu, @ikks

return: add Spanish translation
  pages.es/common/return.md
Owners: @kant, @tricantivu, @ikks

Update pacman.md
  pages/linux/pacman.md
Owners: @cyqsimon

pangolin: add Spanish translation
  pages.es/common/pangolin.md
Owners: @kant, @tricantivu, @ikks

Create fincore.md
  pages/linux/fincore.md
Owners: @cyqsimon

Update fincore.md
  pages/linux/fincore.md
Owners: @cyqsimon

vmtouch: add page
  pages/common/vmtouch.md
Owners: none

$: add zh translation
  pages.zh/common/$.md
Owners: @blueskyson, @einverne

Create fadvise.md
  pages/linux/fadvise.md
Owners: @cyqsimon

Update pages.zh/common/mysql.md
  pages.zh/common/mysql.md
Owners: @blueskyson, @einverne

Update pages.zh/common/mysql.md
  pages.zh/common/mysql.md
Owners: @blueskyson, @einverne

Update pages.zh/common/mysql.md
  pages.zh/common/mysql.md
Owners: @blueskyson, @einverne

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
