Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tldr-pages/german, @tldr-pages/spanish, @tldr-pages/italian, @tldr-pages/portuguese, @tldr-pages/tamil, @tldr-pages/turkish

fold: add page; log: add Italian translation (#10039)
  pages.it/osx/log.md
  pages/linux/fold.md
Owners: @tldr-pages/italian

systemd-cat: add page
  pages/linux/systemd-cat.md
Owners: none

Create xsltproc.md
  pages.es/osx/xsltproc.md
Owners: @tldr-pages/spanish

systemd-ac-power: add page
  pages/linux/systemd-ac-power.md
Owners: none

style-guide.zh: change brackets to follow Chinese guidelines (#10177)
  contributing-guides/style-guide.zh.md
Owners: none

style-guide.zh: change brackets to follow Chinese guidelines (#10177)
  contributing-guides/style-guide.zh.md
Owners: none

n: Fix incorrect translations (#10118)
  pages.zh/common/n.md
Owners: none

n: Fix incorrect translations (#10118)
  pages.zh/common/n.md
Owners: none

adb-logcat: update Chinese translation (#10007)
  pages.zh/common/adb-logcat.md
Owners: none

adb-logcat: update Chinese translation (#10007)
  pages.zh/common/adb-logcat.md
Owners: none

systemd-ac-power: add page (#10196)
  pages/linux/systemd-ac-power.md
Owners: none

systemd-ac-power: add page (#10196)
  pages/linux/systemd-ac-power.md
Owners: none

.github/CODEOWNERS:

/pages.de/ @tldr-pages/german
/pages.es/ @tldr-pages/spanish
/pages.it/ @tldr-pages/italian
/pages.pt_BR/ @tldr-pages/portuguese
/pages.pt_PT/ @tldr-pages/portuguese
/pages.ta/ @tldr-pages/tamil
/pages.tr/ @tldr-pages/turkish

/contributing-guides/*.de.md @tldr-pages/german
/contributing-guides/*.es.md @tldr-pages/spanish
/contributing-guides/*.it.md @tldr-pages/italian
/contributing-guides/*.pt_BR/ @tldr-pages/portuguese
/contributing-guides/*.pt_PT/ @tldr-pages/portuguese
/contributing-guides/*.ta.md @tldr-pages/tamil
/contributing-guides/*.tr.md @tldr-pages/turkish
