Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

debtap: add Spanish translation (#15281)
  pages.es/linux/debtap.md
Owners: @kant, @tricantivu, @ikks

debsecan: add Spanish translation (#15280)
  pages.es/linux/debsecan.md
Owners: @kant, @tricantivu, @ikks

debsecan: add Spanish translation (#15280)
  pages.es/linux/debsecan.md
Owners: @kant, @tricantivu, @ikks

deborphan: add Spanish translation (#15279)
  pages.es/linux/deborphan.md
Owners: @kant, @tricantivu, @ikks

deborphan: add Spanish translation (#15279)
  pages.es/linux/deborphan.md
Owners: @kant, @tricantivu, @ikks

debootstrap: add Spanish translation (#15278)
  pages.es/linux/debootstrap.md
Owners: @kant, @tricantivu, @ikks

debootstrap: add Spanish translation (#15278)
  pages.es/linux/debootstrap.md
Owners: @kant, @tricantivu, @ikks

debman: add Spanish translation (#15277)
  pages.es/linux/debman.md
Owners: @kant, @tricantivu, @ikks

debman: add Spanish translation (#15277)
  pages.es/linux/debman.md
Owners: @kant, @tricantivu, @ikks

deb-get: add Spanish translation (#15276)
  pages.es/linux/deb-get.md
Owners: @kant, @tricantivu, @ikks

deb-get: add Spanish translation (#15276)
  pages.es/linux/deb-get.md
Owners: @kant, @tricantivu, @ikks

debchange: add Spanish translation (#15275)
  pages.es/linux/debchange.md
Owners: @kant, @tricantivu, @ikks

debchange: add Spanish translation (#15275)
  pages.es/linux/debchange.md
Owners: @kant, @tricantivu, @ikks

unix2mac: add Spanish translation (#15274)
  pages.es/linux/unix2mac.md
Owners: @kant, @tricantivu, @ikks

unix2mac: add Spanish translation (#15274)
  pages.es/linux/unix2mac.md
Owners: @kant, @tricantivu, @ikks

unix2dos: add Spanish translation (#15273)
  pages.es/linux/unix2dos.md
Owners: @kant, @tricantivu, @ikks

unix2dos: add Spanish translation (#15273)
  pages.es/linux/unix2dos.md
Owners: @kant, @tricantivu, @ikks

Create tcpreplay.md
  pages/common/tcpreplay.md
Owners: none

mac2unix: add Spanish translation (#15272)
  pages.es/linux/mac2unix.md
Owners: @kant, @tricantivu, @ikks

mac2unix: add Spanish translation (#15272)
  pages.es/linux/mac2unix.md
Owners: @kant, @tricantivu, @ikks

tuxi: add Spanish translation (#15271)
  pages.es/linux/tuxi.md
Owners: @kant, @tricantivu, @ikks

tuxi: add Spanish translation (#15271)
  pages.es/linux/tuxi.md
Owners: @kant, @tricantivu, @ikks

ttyplot: add Spanish translation (#15270)
  pages.es/linux/ttyplot.md
Owners: @kant, @tricantivu, @ikks

ttyplot: add Spanish translation (#15270)
  pages.es/linux/ttyplot.md
Owners: @kant, @tricantivu, @ikks

fix: add period
  pages/common/tcpreplay.md
Owners: none

lddd: add Spanish translation (#15269)
  pages.es/linux/lddd.md
Owners: @kant, @tricantivu, @ikks

lddd: add Spanish translation (#15269)
  pages.es/linux/lddd.md
Owners: @kant, @tricantivu, @ikks

ldd: add Spanish translation (#15268)
  pages.es/linux/ldd.md
Owners: @kant, @tricantivu, @ikks

ldd: add Spanish translation (#15268)
  pages.es/linux/ldd.md
Owners: @kant, @tricantivu, @ikks

ldconfig: add Spanish translation (#15267)
  pages.es/linux/ldconfig.md
Owners: @kant, @tricantivu, @ikks

ldconfig: add Spanish translation (#15267)
  pages.es/linux/ldconfig.md
Owners: @kant, @tricantivu, @ikks

Update pages/linux/lsfd.md
  pages/linux/lsfd.md
Owners: @cyqsimon

kill: add Spanish translation (#15265)
  pages.es/linux/kill.md
Owners: @kant, @tricantivu, @ikks

kill: add Spanish translation (#15265)
  pages.es/linux/kill.md
Owners: @kant, @tricantivu, @ikks

dpkg-reconfigure: add Spanish translation (#15264)
  pages.es/linux/dpkg-reconfigure.md
Owners: @kant, @tricantivu, @ikks

dpkg-reconfigure: add Spanish translation (#15264)
  pages.es/linux/dpkg-reconfigure.md
Owners: @kant, @tricantivu, @ikks

dpkg-query: add Spanish translation (#15263)
  pages.es/linux/dpkg-query.md
Owners: @kant, @tricantivu, @ikks

dpkg-query: add Spanish translation (#15263)
  pages.es/linux/dpkg-query.md
Owners: @kant, @tricantivu, @ikks

dpkg-deb: add Spanish translation (#15262)
  pages.es/linux/dpkg-deb.md
Owners: @kant, @tricantivu, @ikks

dpkg-deb: add Spanish translation (#15262)
  pages.es/linux/dpkg-deb.md
Owners: @kant, @tricantivu, @ikks

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
