Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @navarroaxel, @kant, @kbdharun, @reinhart1010, @mebeim, @yutyo, @Magrid0, @IMHOJEONG, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @waldyrious, @isaacvicente, @blueskyson, @einverne, @sbrl

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @navarroaxel @kant
/pages.hi/ @kbdharun
/pages.id/ @reinhart1010
/pages.it/ @mebeim @yutyo @Magrid0
/pages.ko/ @IMHOJEONG
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious @isaacvicente
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @sbrl

/*.md @sbrl @kbdharun
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @navarroaxel @kant
/contributing-guides/*.hi.md @kbdharun
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @yutyo @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious @isaacvicente
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

git-push: update Spanish translation (#11661)
  pages.es/common/git-push.md
Owners: @navarroaxel, @kant

Update calc.md to latest version
  pages.es/common/calc.md
Owners: @navarroaxel, @kant

scripts/deploy.sh: remove redundant paths from the sumfile
  scripts/deploy.sh
Owners: @sebastiaanspeck

vboxmanage-movevm: add Spanish translation (#11814)
  pages.es/common/vboxmanage-movevm.md
  pages/common/vboxmanage-movevm.md
Owners: @navarroaxel, @kant

vboxmanage-movevm: add Spanish translation (#11814)
  pages.es/common/vboxmanage-movevm.md
  pages/common/vboxmanage-movevm.md
Owners: @navarroaxel, @kant

wikit: add page
  pages/linux/wikit.md
Owners: @sbrl

scripts/build.sh: don't build archives when pages haven't been changed
  scripts/build.sh
Owners: @sebastiaanspeck

scripts: don't build the index when pages haven't been changed, fix deploy.sh
  scripts/build.sh
  scripts/deploy.sh
Owners: @sebastiaanspeck

cups{accept,reject,enable,disable}: add pages
  pages/common/cupsaccept.md
  pages/common/cupsdisable.md
  pages/common/cupsenable.md
  pages/common/cupsreject.md
Owners: none

cupsaccept, cupsreject: update pages
  pages/common/cupsaccept.md
  pages/common/cupsreject.md
Owners: none

cupsdisable: fix command name
  pages/common/cupsdisable.md
Owners: none

cups{enable,disable,accept,reject}: add pt_BR translations
  pages.pt_BR/common/cupsaccept.md
  pages.pt_BR/common/cupsdisable.md
  pages.pt_BR/common/cupsenable.md
  pages.pt_BR/common/cupsreject.md
Owners: @waldyrious, @isaacvicente

cups{accept,reject}: suggest more pages
  pages.pt_BR/common/cupsaccept.md
  pages.pt_BR/common/cupsreject.md
  pages/common/cupsaccept.md
  pages/common/cupsreject.md
Owners: @waldyrious, @isaacvicente

lpstat: add pt_BR translation
  pages.pt_BR/common/lpstat.md
Owners: @waldyrious, @isaacvicente

freebsd/pkg: add pt_BR translation
  pages.pt_BR/freebsd/pkg.md
Owners: @waldyrious, @isaacvicente

htop: add delay example in pt_BR
  pages.pt_BR/common/htop.md
Owners: @waldyrious, @isaacvicente

adb-install: update pt_BR translation
  pages.pt_BR/common/adb-install.md
Owners: @waldyrious, @isaacvicente

clamav: update pt_BR translation
  pages.pt_BR/common/clamav.md
Owners: @waldyrious, @isaacvicente

command: update pt_BR translation
  pages.pt_BR/common/command.md
Owners: @waldyrious, @isaacvicente

dash: update pt_BR translation
  pages.pt_BR/common/dash.md
Owners: @waldyrious, @isaacvicente

unrar: update pt_BR translation
  pages.pt_BR/common/unrar.md
Owners: @waldyrious, @isaacvicente

units: update pt_BR translation
  pages.pt_BR/common/units.md
Owners: @waldyrious, @isaacvicente

transmission: update pt_BR translation
  pages.pt_BR/common/transmission.md
Owners: @waldyrious, @isaacvicente

dash: fix command in pt_BR
  pages.pt_BR/common/dash.md
Owners: @waldyrious, @isaacvicente

units: update pt_BR translation
  pages.pt_BR/common/units.md
Owners: @waldyrious, @isaacvicente

cupsdisable: add missing curly brackets
  pages.pt_BR/common/cupsdisable.md
  pages/common/cupsdisable.md
Owners: @waldyrious, @isaacvicente

cups{enable,disable}: add pt_BR translation
  pages.pt_BR/common/cupsenable.md
  pages/common/cupsdisable.md
Owners: @waldyrious, @isaacvicente

Update pages/linux/wikit.md
  pages/linux/wikit.md
Owners: @sbrl

Update pages/linux/wikit.md
  pages/linux/wikit.md
Owners: @sbrl

calc: update Spanish translation (#11632)
  pages.es/common/calc.md
Owners: @navarroaxel, @kant

calc: update Spanish translation (#11632)
  pages.es/common/calc.md
Owners: @navarroaxel, @kant

apt-get: update Spanish translation (#11701)
  pages.es/linux/apt-get.md
Owners: @navarroaxel, @kant

apt-get: update Spanish translation (#11701)
  pages.es/linux/apt-get.md
Owners: @navarroaxel, @kant

git-remote: fix order in Spanish translation
  pages.es/common/git-remote.md
Owners: @navarroaxel, @kant

git-remote: update Spanish translation (#11662)
  pages.es/common/git-remote.md
Owners: @navarroaxel, @kant

git-remote: update Spanish translation (#11662)
  pages.es/common/git-remote.md
Owners: @navarroaxel, @kant

cleanup: update PDF README
  scripts/pdf/README.md
Owners: none

fix: broken links in scripts summary
  scripts/README.md
Owners: @sebastiaanspeck

cleanup: update command in wrong-filename.sh
  scripts/wrong-filename.sh
Owners: @sebastiaanspeck

cleanup: update files
  scripts/README.md
  scripts/wrong-filename.sh
Owners: @sebastiaanspeck
