Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

arch: update documentation link (#15060)
  pages.bn/common/arch.md
  pages.es/common/arch.md
  pages.fr/common/arch.md
  pages.hi/common/arch.md
  pages.id/common/arch.md
  pages.it/common/arch.md
  pages.ja/common/arch.md
  pages.ko/common/arch.md
  pages.nl/common/arch.md
  pages.no/common/arch.md
  pages.pt_BR/common/arch.md
  pages.sv/common/arch.md
  pages.tr/common/arch.md
  pages.zh/common/arch.md
  pages/common/arch.md
Owners: @kant, @tricantivu, @ikks, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @isaacvicente, @vitorhcl, @renie, @blueskyson, @einverne

apt-moo: add Spanish translation (#15068)
  pages.es/linux/apt-moo.md
Owners: @kant, @tricantivu, @ikks

apt-moo: add Spanish translation (#15068)
  pages.es/linux/apt-moo.md
Owners: @kant, @tricantivu, @ikks

adb-devices: add Spanish translation (#15065)
  pages.es/common/adb-devices.md
Owners: @kant, @tricantivu, @ikks

adb-devices: add Spanish translation (#15065)
  pages.es/common/adb-devices.md
Owners: @kant, @tricantivu, @ikks

adb-reboot: add Spanish translation (#15066)
  pages.es/common/adb-reboot.md
Owners: @kant, @tricantivu, @ikks

adb-reboot: add Spanish translation (#15066)
  pages.es/common/adb-reboot.md
Owners: @kant, @tricantivu, @ikks

apt-clone: add Spanish translation (#15067)
  pages.es/linux/apt-clone.md
Owners: @kant, @tricantivu, @ikks

apt-clone: add Spanish translation (#15067)
  pages.es/linux/apt-clone.md
Owners: @kant, @tricantivu, @ikks

Resolve review comments
  pages/common/tex-fmt.md
Owners: none

podman-image: add Spanish translation (#15050)
  pages.es/common/podman-image.md
Owners: @kant, @tricantivu, @ikks

podman-image: add Spanish translation (#15050)
  pages.es/common/podman-image.md
Owners: @kant, @tricantivu, @ikks

podman-compose: add Spanish translation (#15049)
  pages.es/common/podman-compose.md
Owners: @kant, @tricantivu, @ikks

podman-compose: add Spanish translation (#15049)
  pages.es/common/podman-compose.md
Owners: @kant, @tricantivu, @ikks

podman-images: add Spanish translation (#15051)
  pages.es/common/podman-images.md
Owners: @kant, @tricantivu, @ikks

podman-images: add Spanish translation (#15051)
  pages.es/common/podman-images.md
Owners: @kant, @tricantivu, @ikks

podman-build: add Spanish translation (#15048)
  pages.es/common/podman-build.md
Owners: @kant, @tricantivu, @ikks

podman-build: add Spanish translation (#15048)
  pages.es/common/podman-build.md
Owners: @kant, @tricantivu, @ikks

podman-login: add Spanish translation (#15052)
  pages.es/common/podman-login.md
Owners: @kant, @tricantivu, @ikks

podman-login: add Spanish translation (#15052)
  pages.es/common/podman-login.md
Owners: @kant, @tricantivu, @ikks

podman-machine: add Spanish translation (#15053)
  pages.es/common/podman-machine.md
Owners: @kant, @tricantivu, @ikks

podman-machine: add Spanish translation (#15053)
  pages.es/common/podman-machine.md
Owners: @kant, @tricantivu, @ikks

podman-ps: add Spanish translation (#15054)
  pages.es/common/podman-ps.md
Owners: @kant, @tricantivu, @ikks

podman-ps: add Spanish translation (#15054)
  pages.es/common/podman-ps.md
Owners: @kant, @tricantivu, @ikks

podman-rmi: add Spanish translation (#15055)
  pages.es/common/podman-rmi.md
Owners: @kant, @tricantivu, @ikks

podman-rmi: add Spanish translation (#15055)
  pages.es/common/podman-rmi.md
Owners: @kant, @tricantivu, @ikks

podman-run: add Spanish translation (#15056)
  pages.es/common/podman-run.md
Owners: @kant, @tricantivu, @ikks

podman-run: add Spanish translation (#15056)
  pages.es/common/podman-run.md
Owners: @kant, @tricantivu, @ikks

wl-copy: add Spanish translation (#15057)
  pages.es/linux/wl-copy.md
Owners: @kant, @tricantivu, @ikks

wl-copy: add Spanish translation (#15057)
  pages.es/linux/wl-copy.md
Owners: @kant, @tricantivu, @ikks

wl-paste: add Spanish translation (#15058)
  pages.es/linux/wl-paste.md
Owners: @kant, @tricantivu, @ikks

wl-paste: add Spanish translation (#15058)
  pages.es/linux/wl-paste.md
Owners: @kant, @tricantivu, @ikks

7z{,a,r}: update French translation + fixes (#14783)
  pages.fr/common/7z.md
  pages.fr/common/7za.md
  pages.fr/common/7zr.md
Owners: @Nico385412, @nicokosi, @noraj

7z{,a,r}: update French translation + fixes (#14783)
  pages.fr/common/7z.md
  pages.fr/common/7za.md
  pages.fr/common/7zr.md
Owners: @Nico385412, @nicokosi, @noraj

chown: update documentation link (#15059)
  pages.de/common/chown.md
  pages.es/common/chown.md
  pages.fa/common/chown.md
  pages.fr/common/chown.md
  pages.it/common/chown.md
  pages.ko/common/chown.md
  pages.nl/common/chown.md
  pages.pl/common/chown.md
  pages.pt_BR/common/chown.md
  pages.zh/common/chown.md
  pages/common/chown.md
Owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @blueskyson, @einverne

chown: update documentation link (#15059)
  pages.de/common/chown.md
  pages.es/common/chown.md
  pages.fa/common/chown.md
  pages.fr/common/chown.md
  pages.it/common/chown.md
  pages.ko/common/chown.md
  pages.nl/common/chown.md
  pages.pl/common/chown.md
  pages.pt_BR/common/chown.md
  pages.zh/common/chown.md
  pages/common/chown.md
Owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @blueskyson, @einverne

b2sum,md5sum,sha*sum: update Dutch translation
  pages.nl/common/b2sum.md
  pages.nl/common/md5sum.md
  pages.nl/common/sha1sum.md
  pages.nl/common/sha224sum.md
  pages.nl/common/sha384sum.md
  pages.nl/common/sha512sum.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

dnf5-group,pacman-f: add Dutch alias pages
  pages.nl/linux/dnf5-group.md
  pages.nl/linux/pacman-f.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

jobs,pwd: update Dutch more info link
  pages.nl/linux/jobs.md
  pages/common/pwd.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pacman-f: fix typo
  pages.nl/linux/pacman-f.md
Owners: @sebastiaanspeck, @leonvsc, @Waples
