Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @marchersimon, @navarroaxel, @mebeim, @yutyo, @acuteenvy, @waldyrious, @kbdharun, @blueskyson, @einverne

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @marchersimon
/pages.es/ @navarroaxel
/pages.it/ @mebeim @yutyo
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/contributing-guides/*.de.md @pixelcmtd @marchersimon
/contributing-guides/*.es.md @navarroaxel
/contributing-guides/*.it.md @mebeim @yutyo
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

Apply suggestions from code review
  pages/common/tre.md
Owners: none

Apply suggestions from code review
  pages/common/popd.md
  pages/common/pushd.md
Owners: none

Apply suggestions from code review
  pages/linux/trayer.md
Owners: none

tre: add page (#10387)
  pages/common/tre.md
Owners: none

tre: add page (#10387)
  pages/common/tre.md
Owners: none

Update pages/linux/trayer.md
  pages/linux/trayer.md
Owners: none

trayer: add page (#10441)
  pages/linux/trayer.md
Owners: none

trayer: add page (#10441)
  pages/linux/trayer.md
Owners: none

polybar, polybar-msg: add page
  pages/linux/polybar-msg.md
  pages/linux/polybar.md
Owners: none

irb: standard input => `stdin` (#10436)
  pages/common/irb.md
Owners: none

emulator: the help => help
  pages/common/emulator.md
Owners: none

pages/*: reword descriptions again (more pages)
  pages/common/arduino-builder.md
  pages/common/ffsend.md
  pages/common/grex.md
  pages/common/hg.md
  pages/common/nix.md
  pages/common/pueue.md
  pages/common/surge.md
  pages/common/tea.md
  pages/common/u3d.md
  pages/common/viu.md
  pages/linux/iwctl.md
  pages/linux/nmcli.md
  pages/linux/pi.md
  pages/linux/udisksctl.md
  pages/osx/launchctl.md
  pages/osx/softwareupdate.md
  pages/windows/choco.md
  pages/windows/cmstp.md
  pages/windows/pwlauncher.md
  pages/windows/reg.md
  pages/windows/scoop.md
Owners: none

terminal-notifier: add Spanish translation
  pages.es/osx/terminal-notifier.md
Owners: @navarroaxel

qm-list: add page (#9139)
  pages/linux/qm-list.md
Owners: none

qm-list: add page (#9139)
  pages/linux/qm-list.md
Owners: none

Apply suggestions from code review
  pages/common/postalias.md
Owners: none

mount.{cifs,smb3}: add page (#10416)
  pages/linux/mount.cifs.md
  pages/linux/mount.smb3.md
Owners: none

mount.{cifs,smb3}: add page (#10416)
  pages/linux/mount.cifs.md
  pages/linux/mount.smb3.md
Owners: none

postalias: update page
  pages/common/postalias.md
Owners: none

Apply suggestions from code review
  pages.th/window/cd.md
  pages.th/window/cmd.md
  pages.th/window/dir.md
Owners: none

cd: update Thai translation
  pages.th/window/cd.md
Owners: none

Fix lint
  pages.th/window/cd.md
Owners: none

cmd: update Thai translation
  pages.th/window/cmd.md
Owners: none

cmd: update Thai translation
  pages.th/window/cmd.md
Owners: none

Apply suggestions from code review
  pages.th/window/cd.md
  pages.th/window/dir.md
Owners: none

Apply suggestions from code review
  pages.th/window/cd.md
  pages.th/window/cmd.md
  pages.th/window/dir.md
Owners: none

read: update page
  pages/common/read.md
Owners: none

read: add page
  pages/linux/read.md
Owners: none

Apply suggestions from code review
  pages.th/window/cd.md
  pages.th/window/cmd.md
  pages.th/window/dir.md
Owners: none

cd, cmd, dir: add Thai translation (#6811)
  pages.th/window/cd.md
  pages.th/window/cmd.md
  pages.th/window/dir.md
Owners: none

cd, cmd, dir: add Thai translation (#6811)
  pages.th/window/cd.md
  pages.th/window/cmd.md
  pages.th/window/dir.md
Owners: none

read: update page
  pages/linux/read.md
Owners: none

read: update page
  pages/linux/read.md
Owners: none

safeejectgpu: add Spanish translation
  pages.es/osx/safeejectgpu.md
Owners: @navarroaxel

photoanalysisd: add Spanish translation
  pages.es/osx/photoanalysisd.md
Owners: @navarroaxel

hidd: add Spanish translation
  pages.es/osx/hidd.md
Owners: @navarroaxel

dhcp6d: add Spanish translation
  pages.es/osx/dhcp6d.md
Owners: @navarroaxel

ed: add Spanish translation
  pages.es/osx/ed.md
Owners: @navarroaxel

read: apply suggestion
  pages/common/read.md
Owners: none

ip, smbclient, choco-install, robocopy: add Italian translation (#9985)
  pages.it/linux/ip.md
  pages.it/linux/smbclient.md
  pages.it/windows/choco-install.md
  pages.it/windows/mount.md
  pages.it/windows/robocopy.md
Owners: @mebeim, @yutyo
