Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

llvm-config: add Spanish translation (#15308)
  pages.es/common/llvm-config.md
Owners: @kant, @tricantivu, @ikks

llvm-config: add Spanish translation (#15308)
  pages.es/common/llvm-config.md
Owners: @kant, @tricantivu, @ikks

llvm-dis: add Spanish translation (#15309)
  pages.es/common/llvm-dis.md
Owners: @kant, @tricantivu, @ikks

llvm-dis: add Spanish translation (#15309)
  pages.es/common/llvm-dis.md
Owners: @kant, @tricantivu, @ikks

llvm-cat: add Spanish translation (#15307)
  pages.es/common/llvm-cat.md
Owners: @kant, @tricantivu, @ikks

llvm-cat: add Spanish translation (#15307)
  pages.es/common/llvm-cat.md
Owners: @kant, @tricantivu, @ikks

llvm-bcanalyzer: add Spanish translation (#15306)
  pages.es/common/llvm-bcanalyzer.md
Owners: @kant, @tricantivu, @ikks

llvm-bcanalyzer: add Spanish translation (#15306)
  pages.es/common/llvm-bcanalyzer.md
Owners: @kant, @tricantivu, @ikks

llvm-as: add Spanish translation (#15305)
  pages.es/common/llvm-as.md
Owners: @kant, @tricantivu, @ikks

llvm-as: add Spanish translation (#15305)
  pages.es/common/llvm-as.md
Owners: @kant, @tricantivu, @ikks

pacman-t: fix typo in filename
  pages/linux/pacman-t.md
Owners: @cyqsimon

Update pages/common/llvm-mc.md
  pages/common/llvm-mc.md
Owners: none

Output accepts directories only
  pages/common/apkeep.md
Owners: none

Update apkeep.md
  pages/common/apkeep.md
Owners: none

Update apkeep.md
  pages/common/apkeep.md
Owners: none

Update pages/linux/fadvise.md
  pages/linux/fadvise.md
Owners: @cyqsimon

Update vmtouch.md
  pages/common/vmtouch.md
Owners: none

Create x86_64.md
  pages/linux/x86_64.md
Owners: @cyqsimon

Update x86_64.md
  pages/linux/x86_64.md
Owners: @cyqsimon

Create uname26.md
  pages/linux/uname26.md
Owners: @cyqsimon

Create linux32.md
  pages/linux/linux32.md
Owners: @cyqsimon

Create linux64.md
  pages/linux/linux64.md
Owners: @cyqsimon

Create i386.md
  pages/linux/i386.md
Owners: @cyqsimon

Update pages/common/jupyterlab.md
  pages/common/jupyterlab.md
Owners: none

Update vmtouch.md
  pages/common/vmtouch.md
Owners: none

Update pages/linux/fadvise.md
  pages/linux/fadvise.md
Owners: @cyqsimon

pacman-t: fix typo in filename (#15373)
  pages/linux/pacman-t.md
Owners: @cyqsimon

pacman-t: fix typo in filename (#15373)
  pages/linux/pacman-t.md
Owners: @cyqsimon

fadvise: add page (#15365)
  pages/linux/fadvise.md
Owners: @cyqsimon

fadvise: add page (#15365)
  pages/linux/fadvise.md
Owners: @cyqsimon

Apply suggestions from code review
  pages/common/ppmdraw.md
Owners: none

ppmtopjxl, ppmwheel, ppmtoapplevol: add pages (#15355)
  pages/common/ppmtoapplevol.md
  pages/common/ppmtopjxl.md
  pages/common/ppmwheel.md
Owners: none

ppmtopjxl, ppmwheel, ppmtoapplevol: add pages (#15355)
  pages/common/ppmtoapplevol.md
  pages/common/ppmtopjxl.md
  pages/common/ppmwheel.md
Owners: none

spottopgm, rlatopam, rgb3toppm, ppmtorgb3: add pages (#15354)
  pages/common/ppmtorgb3.md
  pages/common/rgb3toppm.md
  pages/common/rlatopam.md
  pages/common/spottopgm.md
Owners: none

spottopgm, rlatopam, rgb3toppm, ppmtorgb3: add pages (#15354)
  pages/common/ppmtorgb3.md
  pages/common/rgb3toppm.md
  pages/common/rlatopam.md
  pages/common/spottopgm.md
Owners: none

Update pages/common/dbx.md
  pages/common/dbx.md
Owners: none

mysql: add Chinese translation (#15349)
  pages.zh/common/mysql.md
Owners: @blueskyson, @einverne

mysql: add Chinese translation (#15349)
  pages.zh/common/mysql.md
Owners: @blueskyson, @einverne

dbx: add page (#15345)
  pages/common/dbx.md
Owners: none

dbx: add page (#15345)
  pages/common/dbx.md
Owners: none
