Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @marchersimon, @navarroaxel, @mebeim, @yutyo, @acuteenvy, @waldyrious, @kbdharun, @blueskyson, @einverne

datashader_cli: add page (#10373)
  pages/common/datashader_cli.md
Owners: none

datashader_cli: add page (#10373)
  pages/common/datashader_cli.md
Owners: none

fixup! ruby
  pages/common/ruby.md
Owners: none

ruby: add http server example (#10410)
  pages/common/ruby.md
Owners: none

ruby: add http server example (#10410)
  pages/common/ruby.md
Owners: none

gem: update page
  pages/common/gem.md
Owners: none

ruby: move `irb` example to a separate page
  pages/common/irb.md
  pages/common/ruby.md
Owners: none

rake: add page
  pages/common/rake.md
Owners: none

age: fix argument ordering
  pages/common/age.md
Owners: none

cb: add page
  pages/common/cb.md
Owners: none

Be a little more verbose, add one more example
  pages/common/cb.md
Owners: none

Update pages/common/cb.md
  pages/common/cb.md
Owners: none

Update pages/common/cb.md
  pages/common/cb.md
Owners: none

android/*: update Indonesian translations (#10127)
  pages.id/android/logcat.md
  pages.id/android/screencap.md
Owners: none

android/*: update Indonesian translations (#10127)
  pages.id/android/logcat.md
  pages.id/android/screencap.md
Owners: none

ruby: reference other ruby-related pages
  pages/common/ruby.md
Owners: none

Update pages/common/cb.md
  pages/common/cb.md
Owners: none

rustup-init.sh: add Tamil translation (#10260)
  pages.ta/common/rustup-init.sh.md
Owners: @kbdharun

rustup-init.sh: add Tamil translation (#10260)
  pages.ta/common/rustup-init.sh.md
Owners: @kbdharun

mount.cifs: add page
  pages/linux/mount.cifs.md
Owners: none

mount.smb3: add alias page
  pages/linux/mount.smb3.md
Owners: none

Update pages/common/cb.md
  pages/common/cb.md
Owners: none

age: fix argument ordering (#10413)
  pages/common/age.md
Owners: none

age: fix argument ordering (#10413)
  pages/common/age.md
Owners: none

cb: add page (#10414)
  pages/common/cb.md
Owners: none

cb: add page (#10414)
  pages/common/cb.md
Owners: none

git-cherry-pick: spelled-out version of `-n`
  pages.es/common/git-cherry-pick.md
  pages.fr/common/git-cherry-pick.md
  pages.it/common/git-cherry-pick.md
  pages.tr/common/git-cherry-pick.md
  pages/common/git-cherry-pick.md
Owners: @navarroaxel, @mebeim, @yutyo

Update build-index.js
  scripts/build-index.js
Owners: none

use promise interface
  scripts/build-index.js
Owners: none

Update pages.es/osx/xcrun.md
  pages.es/osx/xcrun.md
Owners: @navarroaxel

valet: update page (#10293)
  pages/osx/valet.md
Owners: none

valet: update page (#10293)
  pages/osx/valet.md
Owners: none

aiac: add Spanish translation (#10181)
  pages.es/osx/aiac.md
Owners: @navarroaxel

aiac: add Spanish translation (#10181)
  pages.es/osx/aiac.md
Owners: @navarroaxel

xbps*: `package_name` => `package`
  pages/linux/xbps-install.md
  pages/linux/xbps-query.md
  pages/linux/xbps-remove.md
Owners: none

git-cherry-pick: spelled-out version of `-n` (#10417)
  pages.es/common/git-cherry-pick.md
  pages.fr/common/git-cherry-pick.md
  pages.it/common/git-cherry-pick.md
  pages.tr/common/git-cherry-pick.md
  pages/common/git-cherry-pick.md
Owners: @navarroaxel, @mebeim, @yutyo

git-cherry-pick: spelled-out version of `-n` (#10417)
  pages.es/common/git-cherry-pick.md
  pages.fr/common/git-cherry-pick.md
  pages.it/common/git-cherry-pick.md
  pages.tr/common/git-cherry-pick.md
  pages/common/git-cherry-pick.md
Owners: @navarroaxel, @mebeim, @yutyo

weechat: add page
  pages/linux/weechat.md
Owners: none

imgcat: `command line` => `command-line` (#10300)
  pages/common/imgcat.md
Owners: none

diskutil: add Spanish translation
  pages.es/osx/diskutil.md
Owners: @navarroaxel

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @marchersimon
/pages.es/ @navarroaxel
/pages.it/ @mebeim @yutyo
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/contributing-guides/*.de.md @pixelcmtd @marchersimon
/contributing-guides/*.es.md @navarroaxel
/contributing-guides/*.it.md @mebeim @yutyo
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
