Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

Update pages.zh/common/mysql.md
  pages.zh/common/mysql.md
Owners: @blueskyson, @einverne

Update pages.zh/common/mysql.md
  pages.zh/common/mysql.md
Owners: @blueskyson, @einverne

apkeep: add page
  pages/common/apkeep.md
Owners: none

Create pkg.md
  pages.zh_TW/android/pkg.md
Owners: @blueskyson

suspend: add Spanish translation
  pages.es/common/suspend.md
Owners: @kant, @tricantivu, @ikks

Update return.md
  pages.es/common/return.md
Owners: @kant, @tricantivu, @ikks

bpython: add page (#15312)
  pages/common/bpython.md
Owners: none

bpython: add page (#15312)
  pages/common/bpython.md
Owners: none

rtorrent: update Spanish translation
  pages.es/linux/rtorrent.md
Owners: @kant, @tricantivu, @ikks

Add JupyterLab documentation page
  pages/common/jupyterlab.md
Owners: none

Update pages.es/linux/rtorrent.md
  pages.es/linux/rtorrent.md
Owners: @kant, @tricantivu, @ikks

Update JupyterLab documentation formatting and links
  pages/common/jupyterlab.md
Owners: none

latexpand: add Spanish translation
  pages.es/common/latexpand.md
Owners: @kant, @tricantivu, @ikks

Refactor JupyterLab documentation for clarity and consistency
  pages/common/jupyterlab.md
Owners: none

Update pages/common/jupyterlab.md
  pages/common/jupyterlab.md
Owners: none

Update pages/common/llvm-mc.md
  pages/common/llvm-mc.md
Owners: none

svgtopam, srftopam, pamtosrf: add pages (#15353)
  pages/common/pamtosrf.md
  pages/common/srftopam.md
  pages/common/svgtopam.md
Owners: none

svgtopam, srftopam, pamtosrf: add pages (#15353)
  pages/common/pamtosrf.md
  pages/common/srftopam.md
  pages/common/svgtopam.md
Owners: none

npm-cache: fix the command to show cache path (#15358)
  pages/common/npm-cache.md
Owners: none

npm-cache: fix the command to show cache path (#15358)
  pages/common/npm-cache.md
Owners: none

exit: add Spanish translation (#15214)
  pages.es/common/exit.md
Owners: @kant, @tricantivu, @ikks

exit: add Spanish translation (#15214)
  pages.es/common/exit.md
Owners: @kant, @tricantivu, @ikks

env: add Spanish translation (#15215)
  pages.es/common/env.md
Owners: @kant, @tricantivu, @ikks

env: add Spanish translation (#15215)
  pages.es/common/env.md
Owners: @kant, @tricantivu, @ikks

errno: add Spanish translation (#15216)
  pages.es/common/errno.md
Owners: @kant, @tricantivu, @ikks

errno: add Spanish translation (#15216)
  pages.es/common/errno.md
Owners: @kant, @tricantivu, @ikks

pacman-files: add Spanish translation (#15289)
  pages.es/linux/pacman-files.md
Owners: @kant, @tricantivu, @ikks

pacman-files: add Spanish translation (#15289)
  pages.es/linux/pacman-files.md
Owners: @kant, @tricantivu, @ikks

pkgfile: add Spanish translation (#15290)
  pages.es/linux/pkgfile.md
Owners: @kant, @tricantivu, @ikks

pkgfile: add Spanish translation (#15290)
  pages.es/linux/pkgfile.md
Owners: @kant, @tricantivu, @ikks

typeset: add Spanish translation (#15293)
  pages.es/common/typeset.md
Owners: @kant, @tricantivu, @ikks

typeset: add Spanish translation (#15293)
  pages.es/common/typeset.md
Owners: @kant, @tricantivu, @ikks

pacman-q: add Spanish translation (#15295)
  pages.es/linux/pacman-q.md
Owners: @kant, @tricantivu, @ikks

pacman-q: add Spanish translation (#15295)
  pages.es/linux/pacman-q.md
Owners: @kant, @tricantivu, @ikks

bnepd: add Spanish translation (#15321)
  pages.es/osx/bnepd.md
Owners: @kant, @tricantivu, @ikks

bnepd: add Spanish translation (#15321)
  pages.es/osx/bnepd.md
Owners: @kant, @tricantivu, @ikks

biomesyncd: update Spanish translation (#15320)
  pages.es/osx/biomesyncd.md
Owners: @kant, @tricantivu, @ikks

biomesyncd: update Spanish translation (#15320)
  pages.es/osx/biomesyncd.md
Owners: @kant, @tricantivu, @ikks

auvaltool: update Spanish translation (#15319)
  pages.es/osx/auvaltool.md
Owners: @kant, @tricantivu, @ikks

auvaltool: update Spanish translation (#15319)
  pages.es/osx/auvaltool.md
Owners: @kant, @tricantivu, @ikks

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
