Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

pangolin: add page
  pages/common/pangolin.md
Owners: none

adb-uninstall: add page (#15252)
  pages/common/adb-uninstall.md
Owners: none

adb-uninstall: add page (#15252)
  pages/common/adb-uninstall.md
Owners: none

Update pages.es/linux/distrobox-upgrade.md
  pages.es/linux/distrobox-upgrade.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/distrobox-stop.md
  pages.es/linux/distrobox-stop.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/schroot.md
  pages.es/linux/schroot.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/toolbox-run.md
  pages.es/linux/toolbox-run.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/distrobox-enter.md
  pages.es/linux/distrobox-enter.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/distrobox.md
  pages.es/linux/distrobox.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/josm.md
  pages.es/common/josm.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/josm.md
  pages.es/common/josm.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/toolbox-enter.md
  pages.es/linux/toolbox-enter.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/toolbox-enter.md
  pages.es/linux/toolbox-enter.md
Owners: @kant, @tricantivu, @ikks

virsh: add network activation example (#15292)
  pages/common/virsh.md
Owners: none

virsh: add network activation example (#15292)
  pages/common/virsh.md
Owners: none

Update ac: Spanish translation
  pages.es/common/ac.md
Owners: @kant, @tricantivu, @ikks

fwconsole: add page
  pages/linux/fwconsole.md
Owners: @cyqsimon

Update pages/linux/fwconsole.md
  pages/linux/fwconsole.md
Owners: @cyqsimon

josm: add Spanish translation (#15344)
  pages.es/common/josm.md
Owners: @kant, @tricantivu, @ikks

josm: add Spanish translation (#15344)
  pages.es/common/josm.md
Owners: @kant, @tricantivu, @ikks

distrobox-upgrade: add Spanish translation (#15343)
  pages.es/linux/distrobox-upgrade.md
Owners: @kant, @tricantivu, @ikks

distrobox-upgrade: add Spanish translation (#15343)
  pages.es/linux/distrobox-upgrade.md
Owners: @kant, @tricantivu, @ikks

Update fwconsole.md
  pages/linux/fwconsole.md
Owners: @cyqsimon

insmod: update page
  pages/linux/insmod.md
Owners: @cyqsimon

greater-than: improve example (#15209)
  pages/common/greater-than.md
Owners: none

greater-than: improve example (#15209)
  pages/common/greater-than.md
Owners: none

insmod: update page (#15351)
  pages/linux/insmod.md
Owners: @cyqsimon

insmod: update page (#15351)
  pages/linux/insmod.md
Owners: @cyqsimon

for: add example for easy argument iteration (#15242)
  pages/common/for.md
Owners: none

for: add example for easy argument iteration (#15242)
  pages/common/for.md
Owners: none

adb: add device specifying command (#15249)
  pages/common/adb.md
Owners: none

adb: add device specifying command (#15249)
  pages/common/adb.md
Owners: none

Update pages/common/while.md
  pages/common/while.md
Owners: none

Update pages/linux/bootc-switch.md
  pages/linux/bootc-switch.md
Owners: @cyqsimon

times: add page (#15245)
  pages/common/times.md
Owners: none

times: add page (#15245)
  pages/common/times.md
Owners: none

continue: add page (#15243)
  pages/common/continue.md
Owners: none

continue: add page (#15243)
  pages/common/continue.md
Owners: none

logout: add page (#15240)
  pages/common/logout.md
Owners: none

logout: add page (#15240)
  pages/common/logout.md
Owners: none
