Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @navarroaxel, @kant, @kbdharun, @reinhart1010, @mebeim, @yutyo, @Magrid0, @IMHOJEONG, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @waldyrious, @isaacvicente, @blueskyson, @einverne, @sbrl

nix-classic: add Spanish translation (#11812)
  pages.es/common/nix-classic.md
Owners: @navarroaxel, @kant

nix-classic: add Spanish translation (#11812)
  pages.es/common/nix-classic.md
Owners: @navarroaxel, @kant

cleanup: remove id_ed25519_tldr_asset_upload.enc file (#11808)
  scripts/id_ed25519_tldr_asset_upload.enc
Owners: @sebastiaanspeck

cleanup: remove id_ed25519_tldr_asset_upload.enc file (#11808)
  scripts/id_ed25519_tldr_asset_upload.enc
Owners: @sebastiaanspeck

mv: Update italian translation
  pages.it/common/mv.md
Owners: @mebeim, @yutyo, @Magrid0

Update mv.md
  pages.it/common/mv.md
Owners: @mebeim, @yutyo, @Magrid0

Update tac.md
  pages.it/common/tac.md
Owners: @mebeim, @yutyo, @Magrid0

firefox, thunderbird: add Chinese translation
  pages.zh/common/firefox.md
  pages.zh/common/thunderbird.md
Owners: @blueskyson, @einverne

tlmgr-platform: add Dutch translation (#11815)
  pages.nl/common/tlmgr-platform.md
  pages/common/tlmgr-platform.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

tlmgr-platform: add Dutch translation (#11815)
  pages.nl/common/tlmgr-platform.md
  pages/common/tlmgr-platform.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

Update pages.nl/common/radare2.md
  pages.nl/common/radare2.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

common/*: add Dutch translation (#11816)
  pages.nl/common/radare2.md
  pages.nl/common/rc.md
  pages.nl/common/rg.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

common/*: add Dutch translation (#11816)
  pages.nl/common/radare2.md
  pages.nl/common/rc.md
  pages.nl/common/rg.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

firefox, thunderbird: add Chinese translation (#11820)
  pages.zh/common/firefox.md
  pages.zh/common/thunderbird.md
Owners: @blueskyson, @einverne

firefox, thunderbird: add Chinese translation (#11820)
  pages.zh/common/firefox.md
  pages.zh/common/thunderbird.md
Owners: @blueskyson, @einverne

vboxmanage-movevm: fix page title
  pages/common/vboxmanage-movevm.md
Owners: none

mv: update Italian translation (#11818)
  pages.it/common/mv.md
Owners: @mebeim, @yutyo, @Magrid0

mv: update Italian translation (#11818)
  pages.it/common/mv.md
Owners: @mebeim, @yutyo, @Magrid0

basename: replace preposition in placeholder
  pages.es/common/basename.md
Owners: @navarroaxel, @kant

basename: use standard translations in placeholder
  pages.es/common/basename.md
Owners: @navarroaxel, @kant

basename: use standard translations in placeholder
  pages.es/common/basename.md
Owners: @navarroaxel, @kant

pages.pt*: fix all pt_PT verb tenses in the start and more pt_BR verb tenses
  pages.pt_BR/common/autossh.md
  pages.pt_BR/common/brew.md
  pages.pt_BR/common/bzip2.md
  pages.pt_BR/common/cargo-doc.md
  pages.pt_BR/common/cargo-test.md
  pages.pt_BR/common/clear.md
  pages.pt_BR/common/cupsctl.md
  pages.pt_BR/common/curl.md
  pages.pt_BR/common/docker-machine.md
  pages.pt_BR/common/docker-swarm.md
  pages.pt_BR/common/docker.md
  pages.pt_BR/common/ffmpeg.md
  pages.pt_BR/common/node.md
  pages.pt_BR/common/pdftk.md
  pages.pt_BR/common/ssh-keygen.md
  pages.pt_BR/common/ssh-keyscan.md
  pages.pt_BR/common/tar.md
  pages.pt_BR/common/unzip.md
  pages.pt_BR/common/xkill.md
  pages.pt_BR/common/zip.md
  pages.pt_BR/linux/apt-get.md
  pages.pt_BR/linux/autorandr.md
  pages.pt_BR/linux/certbot.md
  pages.pt_BR/linux/cmus.md
  pages.pt_BR/windows/cls.md
  pages.pt_PT/android/dumpsys.md
  pages.pt_PT/android/logcat.md
  pages.pt_PT/android/pkg.md
  pages.pt_PT/android/settings.md
  pages.pt_PT/common/7za.md
  pages.pt_PT/common/cd.md
  pages.pt_PT/common/chmod.md
  pages.pt_PT/common/history.md
  pages.pt_PT/common/tmux.md
  pages.pt_PT/common/touch.md
  pages.pt_PT/common/xkill.md
  pages.pt_PT/common/yt-dlp.md
  pages.pt_PT/linux/pacman.md
  pages.pt_PT/linux/xrdb.md
Owners: @waldyrious, @isaacvicente

pages.pt_BR: fix more verb tenses
  pages.pt_BR/common/autossh.md
  pages.pt_BR/common/aws-google-auth.md
  pages.pt_BR/common/bundle.md
  pages.pt_BR/common/cargo-add.md
  pages.pt_BR/common/cargo-clippy.md
  pages.pt_BR/common/docker-slim.md
  pages.pt_BR/common/flips.md
  pages.pt_BR/common/img2pdf.md
  pages.pt_BR/common/mv.md
  pages.pt_BR/common/pssh.md
  pages.pt_BR/common/ssh-keygen.md
  pages.pt_BR/common/sshpass.md
  pages.pt_BR/common/sudo.md
  pages.pt_BR/common/wpa_supplicant.md
  pages.pt_BR/linux/add-apt-repository.md
  pages.pt_BR/linux/adduser.md
  pages.pt_BR/linux/alien.md
  pages.pt_BR/linux/at.md
  pages.pt_BR/linux/calcurse.md
  pages.pt_BR/linux/distrobox-enter.md
  pages.pt_BR/linux/paru.md
  pages.pt_BR/osx/bless.md
  pages.pt_BR/windows/cmd.md
Owners: @waldyrious, @isaacvicente

pages.pt_BR: fix more verb tenses
  pages.pt_BR/linux/apk.md
  pages.pt_BR/linux/bpftrace.md
  pages.pt_BR/linux/chage.md
  pages.pt_BR/linux/csplit.md
  pages.pt_BR/windows/cmd.md
Owners: @waldyrious, @isaacvicente

Update pages.es/common/vboxmanage-movevm.md
  pages.es/common/vboxmanage-movevm.md
Owners: @navarroaxel, @kant

Update pages.es/common/chmod.md
  pages.es/common/chmod.md
Owners: @navarroaxel, @kant

Update pages.es/common/git-push.md
  pages.es/common/git-push.md
Owners: @navarroaxel, @kant

bc, bluetoothd, oomctl, protontricks: add pt_BR translation
  pages.pt_BR/common/bc.md
  pages.pt_BR/linux/bluetoothd.md
  pages.pt_BR/linux/oomctl.md
  pages.pt_BR/linux/protontricks.md
Owners: @waldyrious, @isaacvicente

basename: add Spanish translation (#11817)
  pages.es/common/basename.md
Owners: @navarroaxel, @kant

basename: add Spanish translation (#11817)
  pages.es/common/basename.md
Owners: @navarroaxel, @kant

Update pages.es/common/vboxmanage-movevm.md
  pages.es/common/vboxmanage-movevm.md
Owners: @navarroaxel, @kant

Update git-remote.md
  pages.es/common/git-remote.md
Owners: @navarroaxel, @kant

Update shutdown.md
  pages.es/linux/shutdown.md
Owners: @navarroaxel, @kant

Update shutdown.md
  pages.es/linux/shutdown.md
Owners: @navarroaxel, @kant

Update apt-get.md
  pages.es/linux/apt-get.md
Owners: @navarroaxel, @kant

Update tar.md to latest version
  pages.es/common/tar.md
Owners: @navarroaxel, @kant

Update tar.md
  pages.es/common/tar.md
Owners: @navarroaxel, @kant

chmod: update Spanish translation (#11633)
  pages.es/common/chmod.md
Owners: @navarroaxel, @kant

chmod: update Spanish translation (#11633)
  pages.es/common/chmod.md
Owners: @navarroaxel, @kant

git-push: update Spanish translation (#11661)
  pages.es/common/git-push.md
Owners: @navarroaxel, @kant

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @navarroaxel @kant
/pages.hi/ @kbdharun
/pages.id/ @reinhart1010
/pages.it/ @mebeim @yutyo @Magrid0
/pages.ko/ @IMHOJEONG
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious @isaacvicente
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @sbrl

/*.md @sbrl @kbdharun
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @navarroaxel @kant
/contributing-guides/*.hi.md @kbdharun
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @yutyo @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious @isaacvicente
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
