Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

nmcli-general: add Spanish translation (#15078)
  pages.es/linux/nmcli-general.md
Owners: @kant, @tricantivu, @ikks

nmcli-device: add Spanish translation (#15077)
  pages.es/linux/nmcli-device.md
Owners: @kant, @tricantivu, @ikks

nmcli-device: add Spanish translation (#15077)
  pages.es/linux/nmcli-device.md
Owners: @kant, @tricantivu, @ikks

nmcli-connection: add Spanish translation (#15076)
  pages.es/linux/nmcli-connection.md
Owners: @kant, @tricantivu, @ikks

nmcli-connection: add Spanish translation (#15076)
  pages.es/linux/nmcli-connection.md
Owners: @kant, @tricantivu, @ikks

nmcli-agent: add Spanish translation (#15075)
  pages.es/linux/nmcli-agent.md
Owners: @kant, @tricantivu, @ikks

nmcli-agent: add Spanish translation (#15075)
  pages.es/linux/nmcli-agent.md
Owners: @kant, @tricantivu, @ikks

nmcli: add Spanish translation (#15074)
  pages.es/linux/nmcli.md
Owners: @kant, @tricantivu, @ikks

nmcli: add Spanish translation (#15074)
  pages.es/linux/nmcli.md
Owners: @kant, @tricantivu, @ikks

Update pages.nl/linux/dnf5-group.md
  pages.nl/linux/dnf5-group.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

fd: add Chinese translation (#15037)
  pages.zh/common/fd.md
Owners: @blueskyson, @einverne

fd: add Chinese translation (#15037)
  pages.zh/common/fd.md
Owners: @blueskyson, @einverne

trdsql: add Spanish translation (#15044)
  pages.es/common/trdsql.md
Owners: @kant, @tricantivu, @ikks

trdsql: add Spanish translation (#15044)
  pages.es/common/trdsql.md
Owners: @kant, @tricantivu, @ikks

zola: add Spanish translation (#15046)
  pages.es/common/zola.md
Owners: @kant, @tricantivu, @ikks

zola: add Spanish translation (#15046)
  pages.es/common/zola.md
Owners: @kant, @tricantivu, @ikks

nm-online: add Spanish translation (#15069)
  pages.es/linux/nm-online.md
Owners: @kant, @tricantivu, @ikks

nm-online: add Spanish translation (#15069)
  pages.es/linux/nm-online.md
Owners: @kant, @tricantivu, @ikks

podman: add Spanish translation (#15047)
  pages.es/common/podman.md
Owners: @kant, @tricantivu, @ikks

podman: add Spanish translation (#15047)
  pages.es/common/podman.md
Owners: @kant, @tricantivu, @ikks

fabric: add Spanish translation (#15032)
  pages.es/common/fabric.md
Owners: @kant, @tricantivu, @ikks

fabric: add Spanish translation (#15032)
  pages.es/common/fabric.md
Owners: @kant, @tricantivu, @ikks

incus: add Spanish translation (#15031)
  pages.es/common/incus.md
Owners: @kant, @tricantivu, @ikks

incus: add Spanish translation (#15031)
  pages.es/common/incus.md
Owners: @kant, @tricantivu, @ikks

readcd: add Spanish translation (#15030)
  pages.es/linux/readcd.md
Owners: @kant, @tricantivu, @ikks

readcd: add Spanish translation (#15030)
  pages.es/linux/readcd.md
Owners: @kant, @tricantivu, @ikks

cdrdao: add Spanish translation (#15029)
  pages.es/linux/cdrdao.md
Owners: @kant, @tricantivu, @ikks

cdrdao: add Spanish translation (#15029)
  pages.es/linux/cdrdao.md
Owners: @kant, @tricantivu, @ikks

imv: add Spanish translation (#15021)
  pages.es/linux/imv.md
Owners: @kant, @tricantivu, @ikks

imv: add Spanish translation (#15021)
  pages.es/linux/imv.md
Owners: @kant, @tricantivu, @ikks

wf-recorder: add Spanish translation (#15020)
  pages.es/linux/wf-recorder.md
Owners: @kant, @tricantivu, @ikks

wf-recorder: add Spanish translation (#15020)
  pages.es/linux/wf-recorder.md
Owners: @kant, @tricantivu, @ikks

darling: add Spanish translation (#15019)
  pages.es/linux/darling.md
Owners: @kant, @tricantivu, @ikks

darling: add Spanish translation (#15019)
  pages.es/linux/darling.md
Owners: @kant, @tricantivu, @ikks

hatch: add Spanish translation (#15018)
  pages.es/common/hatch.md
Owners: @kant, @tricantivu, @ikks

hatch: add Spanish translation (#15018)
  pages.es/common/hatch.md
Owners: @kant, @tricantivu, @ikks

vgremove: add Spanish translation (#15017)
  pages.es/linux/vgremove.md
Owners: @kant, @tricantivu, @ikks

vgremove: add Spanish translation (#15017)
  pages.es/linux/vgremove.md
Owners: @kant, @tricantivu, @ikks

farge: add Spanish translation (#15012)
  pages.es/linux/farge.md
Owners: @kant, @tricantivu, @ikks

farge: add Spanish translation (#15012)
  pages.es/linux/farge.md
Owners: @kant, @tricantivu, @ikks

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
