Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

pwd: update Spanish translation (#15199)
  pages.es/common/pwd.md
Owners: @kant, @tricantivu, @ikks

npm-ls: add Spanish translation (#15200)
  pages.es/common/npm-ls.md
Owners: @kant, @tricantivu, @ikks

npm-ls: add Spanish translation (#15200)
  pages.es/common/npm-ls.md
Owners: @kant, @tricantivu, @ikks

rmdir: add Spanish translation (#15201)
  pages.es/linux/rmdir.md
Owners: @kant, @tricantivu, @ikks

rmdir: add Spanish translation (#15201)
  pages.es/linux/rmdir.md
Owners: @kant, @tricantivu, @ikks

sc: add Spanish translation (#15202)
  pages.es/windows/sc.md
Owners: @kant, @tricantivu, @ikks

sc: add Spanish translation (#15202)
  pages.es/windows/sc.md
Owners: @kant, @tricantivu, @ikks

clear-host: add Spanish translation (#15203)
  pages.es/windows/clear-host.md
Owners: @kant, @tricantivu, @ikks

clear-host: add Spanish translation (#15203)
  pages.es/windows/clear-host.md
Owners: @kant, @tricantivu, @ikks

remove-item: add Spanish translation (#15204)
  pages.es/windows/remove-item.md
Owners: @kant, @tricantivu, @ikks

remove-item: add Spanish translation (#15204)
  pages.es/windows/remove-item.md
Owners: @kant, @tricantivu, @ikks

set-location: add Spanish translation (#15205)
  pages.es/windows/set-location.md
Owners: @kant, @tricantivu, @ikks

set-location: add Spanish translation (#15205)
  pages.es/windows/set-location.md
Owners: @kant, @tricantivu, @ikks

pacman-f: add Spanish translation (#15206)
  pages.es/linux/pacman-f.md
Owners: @kant, @tricantivu, @ikks

pacman-f: add Spanish translation (#15206)
  pages.es/linux/pacman-f.md
Owners: @kant, @tricantivu, @ikks

md5sum: update documentation link (#15210)
  pages.it/common/md5sum.md
  pages.ko/common/md5sum.md
  pages.nl/common/md5sum.md
  pages.ta/common/md5sum.md
  pages.zh/common/md5sum.md
  pages/common/md5sum.md
Owners: @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @kbdharun, @blueskyson, @einverne

md5sum: update documentation link (#15210)
  pages.it/common/md5sum.md
  pages.ko/common/md5sum.md
  pages.nl/common/md5sum.md
  pages.ta/common/md5sum.md
  pages.zh/common/md5sum.md
  pages/common/md5sum.md
Owners: @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @kbdharun, @blueskyson, @einverne

export: add Spanish translation (#15213)
  pages.es/linux/export.md
Owners: @kant, @tricantivu, @ikks

export: add Spanish translation (#15213)
  pages.es/linux/export.md
Owners: @kant, @tricantivu, @ikks

expr: add Spanish translation (#15212)
  pages.es/common/expr.md
Owners: @kant, @tricantivu, @ikks

expr: add Spanish translation (#15212)
  pages.es/common/expr.md
Owners: @kant, @tricantivu, @ikks

$: add $PS0 to examples (#15208)
  pages/common/$.md
Owners: none

$: add $PS0 to examples (#15208)
  pages/common/$.md
Owners: none

Update for.md
  pages/common/for.md
Owners: none

Update for.md
  pages/common/for.md
Owners: none

Update for.md
  pages/common/for.md
Owners: none

Update pages/common/lazydocker.md
  pages/common/lazydocker.md
Owners: none

continue: add page
  pages/common/continue.md
Owners: none

Create return.md
  pages/common/return.md
Owners: none

Create times.md
  pages/common/times.md
Owners: none

Create caller.md
  pages/common/caller.md
Owners: none

suspend: add page
  pages/common/suspend.md
Owners: none

Update pages/common/lazydocker.md
  pages/common/lazydocker.md
Owners: none

Update pages/common/caller.md
  pages/common/caller.md
Owners: none

Update pages/common/return.md
  pages/common/return.md
Owners: none

Update pages/common/getopts.md
  pages/common/getopts.md
Owners: none

Update getopts.md
  pages/common/getopts.md
Owners: none

Update {.md
  pages/common/{.md
Owners: none

"" gets interpreted and is thus not useful
  pages/common/{.md
Owners: none

Update pages/common/return.md
  pages/common/return.md
Owners: none
