Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

debuild: add Spanish translation
  pages.es/linux/debuild.md
Owners: @kant, @tricantivu, @ikks

Adjust order so that POSIX compliant commands are first
  pages/common/{.md
Owners: none

Create exch.md
  pages/linux/exch.md
Owners: @cyqsimon

Create lsfd.md
  pages/linux/lsfd.md
Owners: @cyqsimon

Create pg.md
  pages/linux/pg.md
Owners: @cyqsimon

Update pages.es/linux/debsecan.md
  pages.es/linux/debsecan.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/deb-get.md
  pages.es/linux/deb-get.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/debchange.md
  pages.es/linux/debchange.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/debchange.md
  pages.es/linux/debchange.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/unix2mac.md
  pages.es/linux/unix2mac.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/unix2mac.md
  pages.es/linux/unix2mac.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/unix2dos.md
  pages.es/linux/unix2dos.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/unix2dos.md
  pages.es/linux/unix2dos.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/mac2unix.md
  pages.es/linux/mac2unix.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/ttyplot.md
  pages.es/linux/ttyplot.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/ldd.md
  pages.es/linux/ldd.md
Owners: @kant, @tricantivu, @ikks

lazydocker: add page (#15194)
  pages/common/lazydocker.md
Owners: none

lazydocker: add page (#15194)
  pages/common/lazydocker.md
Owners: none

Update pages/linux/pg.md
  pages/linux/pg.md
Owners: @cyqsimon

Update pages/common/adb-uninstall.md
  pages/common/adb-uninstall.md
Owners: none

Update pages/common/adb-forward.md
  pages/common/adb-forward.md
Owners: none

Update adb-forward.md
  pages/common/adb-forward.md
Owners: none

Update pages/linux/lsfd.md
  pages/linux/lsfd.md
Owners: @cyqsimon

Update pages.es/common/ruff-format.md
  pages.es/common/ruff-format.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/killall.md
  pages.es/linux/killall.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/killall.md
  pages.es/linux/killall.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/dpkg.md
  pages.es/linux/dpkg.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/dpkg.md
  pages.es/linux/dpkg.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/dpkg.md
  pages.es/linux/dpkg.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/ruff-check.md
  pages.es/common/ruff-check.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/btop.md
  pages.es/common/btop.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/windows/invoke-webrequest.md
  pages.es/windows/invoke-webrequest.md
Owners: @kant, @tricantivu, @ikks

Update dpkg.md
  pages.es/linux/dpkg.md
Owners: @kant, @tricantivu, @ikks

pg: add page (#15285)
  pages/linux/pg.md
Owners: @cyqsimon

pg: add page (#15285)
  pages/linux/pg.md
Owners: @cyqsimon

exch: add page (#15283)
  pages/linux/exch.md
Owners: @cyqsimon

exch: add page (#15283)
  pages/linux/exch.md
Owners: @cyqsimon

debuild: add Spanish translation (#15282)
  pages.es/linux/debuild.md
Owners: @kant, @tricantivu, @ikks

debuild: add Spanish translation (#15282)
  pages.es/linux/debuild.md
Owners: @kant, @tricantivu, @ikks

debtap: add Spanish translation (#15281)
  pages.es/linux/debtap.md
Owners: @kant, @tricantivu, @ikks

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
