Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

qm-migrate: add Spanish translation (#15127)
  pages.es/linux/qm-migrate.md
Owners: @kant, @tricantivu, @ikks

qm-nbdstop: add Spanish translation (#15130)
  pages.es/linux/qm-nbdstop.md
Owners: @kant, @tricantivu, @ikks

qm-nbdstop: add Spanish translation (#15130)
  pages.es/linux/qm-nbdstop.md
Owners: @kant, @tricantivu, @ikks

qm-reboot: add Spanish translation (#15132)
  pages.es/linux/qm-reboot.md
Owners: @kant, @tricantivu, @ikks

qm-reboot: add Spanish translation (#15132)
  pages.es/linux/qm-reboot.md
Owners: @kant, @tricantivu, @ikks

qm-reset: add Spanish translation (#15134)
  pages.es/linux/qm-reset.md
Owners: @kant, @tricantivu, @ikks

qm-reset: add Spanish translation (#15134)
  pages.es/linux/qm-reset.md
Owners: @kant, @tricantivu, @ikks

qm-resume: add Spanish translation (#15135)
  pages.es/linux/qm-resume.md
Owners: @kant, @tricantivu, @ikks

qm-resume: add Spanish translation (#15135)
  pages.es/linux/qm-resume.md
Owners: @kant, @tricantivu, @ikks

qm-pending: add Spanish translation (#15131)
  pages.es/linux/qm-pending.md
Owners: @kant, @tricantivu, @ikks

qm-pending: add Spanish translation (#15131)
  pages.es/linux/qm-pending.md
Owners: @kant, @tricantivu, @ikks

qm-rescan: add Spanish translation (#15133)
  pages.es/linux/qm-rescan.md
Owners: @kant, @tricantivu, @ikks

qm-rescan: add Spanish translation (#15133)
  pages.es/linux/qm-rescan.md
Owners: @kant, @tricantivu, @ikks

qmrestore: add Spanish translation (#15137)
  pages.es/linux/qmrestore.md
Owners: @kant, @tricantivu, @ikks

qmrestore: add Spanish translation (#15137)
  pages.es/linux/qmrestore.md
Owners: @kant, @tricantivu, @ikks

qmmp: add Spanish translation (#15140)
  pages.es/common/qmmp.md
Owners: @kant, @tricantivu, @ikks

qmmp: add Spanish translation (#15140)
  pages.es/common/qmmp.md
Owners: @kant, @tricantivu, @ikks

qm-rollback: add Spanish translation (#15136)
  pages.es/linux/qm-rollback.md
Owners: @kant, @tricantivu, @ikks

qm-rollback: add Spanish translation (#15136)
  pages.es/linux/qm-rollback.md
Owners: @kant, @tricantivu, @ikks

qmv: add Spanish translation (#15138)
  pages.es/common/qmv.md
Owners: @kant, @tricantivu, @ikks

qmv: add Spanish translation (#15138)
  pages.es/common/qmv.md
Owners: @kant, @tricantivu, @ikks

chgrp: update documentation link (#15139)
  pages.fr/common/chgrp.md
  pages.it/common/chgrp.md
  pages.ko/common/chgrp.md
  pages.nl/common/chgrp.md
  pages/common/chgrp.md
Owners: @Nico385412, @nicokosi, @noraj, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples

chgrp: update documentation link (#15139)
  pages.fr/common/chgrp.md
  pages.it/common/chgrp.md
  pages.ko/common/chgrp.md
  pages.nl/common/chgrp.md
  pages/common/chgrp.md
Owners: @Nico385412, @nicokosi, @noraj, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples

chroot: update documentation link (#15141)
  pages.de/common/chroot.md
  pages.fr/common/chroot.md
  pages.it/common/chroot.md
  pages.ko/common/chroot.md
  pages.nl/common/chroot.md
  pages.tr/common/chroot.md
  pages/common/chroot.md
Owners: @pixelcmtd, @gutjuri, @Nico385412, @nicokosi, @noraj, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples

chroot: update documentation link (#15141)
  pages.de/common/chroot.md
  pages.fr/common/chroot.md
  pages.it/common/chroot.md
  pages.ko/common/chroot.md
  pages.nl/common/chroot.md
  pages.tr/common/chroot.md
  pages/common/chroot.md
Owners: @pixelcmtd, @gutjuri, @Nico385412, @nicokosi, @noraj, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples

cksum: update documentation link
  pages.hi/common/cksum.md
  pages.it/common/cksum.md
  pages.ko/common/cksum.md
  pages.nl/common/cksum.md
  pages.ta/common/cksum.md
  pages/common/cksum.md
Owners: @kbdharun, @debghs, @karthik-script, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples

comm: update documentation link
  pages.it/common/comm.md
  pages.ko/common/comm.md
  pages.nl/common/comm.md
  pages/common/comm.md
Owners: @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples

cp: update documentation link
  pages.ca/common/cp.md
  pages.ca/linux/cp.md
  pages.de/common/cp.md
  pages.de/linux/cp.md
  pages.es/common/cp.md
  pages.es/linux/cp.md
  pages.fa/common/cp.md
  pages.fr/common/cp.md
  pages.fr/linux/cp.md
  pages.hi/common/cp.md
  pages.id/common/cp.md
  pages.it/common/cp.md
  pages.it/linux/cp.md
  pages.ja/common/cp.md
  pages.ko/common/cp.md
  pages.ko/linux/cp.md
  pages.ne/common/cp.md
  pages.nl/common/cp.md
  pages.nl/linux/cp.md
  pages.pl/common/cp.md
  pages.pt_BR/common/cp.md
  pages.pt_BR/linux/cp.md
  pages.ta/common/cp.md
  pages.tr/common/cp.md
  pages.tr/linux/cp.md
  pages.uk/linux/cp.md
  pages.zh/common/cp.md
  pages.zh/linux/cp.md
  pages.zh_TW/common/cp.md
  pages.zh_TW/linux/cp.md
  pages/common/cp.md
  pages/linux/cp.md
Owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @blueskyson, @einverne, @cyqsimon

vitest: add page
  pages/common/vitest.md
Owners: none

vitest: fix message to follow style guide
  pages/common/vitest.md
Owners: none

qm-sendkey: add Spanish translation
  pages.es/linux/qm-sendkey.md
Owners: @kant, @tricantivu, @ikks

qm-showcmd: add Spanish translation
  pages.es/linux/qm-showcmd.md
Owners: @kant, @tricantivu, @ikks

bclm: add page
  pages/osx/bclm.md
Owners: none

qm-shutdown: add Spanish translation
  pages.es/linux/qm-shutdown.md
Owners: @kant, @tricantivu, @ikks

qm-snapshot: add Spanish translation
  pages.es/linux/qm-snapshot.md
Owners: @kant, @tricantivu, @ikks

qm-start: add Spanish translation
  pages.es/linux/qm-start.md
Owners: @kant, @tricantivu, @ikks

qm-status: add Spanish translation
  pages.es/linux/qm-status.md
Owners: @kant, @tricantivu, @ikks

qm-stop: add Spanish translation
  pages.es/linux/qm-stop.md
Owners: @kant, @tricantivu, @ikks

qm-suspend: add Spanish translation
  pages.es/linux/qm-suspend.md
Owners: @kant, @tricantivu, @ikks

qm-template: add Spanish translation
  pages.es/linux/qm-template.md
Owners: @kant, @tricantivu, @ikks
