Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @navarroaxel, @kant, @kbdharun, @reinhart1010, @mebeim, @yutyo, @Magrid0, @IMHOJEONG, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @waldyrious, @isaacvicente, @blueskyson, @einverne, @sbrl

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @navarroaxel @kant
/pages.hi/ @kbdharun
/pages.id/ @reinhart1010
/pages.it/ @mebeim @yutyo @Magrid0
/pages.ko/ @IMHOJEONG
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious @isaacvicente
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @sbrl

/*.md @sbrl @kbdharun
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @navarroaxel @kant
/contributing-guides/*.hi.md @kbdharun
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @yutyo @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious @isaacvicente
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

pipewire: add angle brackets to information link
  pages/linux/pipewire.md
Owners: @sbrl

pamoil: add Dutch translation
  pages.nl/common/pamoil.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

Update gradle: new commands
  pages.es/common/gradle.md
Owners: @navarroaxel, @kant

Update gradle.md
  pages.es/common/gradle.md
Owners: @navarroaxel, @kant

Update terminal-notifier
  pages.es/osx/terminal-notifier.md
Owners: @navarroaxel, @kant

Update terminal-notifier.md
  pages.es/osx/terminal-notifier.md
Owners: @navarroaxel, @kant

Update chmod: mino additions
  pages.es/common/chmod.md
Owners: @navarroaxel, @kant

pw-profiler: fix filename
  pages/linux/pw-profiler.md
Owners: @sbrl

pw-profiler: use space instead of equal
  pages/linux/pw-profiler.md
Owners: @sbrl

pw-dump: add page
  pages/linux/pw-dump.md
Owners: @sbrl

pw-dump: remove trailing space
  pages/linux/pw-dump.md
Owners: @sbrl

salloc, sattach, sbcast, sdiag, sprio, sshare, strigger, sview, sh5util, scrun, scrontab: add pages (#11651)
  pages/linux/salloc.md
  pages/linux/sattach.md
  pages/linux/sbcast.md
  pages/linux/scrontab.md
  pages/linux/sdiag.md
  pages/linux/sh5util.md
  pages/linux/sprio.md
  pages/linux/sshare.md
  pages/linux/strigger.md
  pages/linux/sview.md
Owners: @sbrl

salloc, sattach, sbcast, sdiag, sprio, sshare, strigger, sview, sh5util, scrun, scrontab: add pages (#11651)
  pages/linux/salloc.md
  pages/linux/sattach.md
  pages/linux/sbcast.md
  pages/linux/scrontab.md
  pages/linux/sdiag.md
  pages/linux/sh5util.md
  pages/linux/sprio.md
  pages/linux/sshare.md
  pages/linux/strigger.md
  pages/linux/sview.md
Owners: @sbrl

pw-pipewire, pw-dump: add pt_BR translations
  pages.pt_BR/linux/pipewire.md
  pages.pt_BR/linux/pw-dump.md
Owners: @waldyrious, @isaacvicente

pw-dump: refine wording of first command's description
  pages/linux/pw-dump.md
Owners: @sbrl

pw-cat: change example volume level to 125%
  pages/linux/pw-cat.md
Owners: @sbrl

nixpkgs-review: add page
  pages/common/nixpkgs-review.md
Owners: none

Add vboxmanage-movevm.md
  pages/common/vboxmanage-movevm.md
Owners: none

pamoil: add Dutch translation (#11789)
  pages.nl/common/pamoil.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pamoil: add Dutch translation (#11789)
  pages.nl/common/pamoil.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

gradle: update Spanish translation (#11790)
  pages.es/common/gradle.md
Owners: @navarroaxel, @kant

gradle: update Spanish translation (#11790)
  pages.es/common/gradle.md
Owners: @navarroaxel, @kant

pamscale, pnmscale, pnmscalefixed: add pages (#11779)
  pages/common/pamscale.md
  pages/common/pnmscale.md
  pages/common/pnmscalefixed.md
Owners: none

pamscale, pnmscale, pnmscalefixed: add pages (#11779)
  pages/common/pamscale.md
  pages/common/pnmscale.md
  pages/common/pnmscalefixed.md
Owners: none

build-pdf: only build changed folders since last commit (#11773)
  scripts/pdf/build-pdf.sh
Owners: none

build-pdf: only build changed folders since last commit (#11773)
  scripts/pdf/build-pdf.sh
Owners: none

Revert "build-pdf: only build changed folders since last commit (#11773)"
  scripts/pdf/build-pdf.sh
Owners: none

Revert "build-pdf: only build changed folders since last commit" (#11795)
  scripts/pdf/build-pdf.sh
Owners: none

Revert "build-pdf: only build changed folders since last commit" (#11795)
  scripts/pdf/build-pdf.sh
Owners: none

nixpkgs-review: minor improvements
  pages/common/nixpkgs-review.md
Owners: none

pages*: remove bold and italic styling (#11777)
  pages.ca/linux/conky.md
  pages.de/windows/cmd.md
  pages.es/common/git-pull.md
  pages.es/linux/conky.md
  pages.fr/common/git-reset.md
  pages.id/common/mongod.md
  pages.id/common/mv.md
  pages.it/common/csvcut.md
  pages.it/common/tac.md
  pages.ko/common/csvcut.md
  pages.pt_BR/common/clj.md
  pages/common/csvcut.md
  pages/common/strings.md
  pages/common/supervisorctl.md
Owners: @pixelcmtd, @gutjuri, @navarroaxel, @kant, @reinhart1010, @mebeim, @yutyo, @Magrid0, @IMHOJEONG, @waldyrious, @isaacvicente

pages*: remove bold and italic styling (#11777)
  pages.ca/linux/conky.md
  pages.de/windows/cmd.md
  pages.es/common/git-pull.md
  pages.es/linux/conky.md
  pages.fr/common/git-reset.md
  pages.id/common/mongod.md
  pages.id/common/mv.md
  pages.it/common/csvcut.md
  pages.it/common/tac.md
  pages.ko/common/csvcut.md
  pages.pt_BR/common/clj.md
  pages/common/csvcut.md
  pages/common/strings.md
  pages/common/supervisorctl.md
Owners: @pixelcmtd, @gutjuri, @navarroaxel, @kant, @reinhart1010, @mebeim, @yutyo, @Magrid0, @IMHOJEONG, @waldyrious, @isaacvicente

vboxmanage-movevm: add page
  pages/common/vboxmanage-movevm.md
Owners: none

pipewire: add missing curly bracket
  pages/linux/pipewire.md
Owners: @sbrl

vboxmanage-movevm: add page
  pages/common/vboxmanage-movevm.md
Owners: none

vboxmanage-movevm: add page
  pages/common/vboxmanage-movevm.md
Owners: none

pipewire: replace starts with start
  pages/linux/pipewire.md
Owners: @sbrl

pw-dump: refine wording
  pages/linux/pw-dump.md
Owners: @sbrl

vboxmanage-movevm: add page
  pages/common/vboxmanage-movevm.md
Owners: none

pw-profiler: add missing backticks
  pages/linux/pw-profiler.md
Owners: @sbrl
