Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

pkgfile: add Spanish translation
  pages.es/linux/pkgfile.md
Owners: @kant, @tricantivu, @ikks

Update pages/common/speedtest.md
  pages/common/speedtest.md
Owners: none

Update pages/common/speedtest.md
  pages/common/speedtest.md
Owners: none

elinks: add Spanish translation (#15218)
  pages.es/common/elinks.md
Owners: @kant, @tricantivu, @ikks

elinks: add Spanish translation (#15218)
  pages.es/common/elinks.md
Owners: @kant, @tricantivu, @ikks

echo: add Spanish translation (#15217)
  pages.es/common/echo.md
Owners: @kant, @tricantivu, @ikks

echo: add Spanish translation (#15217)
  pages.es/common/echo.md
Owners: @kant, @tricantivu, @ikks

until: add page (#15233)
  pages/common/until.md
Owners: none

until: add page (#15233)
  pages/common/until.md
Owners: none

typeset: convert to alias (#15231)
  pages/common/typeset.md
Owners: none

typeset: convert to alias (#15231)
  pages/common/typeset.md
Owners: none

speedtest: update page (#15288)
  pages/common/speedtest.md
Owners: none

speedtest: update page (#15288)
  pages/common/speedtest.md
Owners: none

speedtest-rs: add page (#15193)
  pages/common/speedtest-rs.md
Owners: none

speedtest-rs: add page (#15193)
  pages/common/speedtest-rs.md
Owners: none

Update pages.it/common/az.md
  pages.it/common/az.md
Owners: @mebeim, @tansiret, @Magrid0

Update pages.it/common/az.md
  pages.it/common/az.md
Owners: @mebeim, @tansiret, @Magrid0

Update pages.it/common/az.md
  pages.it/common/az.md
Owners: @mebeim, @tansiret, @Magrid0

Update pages.it/common/ansible-galaxy.md
  pages.it/common/ansible-galaxy.md
Owners: @mebeim, @tansiret, @Magrid0

Update pages.it/common/ansible-galaxy.md
  pages.it/common/ansible-galaxy.md
Owners: @mebeim, @tansiret, @Magrid0

ansible-galaxy, az: update Italian translations (#14513)
  pages.it/common/ansible-galaxy.md
  pages.it/common/az.md
Owners: @mebeim, @tansiret, @Magrid0

ansible-galaxy, az: update Italian translations (#14513)
  pages.it/common/ansible-galaxy.md
  pages.it/common/az.md
Owners: @mebeim, @tansiret, @Magrid0

Update pages.es/linux/pacman-files.md
  pages.es/linux/pacman-files.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/linux/pacman-files.md
  pages.es/linux/pacman-files.md
Owners: @kant, @tricantivu, @ikks

Update lsfd.md
  pages/linux/lsfd.md
Owners: @cyqsimon

Update virsh.md
  pages/common/virsh.md
Owners: none

typeset: add Spanish translation
  pages.es/common/typeset.md
Owners: @kant, @tricantivu, @ikks

declare: add Spanish translation
  pages.es/common/declare.md
Owners: @kant, @tricantivu, @ikks

pacman-q: add Spanish translation
  pages.es/linux/pacman-q.md
Owners: @kant, @tricantivu, @ikks

addr2line: add Spanish translation
  pages.es/linux/addr2line.md
Owners: @kant, @tricantivu, @ikks

zbarimg: add Spanish translation
  pages.es/common/zbarimg.md
Owners: @kant, @tricantivu, @ikks

zbarcam: add Spanish translation
  pages.es/linux/zbarcam.md
Owners: @kant, @tricantivu, @ikks

zig: add Spanish translation
  pages.es/common/zig.md
Owners: @kant, @tricantivu, @ikks

llc: add Spanish translation
  pages.es/common/llc.md
Owners: @kant, @tricantivu, @ikks

lldb: add Spanish translation
  pages.es/common/lldb.md
Owners: @kant, @tricantivu, @ikks

lli: add Spanish translation
  pages.es/common/lli.md
Owners: @kant, @tricantivu, @ikks

llm: add Spanish translation
  pages.es/common/llm.md
Owners: @kant, @tricantivu, @ikks

llvd: add Spanish translation
  pages.es/common/llvd.md
Owners: @kant, @tricantivu, @ikks

llvm-as: add Spanish translation
  pages.es/common/llvm-as.md
Owners: @kant, @tricantivu, @ikks

llvm-bcanalyzer: add Spanish translation
  pages.es/common/llvm-bcanalyzer.md
Owners: @kant, @tricantivu, @ikks
