Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

gum: add Spanish translation
  pages.es/common/gum.md
Owners: @kant, @tricantivu, @ikks

whiptail: add Spanish translation
  pages.es/linux/whiptail.md
Owners: @kant, @tricantivu, @ikks

git-branch: update page (#15113)
  pages/common/git-branch.md
Owners: none

git-branch: update page (#15113)
  pages/common/git-branch.md
Owners: none

Update ipconfig.md
  pages.zh/windows/ipconfig.md
Owners: @blueskyson, @einverne

zenity: add Spanish translation
  pages.es/linux/zenity.md
Owners: @kant, @tricantivu, @ikks

qm-guest-cmd: add Spanish translation
  pages.es/linux/qm-guest-cmd.md
Owners: @kant, @tricantivu, @ikks

qm-guest-exec: add Spanish translation
  pages.es/linux/qm-guest-exec.md
Owners: @kant, @tricantivu, @ikks

qm-guest-exec-status: add Spanish translation
  pages.es/linux/qm-guest-exec-status.md
Owners: @kant, @tricantivu, @ikks

qm-guest-passwd: add Spanish translation
  pages.es/linux/qm-guest-passwd.md
Owners: @kant, @tricantivu, @ikks

qm-help: add Spanish translation
  pages.es/linux/qm-help.md
Owners: @kant, @tricantivu, @ikks

Update !.md
  pages.zh/common/!.md
Owners: @blueskyson, @einverne

Update pages.es/linux/zenity.md
  pages.es/linux/zenity.md
Owners: @kant, @tricantivu, @ikks

Create tag.md
  pages/osx/tag.md
Owners: none

Update pages/osx/tag.md
  pages/osx/tag.md
Owners: none

Update pages/osx/tag.md
  pages/osx/tag.md
Owners: none

Update pages/osx/tag.md
  pages/osx/tag.md
Owners: none

pulumi-config: add Spanish translation (#15042)
  pages.es/common/pulumi-config.md
Owners: @kant, @tricantivu, @ikks

pulumi-config: add Spanish translation (#15042)
  pages.es/common/pulumi-config.md
Owners: @kant, @tricantivu, @ikks

uname: add Spanish translation (#15062)
  pages.es/linux/uname.md
Owners: @kant, @tricantivu, @ikks

uname: add Spanish translation (#15062)
  pages.es/linux/uname.md
Owners: @kant, @tricantivu, @ikks

dnf-group: add Spanish translation (#15085)
  pages.es/linux/dnf-group.md
Owners: @kant, @tricantivu, @ikks

dnf-group: add Spanish translation (#15085)
  pages.es/linux/dnf-group.md
Owners: @kant, @tricantivu, @ikks

complete: add Spanish translation (#15086)
  pages.es/common/complete.md
Owners: @kant, @tricantivu, @ikks

complete: add Spanish translation (#15086)
  pages.es/common/complete.md
Owners: @kant, @tricantivu, @ikks

compgen: add Spanish translation (#15087)
  pages.es/common/compgen.md
Owners: @kant, @tricantivu, @ikks

compgen: add Spanish translation (#15087)
  pages.es/common/compgen.md
Owners: @kant, @tricantivu, @ikks

qm: add Spanish translation (#15088)
  pages.es/linux/qm.md
Owners: @kant, @tricantivu, @ikks

qm: add Spanish translation (#15088)
  pages.es/linux/qm.md
Owners: @kant, @tricantivu, @ikks

qm-cleanup: add Spanish translation (#15089)
  pages.es/linux/qm-cleanup.md
Owners: @kant, @tricantivu, @ikks

qm-cleanup: add Spanish translation (#15089)
  pages.es/linux/qm-cleanup.md
Owners: @kant, @tricantivu, @ikks

ip: add Spanish translation (#15090)
  pages.es/linux/ip.md
Owners: @kant, @tricantivu, @ikks

ip: add Spanish translation (#15090)
  pages.es/linux/ip.md
Owners: @kant, @tricantivu, @ikks

ip-address: add Spanish translation (#15091)
  pages.es/linux/ip-address.md
Owners: @kant, @tricantivu, @ikks

ip-address: add Spanish translation (#15091)
  pages.es/linux/ip-address.md
Owners: @kant, @tricantivu, @ikks

ip-link: add Spanish translation (#15092)
  pages.es/linux/ip-link.md
Owners: @kant, @tricantivu, @ikks

ip-link: add Spanish translation (#15092)
  pages.es/linux/ip-link.md
Owners: @kant, @tricantivu, @ikks

ip-neighbour: add Spanish translation (#15093)
  pages.es/linux/ip-neighbour.md
Owners: @kant, @tricantivu, @ikks

ip-neighbour: add Spanish translation (#15093)
  pages.es/linux/ip-neighbour.md
Owners: @kant, @tricantivu, @ikks

tex-fmt: add Spanish translation (#15105)
  pages.es/common/tex-fmt.md
Owners: @kant, @tricantivu, @ikks

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
