Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

xsel: add Spanish translation (#15011)
  pages.es/linux/xsel.md
Owners: @kant, @tricantivu, @ikks

xsel: add Spanish translation (#15011)
  pages.es/linux/xsel.md
Owners: @kant, @tricantivu, @ikks

Update pages.es/common/^.md
  pages.es/common/^.md
Owners: @kant, @tricantivu, @ikks

caret: add Spanish translation (#14968)
  pages.es/common/^.md
Owners: @kant, @tricantivu, @ikks

caret: add Spanish translation (#14968)
  pages.es/common/^.md
Owners: @kant, @tricantivu, @ikks

docker-context: add page (#15070)
  pages/common/docker-context.md
Owners: none

docker-context: add page (#15070)
  pages/common/docker-context.md
Owners: none

pamflip: add Spanish translation (#14933)
  pages.es/common/pamflip.md
Owners: @kant, @tricantivu, @ikks

pamflip: add Spanish translation (#14933)
  pages.es/common/pamflip.md
Owners: @kant, @tricantivu, @ikks

Fixed alias
  pages.es/common/npm-list.md
Owners: @kant, @tricantivu, @ikks

dnf-group: add Spanish translation
  pages.es/linux/dnf-group.md
Owners: @kant, @tricantivu, @ikks

complete: add Spanish translation
  pages.es/common/complete.md
Owners: @kant, @tricantivu, @ikks

compgen: add Spanish translation
  pages.es/common/compgen.md
Owners: @kant, @tricantivu, @ikks

qm: add Spanish translation
  pages.es/linux/qm.md
Owners: @kant, @tricantivu, @ikks

b2sum,md5sum,sha*sum: update Dutch translation (#15073)
  pages.nl/common/b2sum.md
  pages.nl/common/md5sum.md
  pages.nl/common/sha1sum.md
  pages.nl/common/sha224sum.md
  pages.nl/common/sha384sum.md
  pages.nl/common/sha512sum.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

b2sum,md5sum,sha*sum: update Dutch translation (#15073)
  pages.nl/common/b2sum.md
  pages.nl/common/md5sum.md
  pages.nl/common/sha1sum.md
  pages.nl/common/sha224sum.md
  pages.nl/common/sha384sum.md
  pages.nl/common/sha512sum.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

jobs: update Dutch more info link; pwd: update Dutch translation (#15071)
  pages.nl/linux/jobs.md
  pages/common/pwd.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

jobs: update Dutch more info link; pwd: update Dutch translation (#15071)
  pages.nl/linux/jobs.md
  pages/common/pwd.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

dnf5-group,pacman-f: add Dutch alias pages (#15072)
  pages.nl/linux/dnf5-group.md
  pages.nl/linux/pacman-f.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

dnf5-group,pacman-f: add Dutch alias pages (#15072)
  pages.nl/linux/dnf5-group.md
  pages.nl/linux/pacman-f.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

qm-cleanup: add Spanish translation
  pages.es/linux/qm-cleanup.md
Owners: @kant, @tricantivu, @ikks

ip: add Spanish translation
  pages.es/linux/ip.md
Owners: @kant, @tricantivu, @ikks

ip-address: add Spanish translation
  pages.es/linux/ip-address.md
Owners: @kant, @tricantivu, @ikks

ip-link: add Spanish translation
  pages.es/linux/ip-link.md
Owners: @kant, @tricantivu, @ikks

ip-neighbour: add Spanish translation
  pages.es/linux/ip-neighbour.md
Owners: @kant, @tricantivu, @ikks

ip-route: add Spanish translation
  pages.es/linux/ip-route.md
Owners: @kant, @tricantivu, @ikks

ip-route-get: add Spanish translation
  pages.es/linux/ip-route-get.md
Owners: @kant, @tricantivu, @ikks

ip-rule: add Spanish translation
  pages.es/linux/ip-rule.md
Owners: @kant, @tricantivu, @ikks

qm-clone: add Spanish translation
  pages.es/linux/qm-clone.md
Owners: @kant, @tricantivu, @ikks

qm-cloud-init: add Spanish translation
  pages.es/linux/qm-cloud-init.md
Owners: @kant, @tricantivu, @ikks

qm-cloudinit-dump: add Spanish translation
  pages.es/linux/qm-cloudinit-dump.md
Owners: @kant, @tricantivu, @ikks

qm-config: add Spanish translation
  pages.es/linux/qm-config.md
Owners: @kant, @tricantivu, @ikks

qm-create: add Spanish translation
  pages.es/linux/qm-create.md
Owners: @kant, @tricantivu, @ikks

b2sum: update documentation link
  pages.fr/common/b2sum.md
  pages.it/common/b2sum.md
  pages.ko/common/b2sum.md
  pages.nl/common/b2sum.md
  pages.ta/common/b2sum.md
  pages/common/b2sum.md
Owners: @Nico385412, @nicokosi, @noraj, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @kbdharun

basename: update documentation link
  pages.de/common/basename.md
  pages.es/common/basename.md
  pages.fr/common/basename.md
  pages.it/common/basename.md
  pages.ko/common/basename.md
  pages.nl/common/basename.md
  pages.pl/common/basename.md
  pages.pt_BR/common/basename.md
  pages.zh/common/basename.md
  pages/common/basename.md
Owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @Nico385412, @nicokosi, @noraj, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @blueskyson, @einverne

basenc: update documentation link
  pages.ko/common/basenc.md
  pages.nl/common/basenc.md
  pages/common/basenc.md
Owners: @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples

tex-fmt: add page
  pages/common/tex-fmt.md
Owners: none

Resolve review comments
  pages/common/tex-fmt.md
Owners: none

Fix typo
  pages/common/tex-fmt.md
Owners: none

tex-fmt: add page (#15043)
  pages/common/tex-fmt.md
Owners: none
