Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @marchersimon, @navarroaxel, @mebeim, @yutyo, @acuteenvy, @waldyrious, @kbdharun, @blueskyson, @einverne

ip, smbclient, choco-install, robocopy: add Italian translation (#9985)
  pages.it/linux/ip.md
  pages.it/linux/smbclient.md
  pages.it/windows/choco-install.md
  pages.it/windows/mount.md
  pages.it/windows/robocopy.md
Owners: @mebeim, @yutyo

*: update placeholder in Chinese translation (#10267)
  pages.zh/common/autoflake.md
  pages.zh/osx/qlmanage.md
Owners: @blueskyson, @einverne

*: update placeholder in Chinese translation (#10267)
  pages.zh/common/autoflake.md
  pages.zh/osx/qlmanage.md
Owners: @blueskyson, @einverne

yacc: add page
  pages/common/yacc.md
Owners: none

dot_clean: add Spanish translation
  pages.es/osx/dot_clean.md
Owners: @navarroaxel

Update ffplay.md
  pages/common/ffplay.md
Owners: none

head: update page
  pages/common/head.md
Owners: none

fold: update page
  pages/common/fold.md
Owners: none

fold: update page
  pages/linux/fold.md
Owners: none

zbarcam: add page
  pages/linux/zbarcam
Owners: none

Rename zbarcam to zbarcam.md
  pages/linux/zbarcam.md
Owners: none

Update zbarcam.md
  pages/linux/zbarcam.md
Owners: none

Create mlabel.md
  pages/linux/mlabel.md
Owners: none

Update mlabel.md
  pages/linux/mlabel.md
Owners: none

Update mlabel.md
  pages/linux/mlabel.md
Owners: none

Create exfatlabel.md
  pages/common/exfatlabel.md
Owners: none

swaplabel: add page
  pages/linux/swaplabel.md
Owners: none

v4l2-ctl: update page
  pages/linux/v4l2-ctl.md
Owners: none

macchina: add page
  pages/common/macchina.md
Owners: none

read: update page (#10448)
  pages/common/read.md
  pages/linux/read.md
Owners: none

read: update page (#10448)
  pages/common/read.md
  pages/linux/read.md
Owners: none

Create list of kill signals for osx
  pages/osx/signal
Owners: none

Rename signal to signal.md
  pages/osx/signal.md
Owners: none

Add @blueskyson to org owner
  MAINTAINERS.md
Owners: none

cavif: add page
  pages/common/cavif.md
Owners: none

fixup! cavif: add page
  pages/common/cavif.md
Owners: none

add page qm-suspend
  pages/linux/qm-suspend.md
Owners: none

update page qm-suspend
  pages/linux/qm-suspend.md
Owners: none

starting a page for the JFrog CLI
  pages/common/jf.md
Owners: none

jf: add page for JFrog CLI
  pages/common/jf.md
Owners: none

jf: fix linting errors
  pages/common/jf.md
Owners: none

jf: remove trailing whitespace
  pages/common/jf.md
Owners: none

bc: add Spanish translation
  pages.es/osx/bc.md
Owners: @navarroaxel

Update MAINTAINERS.md
  MAINTAINERS.md
Owners: none

xml2man: add Spanish translation (#10270)
  pages.es/osx/xml2man.md
Owners: @navarroaxel

xml2man: add Spanish translation (#10270)
  pages.es/osx/xml2man.md
Owners: @navarroaxel

getmac: add Spanish translation (#10382)
  pages.es/windows/getmac.md
Owners: @navarroaxel

getmac: add Spanish translation (#10382)
  pages.es/windows/getmac.md
Owners: @navarroaxel

pensnoop: add Spanish translation (#10384)
  pages.es/osx/opensnoop.md
Owners: @navarroaxel

pensnoop: add Spanish translation (#10384)
  pages.es/osx/opensnoop.md
Owners: @navarroaxel

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @marchersimon
/pages.es/ @navarroaxel
/pages.it/ @mebeim @yutyo
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/contributing-guides/*.de.md @pixelcmtd @marchersimon
/contributing-guides/*.es.md @navarroaxel
/contributing-guides/*.it.md @mebeim @yutyo
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
