Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @marchersimon, @navarroaxel, @mebeim, @yutyo, @acuteenvy, @waldyrious, @kbdharun, @blueskyson, @einverne

fix: delete trailing whitespace
  pages/common/typst.md
Owners: none

fix: add new line at end of file
  pages/common/typst.md
Owners: none

Updates as per suggestion
  pages/linux/qm-disk-resize.md
  pages/linux/qm-resize.md
Owners: none

systemd-firstboot: add page (#10493)
  pages/linux/systemd-firstboot.md
Owners: none

systemd-firstboot: add page (#10493)
  pages/linux/systemd-firstboot.md
Owners: none

Update pages/common/yacc.md
  pages/common/yacc.md
Owners: none

yacc: add page (#10439)
  pages/common/yacc.md
Owners: none

yacc: add page (#10439)
  pages/common/yacc.md
Owners: none

minikube tunnel added
  pages/common/minikube.md
Owners: none

minikube tunnel colomn added
  pages/common/minikube.md
Owners: none

Updates as per suggestions
  pages/linux/qm-disk-resize.md
Owners: none

qm-disk-resize: add page; qm-resize: add alias page (#10496)
  pages/linux/qm-disk-resize.md
  pages/linux/qm-resize.md
Owners: none

qm-disk-resize: add page; qm-resize: add alias page (#10496)
  pages/linux/qm-disk-resize.md
  pages/linux/qm-resize.md
Owners: none

Update page qm-importdisk
  pages/linux/qm-importdisk.md
Owners: none

nc: page edit
  pages/common/nc.md
Owners: none

unified names
  pages/common/nc.md
Owners: none

colorls: add Japanese translation
  pages.ja/common/colorls.md
Owners: none

xbps-{install,remove,query}: add page; xbps: update page (#10354)
  pages/linux/xbps-install.md
  pages/linux/xbps-query.md
  pages/linux/xbps-remove.md
  pages/linux/xbps.md
Owners: none

xbps-{install,remove,query}: add page; xbps: update page (#10354)
  pages/linux/xbps-install.md
  pages/linux/xbps-query.md
  pages/linux/xbps-remove.md
  pages/linux/xbps.md
Owners: none

slmgr, slmgr.vbs: add page (#8201)
  pages/windows/slmgr.md
  pages/windows/slmgr.vbs.md
Owners: none

slmgr, slmgr.vbs: add page (#8201)
  pages/windows/slmgr.md
  pages/windows/slmgr.vbs.md
Owners: none

axel: add Spanish translation (#10089)
  pages.es/common/axel.md
Owners: @navarroaxel

axel: add Spanish translation (#10089)
  pages.es/common/axel.md
Owners: @navarroaxel

btrfs-{restore, version, scrub}, mkfs.btrfs: add pt_BR translation (#10110)
  pages.pt_BR/linux/btrfs-restore.md
  pages.pt_BR/linux/btrfs-scrub.md
  pages.pt_BR/linux/btrfs-version.md
  pages.pt_BR/linux/mkfs.btrfs.md
Owners: @waldyrious

btrfs-{restore, version, scrub}, mkfs.btrfs: add pt_BR translation (#10110)
  pages.pt_BR/linux/btrfs-restore.md
  pages.pt_BR/linux/btrfs-scrub.md
  pages.pt_BR/linux/btrfs-version.md
  pages.pt_BR/linux/mkfs.btrfs.md
Owners: @waldyrious

xz*: update pages (#10192)
  pages/common/xz.md
  pages/common/xzcmp.md
  pages/common/xzdiff.md
  pages/common/xzgrep.md
  pages/common/xzless.md
Owners: none

xz*: update pages (#10192)
  pages/common/xz.md
  pages/common/xzcmp.md
  pages/common/xzdiff.md
  pages/common/xzgrep.md
  pages/common/xzless.md
Owners: none

docker-images: Adding command to sort images by size (#10231)
  pages/common/docker-images.md
Owners: none

docker-images: Adding command to sort images by size (#10231)
  pages/common/docker-images.md
Owners: none

cargo-*: add pt_BR translation
  pages.pt_BR/common/cargo-add.md
  pages.pt_BR/common/cargo-build.md
  pages.pt_BR/common/cargo-clippy.md
  pages.pt_BR/common/cargo-doc.md
  pages.pt_BR/common/cargo-rustc.md
  pages.pt_BR/common/cargo-test.md
Owners: @waldyrious

distrobox, distrobox-*: add pt_BR translation
  pages.pt_BR/linux/distrobox-create.md
  pages.pt_BR/linux/distrobox-enter.md
  pages.pt_BR/linux/distrobox-export.md
  pages.pt_BR/linux/distrobox-host-exec.md
  pages.pt_BR/linux/distrobox-list.md
  pages.pt_BR/linux/distrobox-rm.md
  pages.pt_BR/linux/distrobox-stop.md
  pages.pt_BR/linux/distrobox-upgrade.md
  pages.pt_BR/linux/distrobox.md
Owners: @waldyrious

fix: line length
  pages.pt_BR/linux/distrobox-enter.md
Owners: @waldyrious

podman, podman-*: add pt_BR translation
  pages.pt_BR/common/podman-build.md
  pages.pt_BR/common/podman-compose.md
  pages.pt_BR/common/podman-image.md
  pages.pt_BR/common/podman-images.md
  pages.pt_BR/common/podman-machine.md
  pages.pt_BR/common/podman-ps.md
  pages.pt_BR/common/podman-rmi.md
  pages.pt_BR/common/podman-run.md
  pages.pt_BR/common/podman.md
Owners: @waldyrious

fix: typos
  pages.pt_BR/common/podman-compose.md
  pages.pt_BR/common/podman-image.md
  pages.pt_BR/common/podman-images.md
  pages.pt_BR/common/podman-ps.md
Owners: @waldyrious

virsh, virsh-*: add pt_BR translation
  pages.pt_BR/common/virsh-connect.md
  pages.pt_BR/common/virsh-domblklist.md
  pages.pt_BR/common/virsh-help.md
  pages.pt_BR/common/virsh-list.md
  pages.pt_BR/common/virsh-pool-autostart.md
  pages.pt_BR/common/virsh-pool-build.md
  pages.pt_BR/common/virsh-pool-define-as.md
  pages.pt_BR/common/virsh-pool-delete.md
  pages.pt_BR/common/virsh-pool-destroy.md
  pages.pt_BR/common/virsh-pool-info.md
  pages.pt_BR/common/virsh-pool-list.md
  pages.pt_BR/common/virsh-pool-start.md
  pages.pt_BR/common/virsh-pool-undefine.md
  pages.pt_BR/common/virsh-undefine.md
  pages.pt_BR/common/virsh.md
Owners: @waldyrious

ssh*, autossh, pssh: add pt_BR translation
  pages.pt_BR/common/autossh.md
  pages.pt_BR/common/pssh.md
  pages.pt_BR/common/ssh-add.md
  pages.pt_BR/common/ssh-agent.md
  pages.pt_BR/common/ssh-copy-id.md
  pages.pt_BR/common/ssh-keygen.md
  pages.pt_BR/common/ssh-keyscan.md
  pages.pt_BR/common/ssh.md
  pages.pt_BR/common/sshd.md
  pages.pt_BR/common/sshfs.md
  pages.pt_BR/common/sshpass.md
Owners: @waldyrious

pages/*: reword descriptions again (more pages)
  pages/common/cheat.md
  pages/common/gh-gist.md
  pages/common/gh-label.md
  pages/common/gh-repo.md
  pages/common/gitlab-runner.md
  pages/common/glab-repo.md
  pages/common/hostess.md
  pages/common/html5validator.md
  pages/common/jwt.md
  pages/common/miniserve.md
  pages/common/particle.md
  pages/common/speedtest-cli.md
  pages/common/ts-node.md
  pages/common/tts.md
  pages/linux/gnome-calculator.md
  pages/linux/httpie.md
  pages/linux/larasail.md
  pages/linux/rtorrent.md
  pages/linux/snap.md
  pages/linux/tuxi.md
  pages/windows/fondue.md
Owners: none

docker*, x11docker, kdocker: add pt_BR translation
  pages.pt_BR/common/docker-commit.md
  pages.pt_BR/common/docker-container.md
  pages.pt_BR/common/docker-exec.md
  pages.pt_BR/common/docker-image.md
  pages.pt_BR/common/docker-inspect.md
  pages.pt_BR/common/docker-load.md
  pages.pt_BR/common/docker-login.md
  pages.pt_BR/common/docker-machine.md
  pages.pt_BR/common/docker-network.md
  pages.pt_BR/common/docker-pull.md
  pages.pt_BR/common/docker-save.md
  pages.pt_BR/common/docker-secret.md
  pages.pt_BR/common/docker-service.md
  pages.pt_BR/common/docker-slim.md
  pages.pt_BR/common/docker-swarm.md
  pages.pt_BR/common/docker-system.md
  pages.pt_BR/common/docker-tag.md
  pages.pt_BR/common/docker-update.md
  pages.pt_BR/common/docker-volume.md
  pages.pt_BR/common/x11docker.md
  pages.pt_BR/linux/dockerd.md
  pages.pt_BR/linux/kdocker.md
Owners: @waldyrious

minikube: add `tunnel` example (#10498)
  pages/common/minikube.md
Owners: none

minikube: add `tunnel` example (#10498)
  pages/common/minikube.md
Owners: none

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @marchersimon
/pages.es/ @navarroaxel
/pages.it/ @mebeim @yutyo
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/contributing-guides/*.de.md @pixelcmtd @marchersimon
/contributing-guides/*.es.md @navarroaxel
/contributing-guides/*.it.md @mebeim @yutyo
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
