Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @navarroaxel, @kant, @kbdharun, @reinhart1010, @mebeim, @yutyo, @Magrid0, @IMHOJEONG, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @waldyrious, @isaacvicente, @blueskyson, @einverne, @sbrl

dig: remove inaccurate description of ANY
  pages.es/common/dig.md
  pages.it/common/dig.md
  pages.ja/common/dig.md
  pages.ko/common/dig.md
  pages.pt_BR/common/dig.md
  pages/common/dig.md
Owners: @navarroaxel, @kant, @mebeim, @yutyo, @Magrid0, @IMHOJEONG, @waldyrious, @isaacvicente

pages.fr: fix descriptions missing a space before the semicolon
  pages.fr/common/age.md
  pages.fr/common/anki.md
  pages.fr/common/aria2c.md
  pages.fr/common/arp.md
  pages.fr/common/aws-quicksight.md
  pages.fr/common/az.md
  pages.fr/common/csh.md
  pages.fr/common/docker-machine.md
  pages.fr/common/docker-system.md
  pages.fr/common/gh.md
  pages.fr/common/ssh-keygen.md
  pages.fr/linux/cp.md
  pages.fr/sunos/svcadm.md
Owners: none

aria2c: update French translation
  pages.fr/common/aria2c.md
Owners: none

pio-*: add Dutch translation
  pages.nl/common/pio-access.md
  pages.nl/common/pio-account.md
  pages.nl/common/pio-boards.md
  pages.nl/common/pio-check.md
  pages.nl/common/pio-ci.md
  pages.nl/common/pio-debug.md
  pages.nl/common/pio-device.md
  pages.nl/common/pio-home.md
  pages.nl/common/pio-lib.md
  pages.nl/common/pio-org.md
  pages.nl/common/pio-package.md
  pages.nl/common/pio-platform.md
  pages.nl/common/pio-project.md
  pages.nl/common/pio-remote.md
  pages.nl/common/pio-run.md
  pages.nl/common/pio-settings.md
  pages.nl/common/pio-system.md
  pages.nl/common/pio-team.md
  pages.nl/common/pio-test.md
  pages.nl/common/pio-update.md
  pages.nl/common/pio-upgrade.md
  pages.nl/common/pio.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pw-link: update page; pw-*: add pt_BR translation (#11740)
  pages.pt_BR/linux/pw-cat.md
  pages.pt_BR/linux/pw-cli.md
  pages.pt_BR/linux/pw-link.md
  pages.pt_BR/linux/pw-loopback.md
  pages.pt_BR/linux/pw-play.md
  pages.pt_BR/linux/pw-record.md
  pages/linux/pw-cat.md
  pages/linux/pw-link.md
Owners: @waldyrious, @isaacvicente, @sbrl

pw-link: update page; pw-*: add pt_BR translation (#11740)
  pages.pt_BR/linux/pw-cat.md
  pages.pt_BR/linux/pw-cli.md
  pages.pt_BR/linux/pw-link.md
  pages.pt_BR/linux/pw-loopback.md
  pages.pt_BR/linux/pw-play.md
  pages.pt_BR/linux/pw-record.md
  pages/linux/pw-cat.md
  pages/linux/pw-link.md
Owners: @waldyrious, @isaacvicente, @sbrl

nixpkgs-review: add page (#11791)
  pages/common/nixpkgs-review.md
Owners: none

nixpkgs-review: add page (#11791)
  pages/common/nixpkgs-review.md
Owners: none

dig: remove inaccurate description of ANY (#11798)
  pages.es/common/dig.md
  pages.it/common/dig.md
  pages.ja/common/dig.md
  pages.ko/common/dig.md
  pages.pt_BR/common/dig.md
  pages/common/dig.md
Owners: @navarroaxel, @kant, @mebeim, @yutyo, @Magrid0, @IMHOJEONG, @waldyrious, @isaacvicente

dig: remove inaccurate description of ANY (#11798)
  pages.es/common/dig.md
  pages.it/common/dig.md
  pages.ja/common/dig.md
  pages.ko/common/dig.md
  pages.pt_BR/common/dig.md
  pages/common/dig.md
Owners: @navarroaxel, @kant, @mebeim, @yutyo, @Magrid0, @IMHOJEONG, @waldyrious, @isaacvicente

pages.fr: fix descriptions missing a space before the semicolon (#11778)
  pages.fr/common/age.md
  pages.fr/common/anki.md
  pages.fr/common/aria2c.md
  pages.fr/common/arp.md
  pages.fr/common/aws-quicksight.md
  pages.fr/common/az.md
  pages.fr/common/csh.md
  pages.fr/common/docker-machine.md
  pages.fr/common/docker-system.md
  pages.fr/common/gh.md
  pages.fr/common/ssh-keygen.md
  pages.fr/linux/cp.md
  pages.fr/sunos/svcadm.md
Owners: none

pages.fr: fix descriptions missing a space before the semicolon (#11778)
  pages.fr/common/age.md
  pages.fr/common/anki.md
  pages.fr/common/aria2c.md
  pages.fr/common/arp.md
  pages.fr/common/aws-quicksight.md
  pages.fr/common/az.md
  pages.fr/common/csh.md
  pages.fr/common/docker-machine.md
  pages.fr/common/docker-system.md
  pages.fr/common/gh.md
  pages.fr/common/ssh-keygen.md
  pages.fr/linux/cp.md
  pages.fr/sunos/svcadm.md
Owners: none

Update pio-remote.md
  pages.nl/common/pio-remote.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

Update pio-upgrade.md
  pages.nl/common/pio-upgrade.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

Update pio-lib.md
  pages.nl/common/pio-lib.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

Update pio-package.md
  pages.nl/common/pio-package.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

Update pio-run.md
  pages.nl/common/pio-run.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

Update pio-system.md
  pages.nl/common/pio-system.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

Update pio-test.md
  pages.nl/common/pio-test.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

Update pio-test.md
  pages.nl/common/pio-test.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pamflip, pnmcolormap, pnmquant, pnmremap, pnmrotate, ppmquant: add pages
  pages/common/pamflip.md
  pages/common/pnmcolormap.md
  pages/common/pnmquant.md
  pages/common/pnmremap.md
  pages/common/pnmrotate.md
  pages/common/ppmquant.md
Owners: none

Update pages/common/pnmcolormap.md
  pages/common/pnmcolormap.md
Owners: none

pnmquant: add options clarification
  pages/common/pnmquant.md
Owners: none

vboxmanage-movevm: add page
  pages/common/vboxmanage-movevm.md
Owners: none

Update pages.nl/common/pio-access.md
  pages.nl/common/pio-access.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

Update vboxmanage-movevm.md
  pages/common/vboxmanage-movevm.md
Owners: none

node: add Dutch translation
  pages.nl/common/remove-nodeversion.md
  pages.nl/common/set-nodeinstalllocation.md
  pages.nl/common/set-nodeversion.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

ptpython: add Dutch translation
  pages.nl/common/ptpython.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

python: add Dutch translation
  pages.nl/common/python.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

systemd-resolve: update page
  pages/linux/systemd-resolve.md
Owners: @sbrl

systemd-resolve: add alias page (#11543)
  pages/linux/systemd-resolve.md
Owners: @sbrl

systemd-resolve: add alias page (#11543)
  pages/linux/systemd-resolve.md
Owners: @sbrl

vboxmanage-movevm: add page (#11796)
  pages/common/vboxmanage-movevm.md
Owners: none

vboxmanage-movevm: add page (#11796)
  pages/common/vboxmanage-movevm.md
Owners: none

Apply suggestions from code review
  pages/common/pamflip.md
Owners: none

Update pages.nl/common/python.md
  pages.nl/common/python.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

python: remove placeholders
  pages/common/python.md
Owners: none

pio-*: add Dutch translation (#11799)
  pages.nl/common/pio-access.md
  pages.nl/common/pio-account.md
  pages.nl/common/pio-boards.md
  pages.nl/common/pio-check.md
  pages.nl/common/pio-ci.md
  pages.nl/common/pio-debug.md
  pages.nl/common/pio-device.md
  pages.nl/common/pio-home.md
  pages.nl/common/pio-lib.md
  pages.nl/common/pio-org.md
  pages.nl/common/pio-package.md
  pages.nl/common/pio-platform.md
  pages.nl/common/pio-project.md
  pages.nl/common/pio-remote.md
  pages.nl/common/pio-run.md
  pages.nl/common/pio-settings.md
  pages.nl/common/pio-system.md
  pages.nl/common/pio-team.md
  pages.nl/common/pio-test.md
  pages.nl/common/pio-update.md
  pages.nl/common/pio-upgrade.md
  pages.nl/common/pio.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

pio-*: add Dutch translation (#11799)
  pages.nl/common/pio-access.md
  pages.nl/common/pio-account.md
  pages.nl/common/pio-boards.md
  pages.nl/common/pio-check.md
  pages.nl/common/pio-ci.md
  pages.nl/common/pio-debug.md
  pages.nl/common/pio-device.md
  pages.nl/common/pio-home.md
  pages.nl/common/pio-lib.md
  pages.nl/common/pio-org.md
  pages.nl/common/pio-package.md
  pages.nl/common/pio-platform.md
  pages.nl/common/pio-project.md
  pages.nl/common/pio-remote.md
  pages.nl/common/pio-run.md
  pages.nl/common/pio-settings.md
  pages.nl/common/pio-system.md
  pages.nl/common/pio-team.md
  pages.nl/common/pio-test.md
  pages.nl/common/pio-update.md
  pages.nl/common/pio-upgrade.md
  pages.nl/common/pio.md
Owners: @sebastiaanspeck, @leonvsc, @Waples

python: remove placeholders
  pages.pt_BR/common/python.md
Owners: @waldyrious, @isaacvicente

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @navarroaxel @kant
/pages.hi/ @kbdharun
/pages.id/ @reinhart1010
/pages.it/ @mebeim @yutyo @Magrid0
/pages.ko/ @IMHOJEONG
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy
/pages.pt_BR/ @waldyrious @isaacvicente
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @yutyo
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @sbrl

/*.md @sbrl @kbdharun
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @navarroaxel @kant
/contributing-guides/*.hi.md @kbdharun
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @yutyo @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy
/contributing-guides/*.pt_BR.md @waldyrious @isaacvicente
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @yutyo
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson
