Repository tldr-pages/tldr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pixelcmtd, @gutjuri, @kant, @tricantivu, @ikks, @MrMw3, @Nico385412, @nicokosi, @noraj, @kbdharun, @debghs, @karthik-script, @reinhart1010, @mebeim, @tansiret, @Magrid0, @IMHOJEONG, @Zamoca42, @CodePsy-2001, @sebastiaanspeck, @leonvsc, @Waples, @acuteenvy, @spageektti, @isaacvicente, @vitorhcl, @renie, @waldyrious, @blueskyson, @einverne, @cyqsimon, @sbrl

.github/CODEOWNERS:

/pages.de/ @pixelcmtd @gutjuri
/pages.es/ @kant @tricantivu @ikks
/pages.fa/ @MrMw3
/pages.fr/ @Nico385412 @nicokosi @noraj
/pages.hi/ @kbdharun @debghs @karthik-script
/pages.id/ @reinhart1010
/pages.it/ @mebeim @tansiret @Magrid0
/pages.ko/ @IMHOJEONG @Zamoca42 @CodePsy-2001
/pages.nl/ @sebastiaanspeck @leonvsc @Waples
/pages.pl/ @acuteenvy @spageektti
/pages.pt_BR/ @isaacvicente @vitorhcl @renie
/pages.pt_PT/ @waldyrious
/pages.ta/ @kbdharun
/pages.tr/ @tansiret
/pages.zh/ @blueskyson @einverne
/pages.zh_TW/ @blueskyson

/pages/linux/ @cyqsimon

/*.md @sbrl @kbdharun @sebastiaanspeck
/.devcontainer/* @kbdharun @sebastiaanspeck
/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun

/contributing-guides/maintainers-guide.md @sbrl @kbdharun
/contributing-guides/style-guide.md @sbrl @kbdharun
/contributing-guides/*.de.md @pixelcmtd @gutjuri
/contributing-guides/*.es.md @kant @tricantivu @ikks
/contributing-guides/*.fa.md @MrMw3
/contributing-guides/*.fr.md @Nico385412 @nicokosi @noraj
/contributing-guides/*.hi.md @kbdharun @debghs @karthik-script
/contributing-guides/*.id.md @reinhart1010
/contributing-guides/*.it.md @mebeim @tansiret @Magrid0
/contributing-guides/*.ko.md @IMHOJEONG @Zamoca42 @CodePsy-2001
/contributing-guides/*.nl.md @sebastiaanspeck @leonvsc @Waples
/contributing-guides/*.pl.md @acuteenvy @spageektti
/contributing-guides/*.pt_BR.md @isaacvicente @vitorhcl @renie
/contributing-guides/*.pt_PT.md @waldyrious
/contributing-guides/*.ta.md @kbdharun
/contributing-guides/*.tr.md @tansiret
/contributing-guides/*.zh.md @blueskyson @einverne
/contributing-guides/*.zh_TW.md @blueskyson

ruff-format: add Spanish translation (#15257)
  pages.es/common/ruff-format.md
Owners: @kant, @tricantivu, @ikks

ruff-check: add Spanish translation (#15256)
  pages.es/common/ruff-check.md
Owners: @kant, @tricantivu, @ikks

ruff-check: add Spanish translation (#15256)
  pages.es/common/ruff-check.md
Owners: @kant, @tricantivu, @ikks

btop: update Spanish translation (#15255)
  pages.es/common/btop.md
Owners: @kant, @tricantivu, @ikks

btop: update Spanish translation (#15255)
  pages.es/common/btop.md
Owners: @kant, @tricantivu, @ikks

Invoke-WebRequest: add Spanish translation (#15254)
  pages.es/windows/invoke-webrequest.md
Owners: @kant, @tricantivu, @ikks

Invoke-WebRequest: add Spanish translation (#15254)
  pages.es/windows/invoke-webrequest.md
Owners: @kant, @tricantivu, @ikks

Update compgen.md
  pages/common/compgen.md
Owners: none

suspend: add page (#15247)
  pages/common/suspend.md
Owners: none

suspend: add page (#15247)
  pages/common/suspend.md
Owners: none

while: clarify descriptions (#15232)
  pages/common/while.md
Owners: none

while: clarify descriptions (#15232)
  pages/common/while.md
Owners: none

declare: add function print example and update link (#15223)
  pages/common/declare.md
Owners: none

declare: add function print example and update link (#15223)
  pages/common/declare.md
Owners: none

steamos-session-select: refresh page (#15207)
  pages/linux/steamos-session-select.md
Owners: @cyqsimon

steamos-session-select: refresh page (#15207)
  pages/linux/steamos-session-select.md
Owners: @cyqsimon

compgen: add example to show completing given strings (#15287)
  pages/common/compgen.md
Owners: none

compgen: add example to show completing given strings (#15287)
  pages/common/compgen.md
Owners: none

pacman-u: add alias page; pacman-upgrade: update page (#15179)
  pages/linux/pacman-u.md
  pages/linux/pacman-upgrade.md
Owners: @cyqsimon

pacman-u: add alias page; pacman-upgrade: update page (#15179)
  pages/linux/pacman-u.md
  pages/linux/pacman-upgrade.md
Owners: @cyqsimon

Update pages/linux/pacman-deptest.md
  pages/linux/pacman-deptest.md
Owners: @cyqsimon

pacman-d: add alias page; pacman-database: update page (#15177)
  pages/linux/pacman-d.md
  pages/linux/pacman-database.md
Owners: @cyqsimon

pacman-d: add alias page; pacman-database: update page (#15177)
  pages/linux/pacman-d.md
  pages/linux/pacman-database.md
Owners: @cyqsimon

pacman-t: add alias page; pacman-deptest: update page (#15178)
  pages/linux/pacman-de.md
  pages/linux/pacman-deptest.md
Owners: @cyqsimon

pacman-t: add alias page; pacman-deptest: update page (#15178)
  pages/linux/pacman-de.md
  pages/linux/pacman-deptest.md
Owners: @cyqsimon

darwin-rebuild: add page, home-manager: edit page (#15175)
  pages/common/home-manager.md
  pages/osx/darwin-rebuild.md
Owners: none

darwin-rebuild: add page, home-manager: edit page (#15175)
  pages/common/home-manager.md
  pages/osx/darwin-rebuild.md
Owners: none

bootc-switch: add page (#14987)
  pages/linux/bootc-switch.md
Owners: @cyqsimon

bootc-switch: add page (#14987)
  pages/linux/bootc-switch.md
Owners: @cyqsimon

distrobox-stop: add Spanish translation (#15342)
  pages.es/linux/distrobox-stop.md
Owners: @kant, @tricantivu, @ikks

distrobox-stop: add Spanish translation (#15342)
  pages.es/linux/distrobox-stop.md
Owners: @kant, @tricantivu, @ikks

distrobox-rm: add Spanish translation (#15341)
  pages.es/linux/distrobox-rm.md
Owners: @kant, @tricantivu, @ikks

distrobox-rm: add Spanish translation (#15341)
  pages.es/linux/distrobox-rm.md
Owners: @kant, @tricantivu, @ikks

distrobox-list: add Spanish translation (#15340)
  pages.es/linux/distrobox-list.md
Owners: @kant, @tricantivu, @ikks

distrobox-list: add Spanish translation (#15340)
  pages.es/linux/distrobox-list.md
Owners: @kant, @tricantivu, @ikks

distrobox-host-exec: add Spanish translation (#15339)
  pages.es/linux/distrobox-host-exec.md
Owners: @kant, @tricantivu, @ikks

distrobox-host-exec: add Spanish translation (#15339)
  pages.es/linux/distrobox-host-exec.md
Owners: @kant, @tricantivu, @ikks

distrobox-export: add Spanish translation (#15338)
  pages.es/linux/distrobox-export.md
Owners: @kant, @tricantivu, @ikks

distrobox-export: add Spanish translation (#15338)
  pages.es/linux/distrobox-export.md
Owners: @kant, @tricantivu, @ikks

distrobox-enter: add Spanish translation (#15337)
  pages.es/linux/distrobox-enter.md
Owners: @kant, @tricantivu, @ikks
