Repository tldr-pages/tldr, pull requests merged in 2019-01, with the labels that each got.

#2663 add-apt-respository/adduser/alpine:add chinese translation
  pages.cn/linux/add-apt-repository.md
  pages.cn/linux/adduser.md
  pages.cn/linux/alpine.md
  pages.cn/linux/apk.md
  pages.cn/linux/apt-cache.md
  pages.cn/linux/apt-file.md
  pages.cn/linux/apt-get.md
  pages.cn/linux/apt-key.md
  pages.cn/linux/apt-mark.md
Labels: new command

#2676 inotify-wait: add page
  pages/linux/inotify-wait.md
Labels: new command

#2674 git-pr: add page
  pages/common/git-pr.md
Labels: new command

#2678 subl: jump to line number
  pages/common/subl.md
Labels: page edit

#2681 hub: improve pull request examples
  pages/common/hub.md
Labels: page edit

#2682 chflags: add page
  pages/osx/chflags.md
Labels: new command

#2683 elm: update page, add elm make example
  pages/common/elm.md
Labels: page edit

#2687 move Chinese pages from pages.cn to pages.zh
  pages.zh/linux/add-apt-repository.md
  pages.zh/linux/adduser.md
  pages.zh/linux/alpine.md
  pages.zh/linux/apk.md
  pages.zh/linux/apt-cache.md
  pages.zh/linux/apt-file.md
  pages.zh/linux/apt-get.md
  pages.zh/linux/apt-key.md
  pages.zh/linux/apt-mark.md
  pages.zh/linux/apt.md
  pages.zh/linux/aptitude.md
  pages.zh/linux/arch.md
Labels: mass changes, translation

#2696 Include languages in index file
  scripts/build-index.js
Labels: tooling

#2692 Translate first 13 common pages in italian
  pages.it/common/7z.md
  pages.it/common/7za.md
  pages.it/common/7zr.md
  pages.it/common/ab.md
  pages.it/common/abduco.md
  pages.it/common/ack.md
  pages.it/common/adb.md
  pages.it/common/ag.md
  pages.it/common/airpaste.md
  pages.it/common/alias.md
  pages.it/common/ansible-galaxy.md
  pages.it/common/ansible-playbook.md
  pages.it/common/ansible.md
Labels: translation

#2688 node: add print argument example
  pages/common/node.md
Labels: page edit

#2697 date: convert specific date to timestamp
  pages/common/date.md
Labels: page edit

#2705 fd: use backticks for referencing commands
  pages/common/fd.md
Labels: page edit

#2704 cargo: add cargo new
  pages/common/cargo.md
Labels: page edit

#2707 Add Brazilian Portuguese translation for some common pages
  pages.pt-BR/common/ack.md
  pages.pt-BR/common/airpaste.md
  pages.pt-BR/common/apg.md
  pages.pt-BR/common/apm.md
  pages.pt-BR/common/az.md
Labels: translation

#2708 youtube-dl: fix custom filename example
  pages/common/youtube-dl.md
Labels: page edit

#2709 timeout: clarify the default signal sent to the process
  pages/common/timeout.md
Labels: page edit

#2702 tr: improve page
  pages/common/tr.md
Labels: page edit

#2703 Add contribution guidelines for translations.
  CONTRIBUTING.md
Labels: documentation

#2653 tlp: add page
  pages/linux/tlp.md
Labels: new command

#2620 ksh: add page
  pages/common/ksh.md
Labels: new command

#2710 split: remove split into n files, add split by pattern
  pages/osx/split.md
Labels: page edit

#2715 zpool: added zpool add {{pool_name}} cache
  pages/common/zpool.md
Labels: page edit

#2720 b2sum: fix typo
  pages/common/b2sum.md
Labels: page edit

#2722 base32/64: clearer command description.
  pages/common/base32.md
  pages/common/base64.md
Labels: page edit

#2711 now: add page
  pages/common/now.md
Labels: new command

#2724 read: add -p option
  pages/common/read.md
Labels: page edit

#2721 phpenv: add page
  pages/common/phpenv.md
Labels: new command

#2731 read: add example for reading input silently
  pages/common/read.md
Labels: page edit

#2729 at, batch: consistency between examples.
  pages/common/at.md
  pages/common/batch.md
Labels: page edit

#2716 cal: add `-3` example
  pages/linux/cal.md
  pages/osx/cal.md
Labels: page edit

#2728 dmesg updates
  pages/linux/dmesg.md
Labels: page edit

#2612 whereis: update osx version with missing examples
  pages/osx/whereis.md
Labels: page edit

#2645 lastb: add page
  pages/linux/lastb.md
Labels: new command

#2655 fc: add page
  pages/windows/fc.md
Labels: new command

#2637 tar: add hyphen for flags
  pages/common/tar.md
Labels: page edit

#2671 pivpn: add page
  pages/linux/pivpn.md
Labels: new command

#2734 xfce4-screenshooter: add page.
  pages/linux/xfce4-screenshooter.md
Labels: new command

#2738 chgrp: fix typo and clarify examples.
  pages/common/chgrp.md
Labels: page edit

#2737 symfony: add page
  pages/common/symfony.md
Labels: new command

#2741 mytop: add page
  pages/common/mytop.md
Labels: new command
