Repository tldr-pages/tldr, pull requests merged in 2019-09, with the labels that each got.

#3256 nmcli: add password flag to command
  pages/linux/nmcli.md
Labels: page edit

#3257 act: add page
  pages/common/act.md
Labels: new command

#3259 ssh-keyscan: add page
  pages/common/ssh-keyscan.md
Labels: new command

#3258 jest: copyedit, add one command
  pages/common/jest.md
Labels: new command, page edit

#3261 firefox: add page
  pages/common/firefox.md
Labels: new command

#3263 firefox: expand & update syntax to version 60+
  pages/common/firefox.md
Labels: page edit

#3264 apt: update description line
  pages/linux/apt.md
Labels: page edit

#3267 singularity: update file formats, replace shub with scloud
  pages/common/singularity.md
Labels: page edit

#2669 mail: add page
  pages/common/mail.md
Labels: new command

#3268 df: add -i flag
  pages/common/df.md
Labels: page edit

#3270 nextflow: Move to common
  pages/common/nextflow.md
Labels: page edit

#2872 tshark: add capture filter
  pages/linux/tshark.md
Labels: page edit

#3273 xbacklight: add page
  pages/linux/xbacklight.md
Labels: new command

#3274 nf-core: add Page
  pages/common/nf-core.md
Labels: new command

#3266 valet: add page
  pages/osx/valet.md
Labels: new command

#3277 brew-cask: change upgrade example to match the 'brew' page
  pages/osx/brew-cask.md
Labels: page edit

#3276 firefox: improve example descriptions
  pages/common/firefox.md
Labels: page edit

#3275 kill: adds a new example of killing a job
  pages/common/kill.md
Labels: page edit

#3278 nm: adjust "demangle" example and sync content across linux/osx
  pages/linux/nm.md
  pages/osx/nm.md
Labels: page edit

#3129 perl: Add PCRE one liner example
  pages/common/perl.md
Labels: page edit

#3280 lxc: change container creation command
  pages/linux/lxc.md
Labels: page edit
