Repository tldr-pages/tldr, pull requests merged in 2020-06, with the labels that each got.

#4074 convert: fix delay example - fixes #4064
  pages/common/convert.md
Labels: page edit

#4086 lsblk df: add exclude example
  pages/common/df.md
  pages/linux/lsblk.md
Labels: page edit

#4087 macchanger: add page
  pages/linux/macchanger.md
Labels: new command

#4089 jc: add page
  pages/common/jc.md
Labels: new command

#4090 Bugfix to correct linting error in french rsync tldr page
  pages.fr/common/rsync.md
Labels: page edit

#4083 ghost: add page
  pages/common/ghost.md
Labels: new command

#4098 homeshick: add page
  pages/linux/homeshick.md
Labels: new command

#4094 icalbuddy: fix typo and simplify examples
  pages/osx/icalbuddy.md
Labels: page edit

#4085 chown: add french translation
  pages.fr/common/chown.md
Labels: translation, waiting

#4109 atom: fix polish grammar
  pages.pl/common/atom.md
Labels: page edit

#4106 wipefs: add page
  pages/linux/wipefs.md
Labels: new command

#4105 multipass: add page
  pages/common/multipass.md
Labels: new command

#4111 composer: more information
  pages/common/composer.md
Labels: page edit

#4116 gpgv: add page
  pages/common/gpgv.md
Labels: new command

#4119 Adding entry for how to run VS Code with sudo permissions - EN and PT-BR
  pages.pt_BR/common/code.md
  pages/common/code.md
Labels: page edit

#4088 unrar: extract to another directory example
  pages/common/unrar.md
Labels: page edit

#4093 exiv2: add page
  pages/common/exiv2.md
Labels: page edit

#4114 Add organization owner: @zdroid
  MAINTAINERS.md
Labels: community

#4102 youtube-viewer: add page
  pages/common/youtube-viewer.md
Labels: new command

#4122 gpgv: fix typo
  pages/common/gpgv.md
Labels: page edit

#4124 Update example URL in youtube-viewer page
  pages/common/youtube-viewer.md
Labels: page edit

#4129 cloc: add --by-file example
  pages/common/cloc.md
Labels: page edit

#4130 CI: fix deployment branch check
  .github/workflows/ci.yml
Labels: bug, tooling

#4127 git-difftool: add page
  pages/common/git-difftool.md
Labels: new command
