Repository tldr-pages/tldr, pull requests merged in 2022-05, with the labels that each got.

#8068 ci.yml, stale.yml: update runtime to node16
  .github/workflows/ci.yml
  .github/workflows/stale.yml
Labels: tooling, review needed

#7957 gh*, glab*: standardize documentation
  pages/common/gh-issue.md
  pages/common/gh-pr-create.md
  pages/common/gh-pr.md
  pages/common/gh-repo.md
  pages/common/gh.md
  pages/common/glab-alias.md
  pages/common/glab-issue.md
  pages/common/glab-mr.md
  pages/common/glab-repo.md
  pages/common/glab.md
Labels: page edit, mass changes

#8013 mate-calc: add page
  pages/linux/mate-calc.md
Labels: new command, review needed

#8071 kdialog: add page
  pages/linux/kdialog.md
Labels: new command

#8072 *: fix spelling mistakes
  pages/linux/cgroups.md
  pages/linux/ffuf.md
  pages/linux/mate-calc-cmd.md
  pages/linux/mate-calc.md
  pages/linux/pinout.md
  pages/linux/po4a-gettextize.md
  pages/linux/sacctmgr.md
  pages/linux/trash.md
  pages/linux/v4l2-ctl.md
Labels: page edit, minor change

#8083 aa: add page
  pages/osx/aa.md
Labels: new command

#8079 efibootmgr: add clarity
  pages/linux/efibootmgr.md
Labels: page edit

#8003 nsenter: add --all example and refresh
  pages/linux/nsenter.md
Labels: page edit

#8061 grep, kill, lsof, pkill: add Korean translation
  pages.ko/common/grep.md
  pages.ko/common/kill.md
  pages.ko/common/lsof.md
  pages.ko/common/pkill.md
Labels: translation

#7978 reptyr: fix command name : reptyr instead of reptry
  pages/linux/reptyr.md
Labels: page edit, stalebot ignore

#8075 wipeclean: add page
  pages/common/wipeclean.md
Labels: new command, review needed

#8086 rpm: use long arguments format
  pages/linux/rpm.md
Labels: page edit

#8087 grep: improve example to add color
  pages/common/grep.md
Labels: page edit

#8078 lsns: add page
  pages/linux/lsns.md
Labels: new command

#8081 conntrack: add page
  pages/linux/conntrack.md
Labels: new command

#8070 vboxmanage: fix typo in example
  pages/common/vboxmanage.md
Labels: page edit

#8073 cpupower: add page
  pages/linux/cpupower.md
Labels: new command

#7991 btrbk: add page
  pages/linux/btrbk.md
Labels: new command, stalebot ignore

#8022 flameshot: refresh page
  pages/linux/flameshot.md
Labels: page edit, new command, stalebot ignore

#8090 hydra: replace telnet with brute force example
  pages/common/hydra.md
Labels: page edit

#8084 nsenter: add namespaces examples
  pages/linux/nsenter.md
Labels: page edit

#8069 prettier: add --write example for js and ts files
  pages/common/prettier.md
Labels: page edit, waiting

#8094 hashcat: fix more information link
  pages/linux/hashcat.md
Labels: page edit, minor change

#8088 sqlite-utils: add page
  pages/common/sqlite-utils.md
Labels: new command

#8067 vm_stat: add page
  pages/osx/vm_stat.md
Labels: new command, review needed

#8101 wal: fix examples
  pages.ca/common/wal.md
  pages/common/wal.md
Labels: page edit, translation, minor change

#8102 xdg-desktop-menu: add page
  pages/linux/xdg-desktop-menu.md
Labels: new command, review needed

#8089 bindkey: add page
  pages/common/bindkey.md
Labels: new command, review needed

#8096 xfreerdp: add examples
  pages/linux/xfreerdp.md
Labels: page edit

#8100 README: add deprecated notice to bropages
  README.md
Labels: documentation, minor change

#8106 xmodmap: add page
  pages/linux/xmodmap.md
Labels: new command

#8108 chore: move bropages to bottom
  README.md
Labels: documentation

#8107 xev: fix typo
  pages/common/xev.md
Labels: page edit, minor change

#7995 jq: refresh page
  pages/common/jq.md
Labels: page edit, stalebot ignore, review needed

#8095 msfvenom: add raw example
  pages/common/msfvenom.md
Labels: page edit, review needed

#8104 hydra: expand example description for HTTPS webform credentials
  pages/common/hydra.md
Labels: page edit

#8112 xdg-desktop-menu: fix incorrectly documented command
  pages/linux/xdg-desktop-menu.md
Labels: page edit, minor change

#8111 gpg: add signing and multiple recipients
  pages/common/gpg.md
Labels: page edit
