Repository tldr-pages/tldr, pull requests merged in 2022-06, with the labels that each got.

#8110 gpg: add notice that command is often symlinked
  pages/common/gpg.md
Labels: page edit, minor change

#8009 xed: add page
  pages/linux/xed.md
Labels: new command, stalebot ignore, review needed

#8113 ffmpeg: replace with -vf and -r example
  pages/common/ffmpeg.md
Labels: page edit, minor change

#7986 csh: refresh page
  pages/common/csh.md
Labels: page edit, stalebot ignore, review needed, minor change

#7987 fish: refresh page
  pages/common/fish.md
Labels: page edit, stalebot ignore

#8122 eget: add page
  pages/common/eget.md
Labels: new command, review needed

#8124 cgroups: fix typo in command description
  pages/linux/cgroups.md
Labels: page edit, minor change

#8120 sqlite-utils: add list tables example
  pages/common/sqlite-utils.md
Labels: page edit

#8125 ptpython, ptpython3: add page
  pages/common/ptpython.md
  pages/common/ptpython3.md
Labels: new command

#8129 popd: add more information link
  pages/common/popd.md
Labels: page edit

#8128 waitress-serve: add more information link
  pages/common/waitress-serve.md
Labels: page edit

#8134 isisdl: add page
  pages/common/isisdl.md
Labels: new command

#8135 journalctl: add --vacuum-time example
  pages/linux/journalctl.md
Labels: page edit

#8139 cloud-init: add page
  pages/linux/cloud-init.md
Labels: new command

#8114 stale.yml: Change time for issues to be stale
  .github/workflows/stale.yml
Labels: tooling

#8132 tmsu: add page
  pages/common/tmsu.md
Labels: new command

#8085 watch: add pipeline example
  pages/common/watch.md
Labels: page edit, waiting

#8142 sftp: add example
  pages/common/sftp.md
Labels: page edit, minor change

#8140 vifm: add page
  pages/common/vifm.md
Labels: new command

#8145 chpasswd: add page
  pages/linux/chpasswd.md
Labels: new command

#8133 cp: add Chinese translation
  pages.zh/common/ln.md
Labels: translation

#7872 README: refresh
  README.md
Labels: documentation, stalebot ignore, review needed

#8148 calc: move from `linux` to `common`
  pages.de/common/calc.md
  pages.es/common/calc.md
  pages.ml/common/calc.md
  pages.pt_BR/common/calc.md
  pages/common/calc.md
Labels: page edit, translation, minor change

#8153 gnome-screenshot: fix link
  pages/linux/gnome-screenshot.md
Labels: page edit, minor change

#8121 rip: add page
  pages/common/rip.md
Labels: new command, review needed

#7930 cut: refresh and add page
  pages/common/cut.md
  pages/osx/cut.md
Labels: page edit, new command, stalebot ignore

#7972 ugrep: add page
  pages.de/common/ugrep.md
  pages.nl/common/ugrep.md
  pages/common/ugrep.md
Labels: new command, translation, stalebot ignore

#7752 bash-it: add page
  pages/common/bash-it.md
Labels: new command, stalebot ignore

#8154 visudo: add example
  pages/common/visudo.md
Labels: page edit, review needed

#8158 eopkg: add page
  pages/linux/eopkg.md
Labels: new command, review needed

#8155 *: convert en-GB to en-US
  pages/common/atoum.md
  pages/common/behat.md
  pages/common/blackfire.md
  pages/common/borg.md
  pages/common/colordiff.md
  pages/common/composer-require-checker.md
  pages/common/dfc.md
  pages/common/dig.md
  pages/common/envoy.md
  pages/common/flex.md
  pages/common/fls.md
  pages/common/gdalbuildvrt.md
  pages/common/git-check-ignore.md
  pages/common/git-lfs.md
  pages/common/github-label-sync.md
  pages/common/gopass.md
  pages/common/hg-init.md
  pages/common/infection.md
  pages/common/jigsaw.md
  pages/common/lex.md
  pages/common/nokogiri.md
  pages/common/opt.md
  pages/common/pest.md
  pages/common/phan.md
  pages/common/phing.md
  pages/common/phpcpd.md
  pages/common/phploc.md
  pages/common/phpstan.md
  pages/common/progpilot.md
  pages/common/psalm.md
  pages/common/rspec.md
  pages/common/satis.md
  pages/common/sshfs.md
  pages/common/transcode.md
  pages/common/unison.md
  pages/common/zeek.md
  pages/linux/dumpe2fs.md
  pages/linux/goaccess.md
  pages/linux/radeontop.md
  pages/linux/reset.md
  pages/linux/zramctl.md
Labels: page edit, mass changes

#8156 gdal2tiles.py: add page
  pages/common/gdal2tiles.py.md
Labels: new command

#8126 cgroups: explicitly declare non-existent man pages
  pages/linux/cgroups.md
Labels: page edit

#8147 hcloud: add page
  pages/common/hcloud.md
Labels: new command

#8159 adb-install: add -s example
  pages/common/adb-install.md
Labels: page edit, review needed

#8161 pip: add install from requirements.txt example
  pages/common/pip.md
Labels: page edit

#7922 ld: add page
  pages/common/ld.md
Labels: new command, stalebot ignore

#8099 nmap: update examples to be more practical and useful
  pages/common/nmap.md
Labels: page edit

#8151 tailscale-ssh: add page
  pages/common/tailscale-ssh.md
Labels: new command

#8165 README: add suggestion to contribute with requested pages
  README.md
Labels: documentation, community, review needed

#8082 dos2unix, mac2unix, unix2dos, unix2mac: fix error in descriptions
  pages.ca/linux/dos2unix.md
  pages.es/linux/dos2unix.md
  pages.zh/linux/dos2unix.md
  pages.zh/linux/mac2unix.md
  pages.zh/linux/unix2dos.md
  pages.zh/linux/unix2mac.md
  pages/linux/dos2unix.md
  pages/linux/mac2unix.md
  pages/linux/unix2dos.md
  pages/linux/unix2mac.md
Labels: page edit, waiting, mass changes, translation

#7985 tcsh: refresh page
  pages/common/tcsh.md
Labels: page edit, stalebot ignore, review needed, minor change
