Repository tldr-pages/tldr, pull requests merged in 2025-05, with the labels that each got.

#16277 wormhole: add example
  pages/common/wormhole.md
Labels: page edit, review needed

#16310 mount: simplify example
  pages/linux/mount.md
Labels: page edit

#16312 iwctl: refresh page
  pages/linux/iwctl.md
Labels: page edit

#16290 common*: refresh old pages part 7
  pages/common/bcomps.md
  pages/common/ccomps.md
  pages/common/clementine.md
  pages/common/combine.md
  pages/common/distccd.md
  pages/common/edgepaint.md
  pages/common/errno.md
  pages/common/git-create-branch.md
  pages/common/git-show-branch.md
  pages/common/git-verify-commit.md
  pages/common/gnucash-cli.md
  pages/common/gnucash.md
  pages/common/gvcolor.md
  pages/common/gvpack.md
  pages/common/host.md
  pages/common/ifne.md
  pages/common/isutf8.md
  pages/common/laravel.md
  pages/common/lckdo.md
  pages/common/lpass.md
  pages/common/mingle.md
  pages/common/mispipe.md
  pages/common/nop.md
  pages/common/packtpub.md
  pages/common/pdfjam.md
  pages/common/pee.md
  pages/common/sccmap.md
  pages/common/snyk.md
  pages/common/tred.md
  pages/common/unflatten.md
  pages/common/vidir.md
  pages/common/vipe.md
  pages/common/xonsh.md
  pages/common/xxh.md
  pages/common/zrun.md
Labels: page edit, mass changes, review needed

#16317 musescore: update Dutch More Info link
  pages.nl/common/musescore.md
Labels: translation edit

#16316 pio-pkg: update Dutch and Korean translation
  pages.ko/common/pio-pkg.md
  pages.nl/common/pio-pkg.md
Labels: translation edit

#16315 pbpaste: update docs link
  pages.de/osx/pbpaste.md
  pages.es/osx/pbpaste.md
  pages.id/osx/pbpaste.md
  pages.ko/osx/pbpaste.md
  pages.th/osx/pbpaste.md
  pages.zh/osx/pbpaste.md
  pages/osx/pbpaste.md
Labels: page edit, translation edit

#16297 nix: align examples of translations
  pages.de/common/nix.md
  pages.ko/common/nix.md
Labels: translation edit

#16321 checkupdates: update page
  pages.hi/linux/checkupdates.md
  pages.ko/linux/checkupdates.md
  pages/linux/checkupdates.md
Labels: page edit, translation edit

#16296 figlet: make examples more universal
  pages/common/figlet.md
Labels: page edit, review needed

#16314 locale-gen, localedef: add page
  pages/linux/locale-gen.md
  pages/linux/localedef.md
Labels: new command

#16219 pages/*: use imperative mood in descriptions
  pages/common/figlist.md
  pages/common/git-status.md
  pages/common/lsof.md
  pages/linux/blkid.md
  pages/linux/eu-readelf.md
  pages/linux/getcap.md
  pages/linux/lsblk.md
  pages/linux/mkinitcpio.md
  pages/windows/get-dedupproperties.md
Labels: page edit, mass changes

#16261 importctl: new page
  pages/linux/importctl.md
Labels: new command

#16320 fc-cache: add examples
  pages/common/fc-cache.md
Labels: page edit, review needed

#16325 kde-builder: simplify initialization
  pages/linux/kde-builder.md
Labels: page edit

#16342 pages.nl/common/i*: update Dutch translation
  pages.nl/common/indent.md
  pages.nl/common/inkscape.md
  pages.nl/common/install.md
  pages/common/inkscape.md
Labels: page edit, translation edit

#16341 look: update Dutch translation
  pages.nl/common/look.md
Labels: translation edit

#16340 killall: update Dutch translation
  pages.nl/common/killall.md
Labels: translation edit

#16339 just: update Dutch translation
  pages.nl/common/just.1.md
Labels: translation edit

#16337 pages.nl/common/g*: update Dutch translation, gnmic-subscribe: fix pl…
  pages.nl/common/gemtopnm.md
  pages.nl/common/git.md
  pages.nl/common/gnmic-subscribe.md
  pages/common/gnmic-subscribe.md
Labels: page edit, translation edit

#16336 pages.nl/common/f*: update Dutch translation
  pages.nl/common/fgrep.md
  pages.nl/common/fmt.md
Labels: translation edit

#16335 pages.nl/common/e*: update Dutch translation
  pages.nl/common/egrep.md
  pages.nl/common/env.md
  pages.nl/common/expand.md
Labels: translation edit

#16334 pages.nl/*: translate 'command' like 'commando'
  pages.nl/common/$.md
  pages.nl/common/,.md
  pages.nl/common/b2sum.md
  pages.nl/common/basenc.md
  pages.nl/common/gcrane-help.md
  pages.nl/linux/distrobox-host-exec.md
  pages.nl/linux/tftp.md
Labels: translation edit

#16333 pages.nl/common/c*: update Dutch translation
  pages.nl/common/chroot.md
  pages.nl/common/clamscan.md
  pages.nl/common/clang.md
  pages.nl/common/clj.md
  pages.nl/common/cut.md
Labels: translation edit

#16332 stty: update Dutch translation
  pages.nl/common/stty.md
Labels: translation edit

#16338 pages.nl/common/d*: update Dutch translation
  pages.nl/common/date.md
  pages.nl/common/dircolors.md
  pages.nl/common/dirname.md
  pages.nl/common/docker-rm.md
  pages.nl/common/docker.md
Labels: translation edit

#16288 common*: refresh old pages part 6
  pages/common/bandwhich.md
  pages/common/buku.md
  pages/common/fakedata.md
  pages/common/gh-alias.md
  pages/common/gh-api.md
  pages/common/gh-auth.md
  pages/common/gh-browse.md
  pages/common/gh-completion.md
  pages/common/gh-gist.md
  pages/common/gh-issue-create.md
  pages/common/gh-issue.md
  pages/common/gh-label.md
  pages/common/gh-pr-create.md
  pages/common/gh-pr-merge.md
  pages/common/gh-pr.md
  pages/common/gh-repo.md
  pages/common/gh-run.md
  pages/common/gh-screensaver.md
  pages/common/gh-secret-set.md
  pages/common/gh-secret.md
  pages/common/gh-ssh-key.md
  pages/common/gh-workflow.md
  pages/common/gh.md
  pages/common/peludna-prognoza.md
  pages/common/virsh-undefine.md
  pages/common/virt-clone.md
  pages/common/virt-install.md
  pages/common/virt-qemu-run.md
  pages/common/virt-sparsify.md
  pages/common/x11docker.md
Labels: page edit, mass changes, review needed

#16293 common*: refresh old pages part 8
  pages/common/awslogs.md
  pages/common/chronic.md
  pages/common/dillo.md
  pages/common/dirsearch.md
  pages/common/fdroid.md
  pages/common/geth.md
  pages/common/git-fame.md
  pages/common/git-ignore-io.md
  pages/common/git-ignore.md
  pages/common/git-ls-remote.md
  pages/common/git-root.md
  pages/common/jhipster.md
  pages/common/josm.md
  pages/common/minifab.md
  pages/common/mongoimport.md
  pages/common/mpg321.md
  pages/common/nix-classic.md
  pages/common/nix3-search.md
  pages/common/podman-rmi.md
  pages/common/raco.md
  pages/common/react-native-start.md
  pages/common/rustscan.md
  pages/common/scalafmt.md
  pages/common/siege.md
  pages/common/spotdl.md
  pages/common/tlmgr-info.md
  pages/common/vboxmanage-cloud.md
  pages/common/whois.md
  pages/common/wrangler.md
  pages/common/xml-validate.md
Labels: page edit, mass changes, review needed

#16298 rg: add short options, simplify language
  pages/common/rg.md
Labels: page edit, review needed

#16327 nuclei: add option placeholders
  pages/common/nuclei.md
Labels: page edit, review needed

#16346 ntfs-read.py, impacket-ntfs-read: add page
  pages/common/impacket-ntfs-read.md
  pages/common/ntfs-read.py.md
Labels: new command, review needed

#16323 sfdk-{compiledb, qmltypes}, pueue-completions, mcookie: use imperative mood
  pages/common/pueue-completions.md
  pages/common/sfdk-compiledb.md
  pages/common/sfdk-qmltypes.md
  pages/linux/mcookie.md
Labels: page edit

#16309 netstat: add option placeholders
  pages/common/netstat.md
Labels: page edit, review needed

#16281 setfont: add page
  pages/linux/setfont.md
Labels: new command

#16322 udisksctl: update page
  pages.ko/linux/udisksctl.md
  pages/linux/udisksctl.md
Labels: page edit, translation edit

#16326 tmux: add option placeholders and mnemonics
  pages/common/tmux.md
Labels: page edit, review needed

#16347 pkexec: add page
  pages/linux/pkexec.md
Labels: new command

#16366 RsaCtfTool: fix page title
  pages.es/common/rsactftool.py.md
  pages/common/rsactftool.py.md
Labels: page edit, minor change, translation edit

#16361 rg: fix path placeholder
  pages/common/rg.md
Labels: page edit, review needed, minor change

#16352 naabu: update page
  pages/common/naabu.md
Labels: page edit, review needed, minor change

#16353 dnsx: update page
  pages/common/dnsx.md
Labels: page edit, review needed, minor change

#16354 httpx: update page
  pages/common/httpx.md
Labels: page edit, review needed, minor change

#16367 pages/*: fix colon typo
  pages/common/ipmitool.md
  pages/freebsd/ipmitool.md
  pages/linux/distrobox-export.md
  pages/linux/ipmitool.md
Labels: page edit

#16295 systemd-analyze: add example
  pages/linux/systemd-analyze.md
Labels: page edit

#16330 avahi-resolve: add Dutch translation
  pages.nl/linux/avahi-resolve.md
Labels: new translation

#16329 abrt-cli: add Dutch translation
  pages.nl/linux/abrt-cli.md
Labels: new translation

#16331 flock: add Dutch translation, lckdo: update More Info
  pages.nl/common/lckdo.md
  pages.nl/linux/flock.md
Labels: page edit, new translation, translation edit

#16348 whois: update Dutch More Info link
  pages.nl/common/whois.md
Labels: translation edit

#16362 pages.*/common/*: update GitHub links to docs.projectdiscovery.io
  pages.es/common/dnsx.md
  pages.es/common/naabu.md
  pages.ko/common/dnsx.md
  pages.ko/common/httpx.md
  pages.ko/common/katana.md
  pages.ko/common/naabu.md
Labels: page edit, translation edit

#16360 share: add Dutch translation
  pages.nl/sunos/share.md
Labels: new translation

#16359 procstat: add Dutch translation
  pages.nl/freebsd/procstat.md
Labels: new translation

#16350 microsoft-edge: update Dutch translation
  pages.nl/windows/microsoft-edge.md
Labels: translation edit

#16328 autojump: add Dutch translation and improve page
  pages.fr/common/autojump.md
  pages.id/common/autojump.md
  pages.it/common/autojump.md
  pages.ko/common/autojump.md
  pages.nl/common/autojump.md
  pages.zh/common/autojump.md
  pages/common/autojump.md
Labels: page edit, new translation, translation edit

#16173 ffmpeg: add Chinese translation
  pages.zh/common/ffmpeg.md
Labels: new translation

#16324 rustup-toolchain: fix missing toolchain subcommand in all commands
  pages.ko/common/rustup-toolchain.md
  pages/common/rustup-toolchain.md
Labels: page edit, review needed, translation edit

#16368 *: replace … with individual dots and refresh pages
  pages.es/common/limactl.md
  pages.it/common/clockwork-cli.md
  pages.it/common/nmap.md
  pages.ko/common/calibredb.md
  pages.ko/common/clockwork-cli.md
  pages.ko/common/limactl.md
  pages.ko/common/pathchk.md
  pages.ko/linux/tshark.md
  pages.nl/common/limactl.md
  pages.nl/common/pathchk.md
  pages.pl/common/pathchk.md
  pages.ta/linux/tshark.md
  pages/common/git.md
  pages/common/hledger-accounts.md
  pages/common/hledger-balance.md
  pages/common/hledger-balancesheet.md
  pages/common/hledger-incomestatement.md
  pages/common/hledger-ui.md
  pages/common/hledger.md
  pages/common/initdb.md
  pages/common/jdupes.md
  pages/common/limactl.md
  pages/common/nxc.md
  pages/common/pathchk.md
  pages/common/samtools.md
  pages/common/zfgrep.md
  pages/common/zgrep.md
  pages/linux/abrt-cli.md
  pages/linux/btrfs-scrub.md
  pages/linux/collectd.md
  pages/linux/extundelete.md
  pages/linux/fpsync.md
  pages/linux/lftp.md
  pages/linux/lvm.md
  pages/linux/mkfs.erofs.md
  pages/linux/modinfo.md
  pages/linux/restorecon.md
  pages/linux/st.md
  pages/linux/sxiv.md
  pages/linux/systemd-cgtop.md
  pages/linux/systool.md
  pages/linux/trizen.md
  pages/linux/tshark.md
  pages/linux/wami.md
  pages/linux/wtype.md
  pages/linux/xxhsum.md
Labels: page edit, mass changes, translation edit

#16374 mullvad: add example
  pages/common/mullvad.md
Labels: page edit, review needed

#16370 *: add option placeholders
  pages/common/git-apply.md
  pages/common/hydra.md
  pages/common/iex.md
  pages/common/ippeveps.md
  pages/common/medusa.md
  pages/common/meson.md
  pages/common/mg.md
  pages/common/mp3info.md
  pages/common/mupdf.md
  pages/common/mutool.md
  pages/common/mutt.md
  pages/common/mvn.md
  pages/common/neomutt.md
  pages/common/nmblookup.md
  pages/common/nokogiri.md
  pages/common/nxc-ftp.md
  pages/common/nxc-ldap.md
  pages/common/nxc-mssql.md
  pages/common/nxc-rdp.md
  pages/common/nxc-smb.md
  pages/common/nxc-ssh.md
  pages/common/nxc-vnc.md
  pages/common/nxc-winrm.md
  pages/common/nxc-wmi.md
  pages/common/racket.md
  pages/common/ruby.md
  pages/common/sngrep.md
  pages/common/w3m.md
  pages/common/wal.md
  pages/common/xe.md
Labels: page edit, mass changes, review needed

#16380 hugo: convert placeholders to `snake_case`
  pages.id/common/hugo.md
  pages.ko/common/hugo.md
  pages/common/hugo.md
Labels: page edit, minor change, translation edit

#16376 git: update Dutch More Info link
  pages.nl/common/git.md
Labels: translation edit

#16365 pages.*/common/*: match page title with English page
  pages.es/common/git-sizer.md
  pages.fr/common/git-sizer.md
  pages.it/common/git-sizer.md
  pages.ko/common/git-sizer.md
  pages.ko/common/npm-home.md
  pages.ko/common/virsh-undefine.md
  pages.pt_BR/common/virsh-undefine.md
  pages.tr/common/git-sizer.md
Labels: translation edit

#16378 mqtt_check.py, ntfs-read.py: comply with style-guide
  pages/common/mqtt_check.py.md
  pages/common/ntfs-read.py.md
Labels: page edit, review needed

#16373 rustup-uninstall: add page; rustup-install: convert to alias
  pages/common/rustup-install.md
  pages/common/rustup-uninstall.md
Labels: page edit, new command, review needed

#16385 calc: update documentation links
  pages.ca/common/calc.md
  pages.de/common/calc.md
  pages.es/common/calc.md
  pages.id/common/calc.md
  pages.ko/common/calc.md
  pages.ml/common/calc.md
  pages.pt_BR/common/calc.md
  pages.ta/common/calc.md
  pages.th/common/calc.md
Labels: translation edit

#16386 bash: update documentation links
  pages.de/common/bash.md
  pages.fr/common/bash.md
  pages.it/common/bash.md
  pages.ko/common/bash.md
  pages.pl/common/bash.md
  pages.pt_BR/common/bash.md
  pages.zh/common/bash.md
  pages.zh_TW/common/bash.md
Labels: translation edit

#16372 git*: refresh pages
  pages/common/git-authors.md
  pages/common/git-changelog.md
  pages/common/git-check-attr.md
  pages/common/git-check-ignore.md
  pages/common/git-cherry-pick.md
  pages/common/git-cola.md
  pages/common/git-commit-tree.md
  pages/common/git-config.md
  pages/common/git-count-objects.md
  pages/common/git-extras.md
  pages/common/git-feature.md
  pages/common/git-for-each-repo.md
  pages/common/git-format-patch.md
  pages/common/git-guilt.md
  pages/common/git-info.md
  pages/common/git-instaweb.md
  pages/common/git-lfs.md
  pages/common/git-ls-files.md
  pages/common/git-merge-base.md
  pages/common/git-merge.md
  pages/common/git-mergetool.md
  pages/common/git-mv.md
  pages/common/git-prune.md
  pages/common/git-psykorebase.md
  pages/common/git-reauthor.md
  pages/common/git-release.md
  pages/common/git-reset.md
  pages/common/git-restore.md
  pages/common/git-show-index.md
  pages/common/git-squash.md
  pages/common/git-stamp.md
  pages/common/git-stripspace.md
  pages/common/git-summary.md
  pages/common/git-verify-pack.md
  pages/common/git-verify-tag.md
  pages/common/git-whatchanged.md
Labels: page edit, mass changes, review needed

#16371 cmake, cppcheck, dalfox, gdown, gfortran, ghc: add option placeholders and update more information
  pages/common/cmake.md
  pages/common/cppcheck.md
  pages/common/dalfox.md
  pages/common/gdown.md
  pages/common/gfortran.md
  pages/common/ghc.md
Labels: page edit, mass changes, review needed

#16387 lsusb: fix switch case
  pages/linux/lsusb.md
Labels: page edit, minor change

#16381 ip-route-list: update Dutch translation
  pages.nl/linux/ip-route-list.md
Labels: translation edit

#16379 ykman-{config,oath}: add option placeholders
  pages.ko/common/ykman-config.md
  pages.ko/common/ykman-oath.md
  pages.nl/common/ykman-config.md
  pages.nl/common/ykman-oath.md
  pages.zh/common/ykman-config.md
  pages.zh/common/ykman-oath.md
  pages/common/ykman-config.md
  pages/common/ykman-oath.md
Labels: page edit, review needed, translation edit

#16299 ansible: update Spanish translation
  pages.es/common/ansible.md
Labels: translation edit

#16377 pages.nl/*: better wording
  pages.nl/common/crane-registry.md
  pages.nl/common/crane.md
  pages.nl/common/gcrane-help.md
  pages.nl/common/more.md
  pages.nl/common/radare2.md
  pages.nl/linux/more.md
  pages.nl/windows/finger.md
Labels: translation edit

#16345 asciinema: update Spanish translation
  pages.es/common/asciinema.md
Labels: translation edit

#16344 adb: update Spanish translation
  pages.es/common/adb.md
Labels: translation edit

#16311 $: update Spanish translation
  pages.es/common/$.md
Labels: translation edit

#16390 at: update Spanish translation
  pages.es/common/at.md
Labels: translation edit

#16369 rg: update Dutch translation
  pages.nl/common/rg.md
Labels: translation edit

#16389 kiterunner-{brute, kb, scan, wordlist}, kite, kr: add page
  pages/common/kite.md
  pages/common/kiterunner-brute.md
  pages/common/kiterunner-kb.md
  pages/common/kiterunner-scan.md
  pages/common/kiterunner-wordlist.md
  pages/common/kiterunner.md
  pages/common/kr.md
Labels: new command, mass changes, review needed

#16343 nix*: make filenames reflect the commands and create disambiguation pages
  pages/common/nix-build.2.md
  pages/common/nix-build.3.md
  pages/common/nix-build.md
  pages/common/nix-develop.md
  pages/common/nix-edit.md
  pages/common/nix-flake.md
  pages/common/nix-profile.md
  pages/common/nix-registry.md
  pages/common/nix-repl.md
  pages/common/nix-run.md
  pages/common/nix-search.md
  pages/common/nix-shell.2.md
  pages/common/nix-shell.3.md
  pages/common/nix-shell.md
  pages/common/nix-store.2.md
  pages/common/nix-store.3.md
  pages/common/nix-store.md
  pages/common/nix-why-depends.md
  scripts/wrong-filename.sh
Labels: page edit, new command, mass changes, tooling, review needed

#16394 x8: add page
  pages/common/x8.md
Labels: new command, review needed

#16396 rustup-*: add Dutch translation
  pages.nl/common/rustup-install.md
  pages.nl/common/rustup-toolchain.md
  pages.nl/common/rustup-uninstall.md
Labels: page edit, new translation

#16395 impacket-ntfs-read, ntfs-read.py: add Dutch translation
  pages.nl/common/impacket-ntfs-read.md
  pages.nl/common/ntfs-read.py.md
Labels: new translation

#16401 git: update more information link
  pages.ar/common/git.md
  pages.de/common/git.md
  pages.es/common/git.md
  pages.fr/common/git.md
  pages.id/common/git.md
  pages.it/common/git.md
  pages.ja/common/git.md
  pages.ko/common/git.md
  pages.ml/common/git.md
  pages.pl/common/git.md
  pages.pt_BR/common/git.md
  pages.sr/common/git.md
  pages.ta/common/git.md
  pages.tr/common/git.md
  pages.uk/common/git.md
  pages.zh/common/git.md
Labels: mass changes, translation edit

#16406 pacstrap: update page
  pages/linux/pacstrap.md
Labels: page edit

#16313 nixos-rebuild: add example for list-generations command
  pages.de/linux/nixos-rebuild.md
  pages.ko/linux/nixos-rebuild.md
  pages/linux/nixos-rebuild.md
Labels: page edit, translation edit

#16133 xattr: add Indonesian translation
  pages.id/osx/xattr.md
Labels: review needed, new translation

#16404 ansible: update more information link
  pages.de/common/ansible.md
  pages.fr/common/ansible.md
  pages.id/common/ansible.md
  pages.it/common/ansible.md
  pages.ko/common/ansible.md
  pages.pt_BR/common/ansible.md
  pages.zh/common/ansible.md
Labels: translation edit

#16413 case: use long options
  pages/common/case.md
Labels: page edit, review needed

#16416 history: update more information link
  pages.es/common/history.md
  pages.id/common/history.md
  pages.ja/common/history.md
  pages.ko/common/history.md
  pages.pt_BR/common/history.md
  pages.pt_PT/common/history.md
  pages.ru/common/history.md
Labels: translation edit

#16417 alacritty: update more information link
  pages.de/common/alacritty.md
  pages.fr/common/alacritty.md
  pages.id/common/alacritty.md
  pages.it/common/alacritty.md
  pages.ko/common/alacritty.md
  pages.pt_BR/common/alacritty.md
  pages.pt_PT/common/alacritty.md
  pages.zh/common/alacritty.md
Labels: translation edit

#16418 ag: update more information link
  pages.fr/common/ag.md
  pages.id/common/ag.md
  pages.it/common/ag.md
  pages.ja/common/ag.md
  pages.ko/common/ag.md
  pages.pl/common/ag.md
  pages.pt_BR/common/ag.md
  pages.ru/common/ag.md
  pages.zh/common/ag.md
Labels: translation edit

#16407 genfstab: update page
  pages/linux/genfstab.md
Labels: page edit

#16410 kate: refresh page
  pages/common/kate.md
Labels: page edit, review needed

#16434 tr: update Arabic page
  pages.ar/common/tr.md
Labels: review needed, translation edit

#16429 godot: update `--export` example to `--export-release`
  pages/common/godot.md
Labels: page edit, review needed

#16423 common*: refresh old pages part 10
  pages/common/doctl-account.md
  pages/common/doctl-auth.md
  pages/common/doctl-balance.md
  pages/common/doctl-databases-db.md
  pages/common/doctl-databases-firewalls.md
  pages/common/doctl-databases-maintenance-window.md
  pages/common/doctl-databases-options.md
  pages/common/doctl-databases-pool.md
  pages/common/doctl-databases-replica.md
  pages/common/doctl-databases-sql-mode.md
  pages/common/doctl-databases-user.md
  pages/common/doctl-databases.md
  pages/common/handbrakecli.md
  pages/common/ipaggmanip.md
  pages/common/jadx.md
  pages/common/mongodump.md
Labels: page edit, mass changes, review needed

#16422 common*: refresh old pages part 9
  pages/common/grip.md
  pages/common/hardhat.md
  pages/common/highlight.md
  pages/common/loadtest.md
  pages/common/obs.md
  pages/common/pdf-parser.md
  pages/common/pdfgrep.md
  pages/common/rscript.md
  pages/common/s.md
  pages/common/sshuttle.md
  pages/common/tlmgr-backup.md
  pages/common/tlmgr-candidates.md
  pages/common/tlmgr-check.md
  pages/common/tlmgr-conf.md
  pages/common/tlmgr-dump-tlpdb.md
  pages/common/tlmgr-generate.md
  pages/common/tlmgr-gui.md
  pages/common/tlmgr-info.md
  pages/common/tlmgr-install.md
  pages/common/tlmgr-key.md
  pages/common/tlmgr-option.md
  pages/common/tlmgr-paper.md
  pages/common/tlmgr-path.md
  pages/common/tlmgr-platform.md
  pages/common/tlmgr-remove.md
  pages/common/tlmgr-repository.md
  pages/common/tlmgr-restore.md
  pages/common/tlmgr-search.md
  pages/common/tlmgr-shell.md
  pages/common/tlmgr-update.md
  pages/common/tlmgr.md
Labels: page edit, mass changes, review needed

#16420 bcachefs: add snapshot example
  pages/linux/bcachefs.md
Labels: page edit

#16415 watchexec: add example
  pages/common/watchexec.md
Labels: page edit, review needed

#16421 dysk: add option placeholders and update more information link
  pages/linux/dysk.md
Labels: page edit

#16424 watchman: add main page
  pages/common/watchman.md
Labels: new command, review needed

#16409 gamescope: add page
  pages/linux/gamescope.md
Labels: new command

#16268 ffmpeg: add Arabic translation
  pages.ar/common/ffmpeg.md
Labels: review needed, new translation

#16450 lshw: add option placeholders
  pages/linux/lshw.md
Labels: page edit

#16449 dpkg-{deb, query}: add option placeholders
  pages/linux/dpkg-deb.md
  pages/linux/dpkg-query.md
Labels: page edit

#16446 arp: update more information link
  pages.de/common/arp.md
  pages.es/common/arp.md
  pages.fr/common/arp.md
  pages.id/common/arp.md
  pages.it/common/arp.md
  pages.ja/common/arp.md
  pages.ko/common/arp.md
  pages.pl/common/arp.md
  pages.pt_BR/common/arp.md
  pages.tr/common/arp.md
  pages.zh/common/arp.md
Labels: mass changes, translation edit

#16444 pulumi*: add option placeholders
  pages/common/pulumi-about.md
  pages/common/pulumi-cancel.md
  pages/common/pulumi-config.md
  pages/common/pulumi-destroy.md
  pages/common/pulumi-env.md
  pages/common/pulumi-new.md
  pages/common/pulumi-preview.md
  pages/common/pulumi-refresh.md
  pages/common/pulumi-stack.md
  pages/common/pulumi-state.md
  pages/common/pulumi-up.md
Labels: page edit, mass changes, review needed

#16443 reuse: add page
  pages/common/reuse.md
Labels: new command, review needed

#16440 rofi, wofi: refresh pages
  pages/linux/rofi.md
  pages/linux/wofi.md
Labels: page edit

#16452 zsh: update more information links
  pages.de/common/zsh.md
  pages.es/common/zsh.md
  pages.fr/common/zsh.md
  pages.it/common/zsh.md
  pages.ko/common/zsh.md
  pages.pt_BR/common/zsh.md
  pages.ru/common/zsh.md
  pages.zh/common/zsh.md
Labels: translation edit

#16454 autossh: update more information links
  pages.es/common/autossh.md
  pages.fr/common/autossh.md
  pages.it/common/autossh.md
  pages.ko/common/autossh.md
  pages.pt_BR/common/autossh.md
Labels: translation edit

#16451 ssh: add shorthand example
  pages/common/ssh.md
Labels: page edit, review needed

#16456 ffuf: use example.com
  pages/common/ffuf.md
Labels: page edit, review needed

#16462 *: fix example websites
  pages/common/ippevepcl.md
  pages/common/ippeveps.md
  pages/common/ngrok.md
  pages/linux/exiqgrep.md
Labels: page edit

#16448 systemd*: add option placeholders and remove =
  pages/linux/systemd-ac-power.md
  pages/linux/systemd-cgls.md
  pages/linux/systemd-cgtop.md
  pages/linux/systemd-creds.md
  pages/linux/systemd-delta.md
  pages/linux/systemd-detect-virt.md
  pages/linux/systemd-dissect.md
  pages/linux/systemd-escape.md
  pages/linux/systemd-firstboot.md
  pages/linux/systemd-hwdb.md
  pages/linux/systemd-id128.md
  pages/linux/systemd-machine-id-setup.md
  pages/linux/systemd-mount.md
  pages/linux/systemd-notify.md
  pages/linux/systemd-nspawn.md
  pages/linux/systemd-repart.md
  pages/linux/systemd-run.md
  pages/linux/systemd-socket-activate.md
  pages/linux/systemd-stdio-bridge.md
Labels: page edit, mass changes

#16459 CONTRIBUTING: add a link to style-guide and clarify option usage
  CONTRIBUTING.md
Labels: documentation

#16461 olevba: fix more information text
  pages/common/olevba.md
Labels: page edit, review needed

#16437 doctl*: add option placeholders
  pages/common/doctl-account.md
  pages/common/doctl-apps.md
  pages/common/doctl-auth.md
  pages/common/doctl-balance.md
  pages/common/doctl-compute-droplet.md
  pages/common/doctl-databases-db.md
  pages/common/doctl-databases-firewalls.md
  pages/common/doctl-databases-maintenance-window.md
  pages/common/doctl-databases-options.md
  pages/common/doctl-databases-pool.md
  pages/common/doctl-databases-replica.md
  pages/common/doctl-databases-sql-mode.md
  pages/common/doctl-databases-user.md
  pages/common/doctl-databases.md
  pages/common/doctl-kubernetes-cluster.md
  pages/common/doctl-kubernetes-options.md
  pages/common/doctl-serverless.md
Labels: page edit, mass changes, review needed

#16447 toolbox*: add option placeholders
  pages/linux/toolbox-create.md
  pages/linux/toolbox-enter.md
  pages/linux/toolbox-list.md
  pages/linux/toolbox-rm.md
  pages/linux/toolbox-rmi.md
  pages/linux/toolbox-run.md
  pages/linux/toolbox.md
Labels: page edit, mass changes

#16412 code: refresh page
  pages/common/code.md
Labels: page edit, review needed

#16439 hub*: add option placeholders
  pages/common/hub-ci-status.md
  pages/common/hub-create.md
  pages/common/hub-issue.md
  pages/common/hub.md
Labels: page edit, review needed

#16445 apt-{add-repository, file}: add option placeholders
  pages/linux/apt-add-repository.md
  pages/linux/apt-file.md
Labels: page edit

#16441 glab*: refresh pages
  pages/common/glab-alias.md
  pages/common/glab-auth.md
  pages/common/glab-issue.md
  pages/common/glab-mr-create.md
  pages/common/glab-mr-merge.md
  pages/common/glab-mr.md
  pages/common/glab-pipeline.md
  pages/common/glab-release.md
  pages/common/glab-repo.md
  pages/common/glab.md
Labels: page edit, mass changes, review needed

#16433 az*, cradle-install: add option placeholders
  pages/common/az-account.md
  pages/common/az-acr.md
  pages/common/az-advisor.md
  pages/common/az-aks.md
  pages/common/az-apim.md
  pages/common/az-appconfig.md
  pages/common/az-bicep.md
  pages/common/az-devops.md
  pages/common/az-disk.md
  pages/common/az-group.md
  pages/common/az-image.md
  pages/common/az-logicapp.md
  pages/common/az-login.md
  pages/common/az-network.md
  pages/common/az-pipelines.md
  pages/common/az-provider.md
  pages/common/az-redis.md
  pages/common/az-repos.md
  pages/common/az-serial-console.md
  pages/common/az-sshkey.md
  pages/common/az-storage-account.md
  pages/common/az-storage-container.md
  pages/common/az-storage-entity.md
  pages/common/az-storage-queue.md
  pages/common/az-storage-table.md
  pages/common/az-tag.md
  pages/common/az-upgrade.md
  pages/common/az-version.md
  pages/common/az-vm.md
  pages/common/az-webapp.md
  pages/common/cradle-install.md
Labels: page edit, mass changes, review needed

#16435 fossil-commit: add option placeholders
  pages/common/fossil-commit.md
Labels: page edit, review needed

#16453 sqlmap: remove extra spaces in english page, add option placeholders in korean page
  pages.ko/common/sqlmap.md
  pages/common/sqlmap.md
Labels: page edit, translation edit

#16432 xml*: refesh pages
  pages/common/xml-c14n.md
  pages/common/xml-canonic.md
  pages/common/xml-depyx.md
  pages/common/xml-edit.md
  pages/common/xml-elements.md
  pages/common/xml-escape.md
  pages/common/xml-format.md
  pages/common/xml-list.md
  pages/common/xml-p2x.md
  pages/common/xml-pyx.md
  pages/common/xml-select.md
  pages/common/xml-transform.md
  pages/common/xml-unescape.md
  pages/common/xml-validate.md
  pages/common/xml-xmln.md
  pages/common/xml.md
Labels: documentation, page edit, new command, mass changes, review needed

#16455 blahaj: add page
  pages/common/blahaj.md
Labels: new command, review needed

#16465 gamescope: add example explaining the steam syntax
  pages/linux/gamescope.md
Labels: page edit

#16472 zoxide: refresh page
  pages/common/zoxide.md
Labels: page edit, review needed

#16414 dbeaver: add page
  pages/common/dbeaver.md
Labels: new command, review needed

#16474 dockdiver: refresh page
  pages/common/dockdiver.md
Labels: page edit, review needed

#16479 code: update more information links
  pages.de/common/code.md
  pages.es/common/code.md
  pages.fr/common/code.md
  pages.id/common/code.md
  pages.it/common/code.md
  pages.ko/common/code.md
  pages.pt_BR/common/code.md
  pages.zh/common/code.md
  pages.zh_TW/common/code.md
Labels: translation edit

#16477 dmesg: add mnemonic
  pages/linux/dmesg.md
Labels: page edit

#16463 lshw: refresh page
  pages/linux/lshw.md
Labels: page edit

#16460 keyd: add page
  pages/linux/keyd.md
Labels: new command

#16483 progress: add explicit monitor example
  pages/common/progress.md
Labels: page edit, review needed

#16458 pokeget: add page
  pages/common/pokeget.md
Labels: new command, review needed

#16476 chmem: add page
  pages/linux/chmem.md
Labels: new command

#16480 grep: with-match
  pages/common/grep.md
Labels: page edit, review needed

#16488 pulumi-down: add page
  pages/common/pulumi-down.md
Labels: new command, review needed

#16486 time, times: refer to each other
  pages/common/time.md
  pages/common/times.md
Labels: page edit, review needed

#16492 blkid: add example
  pages/linux/blkid.md
Labels: page edit

#16496 mkswap: update page
  pages/linux/mkswap.md
Labels: page edit

#16508 arping: update more information links
  pages.de/common/arping.md
  pages.es/common/arping.md
  pages.fr/common/arping.md
  pages.id/common/arping.md
  pages.it/common/arping.md
  pages.ko/common/arping.md
Labels: translation edit

#16509 axel: update more information links
  pages.es/common/axel.md
  pages.fr/common/axel.md
  pages.it/common/axel.md
  pages.ko/common/axel.md
  pages.pt_BR/common/axel.md
  pages.zh/common/axel.md
Labels: translation edit

#16510 ruby: update more information links
  pages.fr/common/ruby.md
  pages.id/common/ruby.md
  pages.ko/common/ruby.md
  pages.ta/common/ruby.md
Labels: translation edit

#16494 btrfs-filesystem: add swapfile example
  pages/linux/btrfs-filesystem.md
Labels: page edit

#16506 pulumi-update: add alias page
  pages/common/pulumi-update.md
Labels: new command, review needed

#16490 efibootmgr: edit boot order example
  pages/linux/efibootmgr.md
Labels: page edit
